<template>
  <div class="ConfirmToDelete">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="DELETE_TITLE" />
    <main>
      <section class="confirm">{{ CONFIRM_HEALTH_ISSUE_DELETION }}</section>
      <section class="buttons">
        <my-button
          :innerText="'戻る'"
          :width="'45%'"
          :callback="goBackToDetail"
        />
        <my-button
          :innerText="DELETE_TITLE"
          :width="'45%'"
          class="button-delete"
          :callback="invokeDeleteHospital"
        />
      </section>
    </main>
  </div>
</template>

<script>
import { MyHeader, MyButton, Modal } from '@/components';
import {
  DELETE_TITLE,
  CONFIRM_HEALTH_ISSUE_DELETION,
  DELETE_HEALTH_ISSUE_ERR_MESSAGE
} from '@/constants/lang';

export default {
  name: 'ConfirmToDelete',
  components: {
    MyHeader,
    MyButton,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      id: '',
      healthIssueID: {},
      DELETE_TITLE,
      CONFIRM_HEALTH_ISSUE_DELETION,
      DELETE_HEALTH_ISSUE_ERR_MESSAGE
    };
  },
  created() {
    this.id = this.$route.params.id;
    this.healthIssueID = this.$route.params.healthIssueID;
  },
  computed: {},
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async invokeDeleteHospital() {
      try {
        await this.$store.dispatch('deleteHealthIssue', this.healthIssueID);
      } catch (error) {
        this.errorMessage = DELETE_HEALTH_ISSUE_ERR_MESSAGE;
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'EachExamRecordList',
        params: {
          id: this.id
        }
      });
    },
    goBackToDetail() {
      this.$router.push({
        name: 'DetailOfEachExamRecord',
        params: { id: this.id, healthIssueID: this.healthIssueID }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ConfirmToDelete {
  background-color: #ffffff;
  width: inherit;
  height: inherit;
}

main {
  width: 100%;
  padding-top: 55px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.confirm {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-delete {
  background-color: #aa4443;
}
</style>
