<template>
  <main class="MedicalExaminationRecord">
    <my-header :title="HEALTH_ISSUE_RECORD_DETAIL_TITLE" />
    <div class="name"></div>
    <muted-box
      :text="TYPE"
      :description="currentDisease.realName"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="DATE_OF_CONSULTATION"
      :description="convertDate(0)"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="JUDGMENT"
      :description="getDecision"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      v-if="currentDisease.id === SPUTUM_CYTOLOGY_ID"
      :text="SPUTUM_CYTOLOGY"
      :description="getSputumCytology"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="EXECUTING_AGENCY_NAME"
      :description="getHospitalName(0)"
      :type="DEFAULT_MUTED_BOX"
    />
    <div v-show="isShow">
      <p>{{ SCHEDULE_DETAIL_INSPECTION }}</p>
      <muted-box
        :text="EXTRA_DATE_OF_CONSULTATION"
        :description="convertDate(1)"
        :type="DEFAULT_MUTED_BOX"
      />
      <muted-box
        :text="EXTRA_EXECUTING_AGENCY_NAME"
        :description="getHospitalName(1)"
        :type="DEFAULT_MUTED_BOX"
      />
    </div>
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-6" @click="redirectToEdit()">
          <submit-button :innerText="EDIT_TITLE"></submit-button>
        </div>
        <div class="col-6" @click="deletedRecord()">
          <delete-button :innerText="DELETE_TITLE"></delete-button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { MyHeader, MutedBox, SubmitButton, DeleteButton } from '@/components';
import {
  DISEASE_TYPE,
  SPUTUM_CYTOLOGY_ID
} from '@/constants/dataRecordOfEachExam';
import { mapGetters } from 'vuex';
import {
  displayMore,
  sputumCytology,
  DEFAULT_MUTED_BOX
} from '@/constants/commonConst';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  DELETE_TITLE,
  EDIT_TITLE,
  HEALTH_ISSUE_RECORD_DETAIL_TITLE,
  TYPE,
  DATE_OF_CONSULTATION,
  JUDGMENT,
  EXECUTING_AGENCY_NAME,
  EXTRA_DATE_OF_CONSULTATION,
  EXTRA_EXECUTING_AGENCY_NAME,
  SPUTUM_CYTOLOGY,
  SCHEDULE_DETAIL_INSPECTION
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    MutedBox,
    SubmitButton,
    DeleteButton
  },
  data() {
    return {
      currentDisease: {},
      healthIssue: {},
      isShow: false,
      DELETE_TITLE,
      EDIT_TITLE,
      SPUTUM_CYTOLOGY_ID,
      DEFAULT_MUTED_BOX,
      HEALTH_ISSUE_RECORD_DETAIL_TITLE,
      TYPE,
      DATE_OF_CONSULTATION,
      JUDGMENT,
      EXECUTING_AGENCY_NAME,
      EXTRA_DATE_OF_CONSULTATION,
      EXTRA_EXECUTING_AGENCY_NAME,
      SPUTUM_CYTOLOGY,
      SCHEDULE_DETAIL_INSPECTION
    };
  },
  created() {
    const id = this.$route.params.id;
    const healthIssueID = this.$route.params.healthIssueID;

    this.currentDisease = DISEASE_TYPE.find(item => {
      return item.id === id;
    });
    this.healthIssue = this.getHealthIssueByID(healthIssueID);

    this.isShow =
      this.healthIssue.decision.toString() === 'true' ? true : false;
  },
  methods: {
    redirectToEdit() {
      this.$router.push({
        name: 'EditHealthIssueRecord',
        params: {
          id: this.currentDisease.id,
          healthIssueID: this.healthIssue.healthIssueID
        }
      });
    },
    deletedRecord() {
      this.$router.push({
        name: 'DeleteHealthIssueRecord',
        params: {
          id: this.currentDisease.id,
          healthIssueID: this.healthIssue.healthIssueID
        }
      });
    },
    convertDate(index) {
      // 0 = normal, 1 = extra field
      if (index === 0) {
        return dateFormat.convertTimestampToDate(
          this.healthIssue.dateOfConsultation
        );
      } else {
        return dateFormat.convertTimestampToDate(
          this.healthIssue.extraDateOfConsultation
        );
      }
    },
    getHospitalName(index) {
      // 0 = normal, 1 = extra field
      if (index === 0) {
        const found = this.getHospitalByID(
          this.healthIssue.executingAgencyName
        );
        if (found) {
          return found.hospitalName;
        }
      } else {
        const found = this.getHospitalByID(
          this.healthIssue.extraExecutingAgencyName
        );
        if (found) {
          return found.hospitalName;
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      getHospitalByID: 'getHospitalByID',
      getHealthIssueByID: 'getHealthIssueByID'
    }),
    getDecision() {
      const found = displayMore
        .slice(0)
        .find(item => item.value.toString() === this.healthIssue.decision);
      if (found) return found.text;
      return '';
    },
    getSputumCytology() {
      if (this.healthIssue.sputumCytology) {
        return sputumCytology.find(
          item => item.value === this.healthIssue.sputumCytology
        ).text;
      }
      return '';
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.name {
  padding-top: 85px;
}
p {
  margin: 0.75rem;
  padding-top: 0.75rem;
}
</style>
