<template>
  <main class="MedicalExaminationRecord">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="HEALTH_ISSUE_RECORD_EDIT_TITLE" />
    <div class="name"></div>
    <form class="form-container">
      <span class="padding">
        <text-input-default
          :label="TYPE"
          :required="false"
          label-for="diseaseType"
          :value="currentDisease.realName"
          type="text"
          :disabled="true"
        />
        <input-date-ios-scroll
          :title="DATE_OF_CONSULTATION"
          class="input-date"
          :date="convertDate(0)"
          @updateDate="updateDate(0, $event)"
        />
        <select-default
          :label="EXECUTING_AGENCY_NAME"
          labelFor="input-hospital"
          :options="getHospitals"
          :value="healthIssue.executingAgencyName"
          @updateProp="updateHospital(0, $event)"
          :placeholder1="SELECT_PLACEHOLDER"
        />
        <span class="d-block text-right">
          <p class="registerText" @click="redirectToHospitalRegister()">
            {{ REGISTER_A_HOSPITAL }}
          </p></span
        >
        <span v-if="currentDisease.id === SPUTUM_CYTOLOGY_ID">
          <select-default
            :label="SPUTUM_CYTOLOGY"
            labelFor="input-hospital"
            :options="SpecicalField"
            :value="healthIssue.sputumCytology"
            @updateProp="updateSputumCytology($event)"
            :placeholder1="SELECT_PLACEHOLDER"
          />
        </span>
        <select-default
          :label="JUDGMENT"
          labelFor="input-hospital"
          @updateProp="changeDecision($event)"
          :value="healthIssue.decision"
          :options="displayMore"
          :placeholder1="SELECT_PLACEHOLDER"
        />
      </span>
      <div class="MoreExamination" v-if="isShow">
        <div class="showmoretext">{{ DETAILED_EXAMINATION }}</div>
        <input-date-ios-scroll
          :title="EXTRA_DATE_OF_CONSULTATION"
          class="input-date padding"
          :date="convertDate(1)"
          @updateDate="updateDate(1, $event)"
        />
        <select-default
          :label="EXTRA_EXECUTING_AGENCY_NAME"
          labelFor="input-hospital"
          :options="getHospitals"
          :value="healthIssue.extraExecutingAgencyName"
          @updateProp="updateHospital(1, $event)"
          :placeholder1="SELECT_PLACEHOLDER"
          class="padding"
        />
        <span class="d-block text-right">
          <p class="registtext" @click="redirectToHospitalRegister()">
            <a>{{ REGISTER_A_HOSPITAL }}</a>
          </p></span
        >
      </div>
    </form>
    <div @click="updateHealthIssue()" class="button pb-4">
      <submit-button :innerText="SAVE_TITLE"></submit-button>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  TextInputDefault,
  SelectDefault,
  SubmitButton,
  InputDateIosScroll,
  Modal
} from '@/components';
import {
  DISEASE_TYPE,
  SPUTUM_CYTOLOGY_ID
} from '@/constants/dataRecordOfEachExam';
import { mapGetters } from 'vuex';
import { displayMore, sputumCytology } from '@/constants/commonConst';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  SAVE_TITLE,
  EDIT_HEALTH_ISSUE_ERR_MESSAGE,
  HEALTH_ISSUE_RECORD_EDIT_TITLE,
  TYPE,
  DATE_OF_CONSULTATION,
  EXECUTING_AGENCY_NAME,
  REGISTER_A_HOSPITAL,
  JUDGMENT,
  EXTRA_DATE_OF_CONSULTATION,
  EXTRA_EXECUTING_AGENCY_NAME,
  SELECT_PLACEHOLDER,
  SPUTUM_CYTOLOGY,
  DETAILED_EXAMINATION
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    TextInputDefault,
    SelectDefault,
    SubmitButton,
    InputDateIosScroll,
    Modal
  },
  data() {
    return {
      healthIssue: {},
      isModalOpen: false,
      errorMessage: '',
      currentDisease: {},
      displayMore,
      SpecicalField: sputumCytology,
      isShow: false,
      SAVE_TITLE,
      EDIT_HEALTH_ISSUE_ERR_MESSAGE,
      HEALTH_ISSUE_RECORD_EDIT_TITLE,
      TYPE,
      DATE_OF_CONSULTATION,
      EXECUTING_AGENCY_NAME,
      REGISTER_A_HOSPITAL,
      JUDGMENT,
      EXTRA_DATE_OF_CONSULTATION,
      EXTRA_EXECUTING_AGENCY_NAME,
      SPUTUM_CYTOLOGY_ID,
      SELECT_PLACEHOLDER,
      SPUTUM_CYTOLOGY,
      DETAILED_EXAMINATION
    };
  },
  created() {
    const id = this.$route.params.id;
    const healthIssueID = this.$route.params.healthIssueID;

    this.currentDisease = DISEASE_TYPE.find(item => item.id == id);
    this.healthIssue = this.getHealthIssueByID(healthIssueID);

    this.isShow = this.healthIssue.decision === 'true' ? true : false;
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async updateHealthIssue() {
      try {
        await this.$store.dispatch('updateHealthIssue', {
          healthIssueID: this.healthIssue.healthIssueID,
          healthIssue: this.healthIssue
        });
      } catch (error) {
        this.errorMessage = EDIT_HEALTH_ISSUE_ERR_MESSAGE;
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'EachExamRecordList',
        params: { id: this.currentDisease.id }
      });
    },
    convertDate(index) {
      // 0 === normal, 1 === more
      if (index === 0) {
        return dateFormat.convertTimestampToDate(
          this.healthIssue.dateOfConsultation
        );
      } else {
        if (this.healthIssue.extraDateOfConsultation) {
          return dateFormat.convertTimestampToDate(
            this.healthIssue.extraDateOfConsultation
          );
        }
        return '';
      }
    },
    changeDecision(value) {
      this.healthIssue.decision = value;
      if (value === 'true') {
        this.isShow = true;
      } else {
        this.healthIssue.extraDateOfConsultation = '';
        this.healthIssue.extraExecutingAgencyName = null;
        this.isShow = false;
      }
    },
    redirectToHospitalRegister() {
      this.$router.push({ name: 'PrimaryCareHospitalRegister' });
    },
    updateDate(index, value) {
      if (index === 0) {
        this.healthIssue.dateOfConsultation = new Date(value).getTime();
      } else {
        if (value) {
          this.healthIssue.extraDateOfConsultation = new Date(value).getTime();
        } else {
          this.healthIssue.extraDateOfConsultation = '';
        }
      }
    },
    updateHospital(index, value) {
      if (index === 0) this.healthIssue.executingAgencyName = value;
      else this.healthIssue.extraExecutingAgencyName = value;
    },
    updateSputumCytology(value) {
      this.healthIssue.sputumCytology = value;
    }
  },
  computed: {
    ...mapGetters({
      hospitals: 'getHospitalList',
      getHealthIssueByID: 'getHealthIssueByID'
    }),
    getHospitals() {
      return this.hospitals.slice(0).map(item => {
        return { text: item.hospitalName, value: item.hospitalID };
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.name {
  padding-top: 70px;
}
p {
  margin: 0;
  padding: 0;
}
.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: var(--width);
}
.padding {
  padding-right: 1rem;
  padding-left: 1rem;
}
.input-date {
  padding-top: 1.5rem;
}
.MoreExamination {
  background-color: #eef2d0;
  margin-top: 2rem;
  margin: none !important;
  width: 100%;
}
.showmoretext {
  text-align: center;
  font-family: HiraginoProW3;
  font-size: 18px;
}
div {
  padding-top: 1.5rem;
}
.registerText {
  display: inline-block;
  color: #c7d66c;
  margin-top: 1rem;
  font-family: HiraginoProW6;
  font-size: 14px;
}
a {
  color: #c7d66c;
  text-decoration: none;
}
.button {
  margin: 1rem 1rem 2rem 1rem;
}
span {
  width: 100%;
}
.registtext {
  text-align: right;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-family: HiraginoProW6;
  font-size: 14px;
}
</style>
