<template>
  <main class="RecordOfEachExamCategory">
    <my-header :title="HEALTH_ISSUE_TITLE" />
    <div class="first-section"></div>
    <section
      v-for="(item, index) in healthNotebookCategory"
      v-bind:key="index"
      @click="redirect(item)"
    >
      <span>{{ item.realName }}</span>
      <svg height="56" width="100">
        <polygon points="70,20 70,40 80,29" />
      </svg>
    </section>
  </main>
</template>

<script>
import { MyHeader } from '@/components';
import { DISEASE_TYPE } from '@/constants/dataRecordOfEachExam';
import { HEALTH_ISSUE_TITLE } from '@/constants/lang';

export default {
  name: 'RecordOfEachExamCategory',
  components: {
    MyHeader
  },
  data() {
    return {
      healthNotebookCategory: DISEASE_TYPE,
      HEALTH_ISSUE_TITLE
    };
  },
  methods: {
    redirect(currentDisease) {
      this.$router.push({
        name: 'EachExamRecordList',
        params: { id: currentDisease.id }
      });
    }
  },
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.RecordOfEachExamCategory {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

section {
  padding: 0 5px 0 15px;
  width: inherit;
  height: 64px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: HiraginoProW3;
}
.first-section {
  margin-top: 56px;
}
svg {
  fill: #c7d66c;
}
</style>
