<template>
  <main class="EachExaminationRecord">
    <my-header :title="currentDisease.realName" />
    <div class="name"></div>
    <b-container class="tag mt-4 pb-4">
      <div v-if="getSortedRecord.length > 0">
        <section v-for="(item, index) in getSortedRecord" :key="index">
          <div
            class="tag-data"
            style="cursor:pointer"
            @click="redirectToDetail(item)"
          >
            <b-row>
              <b-col class="text-top" cols="8"
                >{{ convertTimestampToDate(item.dateOfConsultation) }}
              </b-col>
            </b-row>
            <b-row>
              <b-col class="text-bottom"
                >{{ JUDGMENT }}:
                <span style="color:#101010">{{
                  getDecision(item.decision)
                }}</span></b-col
              >
            </b-row>
          </div>
        </section>
      </div>
      <div class="text-center pb-4 pt-5" v-else>
        <p>{{ UNREGISTERED_HEALTH_ISSUE_MESSAGE }}</p>
      </div>
      <div class="button"></div>
      <span @click="redirectToRegister()" class="d-block pb-4">
        <submit-button :innerText="SIGN_UP_TITLE"></submit-button>
      </span>
    </b-container>
  </main>
</template>

<script>
import { MyHeader, SubmitButton } from '@/components';
import { DISEASE_TYPE } from '@/constants/dataRecordOfEachExam';
import { mapGetters } from 'vuex';
import { displayMore } from '@/constants/commonConst';
import {
  DATE_FORMAT,
  SIGN_UP_TITLE,
  JUDGMENT,
  UNREGISTERED_HEALTH_ISSUE_MESSAGE
} from '@/constants/lang';
import moment from 'moment';

export default {
  name: 'EachExaminationRecord',
  components: {
    MyHeader,
    SubmitButton
  },
  data() {
    return {
      currentDisease: {},
      SIGN_UP_TITLE,
      JUDGMENT,
      UNREGISTERED_HEALTH_ISSUE_MESSAGE,
      DATE_FORMAT
    };
  },
  created() {
    window.scrollTo(0, 0);

    const id = this.$route.params.id;
    this.currentDisease = DISEASE_TYPE.find(item => {
      return item.id === id;
    });
  },
  methods: {
    redirectToRegister() {
      this.$router.push({
        name: 'RegisterOfEachExamRecord',
        params: { id: this.currentDisease.id }
      });
    },
    redirectToDetail(item) {
      this.$router.push({
        name: 'DetailOfEachExamRecord',
        params: {
          id: this.currentDisease.id,
          healthIssueID: item.healthIssueID
        }
      });
    },
    getDecision(value) {
      const found = displayMore
        .slice(0)
        .find(item => item.value.toString() == value);
      if (found) return found.text;
      return '';
    },
    convertTimestampToDate(time) {
      if (time) {
        return moment(time).format(this.DATE_FORMAT);
      }
      return '';
    }
  },

  computed: {
    ...mapGetters({
      healthIssue: 'getHealthIssueList'
    }),
    getSortedRecord() {
      return this.healthIssue
        .slice(0)
        .filter(item => item.type == this.currentDisease.id)
        .sort((a, b) => a.dateOfConsultation - b.dateOfConsultation);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.EachExaminationRecord {
  height: inherit;
  overflow: auto;
  background-color: var(--background-color);
}
.button {
  margin-top: 2rem;
}
.name {
  padding-top: 56px;
}
.tag {
  width: var(--width);
}
div.text-center p {
  font-family: NotoSansJPLight;
  font-size: 16px;
  color: #101010;
}
.tag-data {
  background-color: #fff;
  margin-bottom: 1.2rem;
  border-radius: 7px;
  box-shadow: 0px 5px 5px 1px #ccc;
  font-size: 1rem;
  font-family: HiraginoProW3;
}
.text-top {
  margin: 1.1rem 0rem 0rem 1rem;
  padding-right: 0;
  font-size: 1rem;
}

.text-bottom {
  margin: 0.3rem 0rem 1.1rem 1rem;
  color: #aaaaaa;
  font-size: 11px;
}
</style>
