<template>
  <main class="MedicalExaminationRecord">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="HEALTH_ISSUE_RECORD_REGISTER_TITLE" />
    <div class="name"></div>
    <form class="form-container">
      <span class="padding">
        <text-input-default
          :label="TYPE"
          label-for="diseaseType"
          :value="currentDisease.realName"
          type="text"
          :required="false"
          :disabled="true"
        />
        <input-date-ios-scroll
          :title="DATE_OF_CONSULTATION"
          class="input-date"
          :date="convertDate(0)"
          :hasError="
            $v.healthIssue.dateOfConsultation.$invalid &&
              $v.healthIssue.dateOfConsultation.$dirty
          "
          @updateDate="updateDate(0, $event)"
        />
        <p
          class="error-message"
          v-if="
            $v.healthIssue.dateOfConsultation.$invalid &&
              $v.healthIssue.dateOfConsultation.$dirty &&
              !$v.healthIssue.dateOfConsultation.required
          "
        >
          {{ ERROR_REQUIRED }}
        </p>
        <select-default
          :label="EXECUTING_AGENCY_NAME"
          labelFor="input-hospital"
          :options="getHospitals"
          :value="healthIssue.executingAgencyName"
          :hasError="
            $v.healthIssue.executingAgencyName.$invalid &&
              $v.healthIssue.executingAgencyName.$dirty
          "
          @updateProp="updateHospital(0, $event)"
          :placeholder1="SELECT_PLACEHOLDER"
        />
        <p
          class="error-message"
          v-if="
            $v.healthIssue.executingAgencyName.$invalid &&
              $v.healthIssue.executingAgencyName.$dirty &&
              !$v.healthIssue.executingAgencyName.required
          "
        >
          {{ ERROR_REQUIRED }}
        </p>
        <span class="d-block text-right">
          <p class="registerText" @click="redirectToHospitalRegister()">
            {{ REGISTER_A_HOSPITAL }}
          </p>
        </span>

        <span v-if="currentDisease.id === SPUTUM_CYTOLOGY_ID">
          <select-default
            :label="喀痰細胞診"
            labelFor="input-hospital"
            :options="SpecicalField"
            :value="healthIssue.sputumCytology"
            @updateProp="updateSputumCytology($event)"
            :placeholder1="SELECT_PLACEHOLDER"
          />
        </span>
        <select-default
          :label="JUDGMENT"
          labelFor="input-hospital"
          @updateProp="changeDecision($event)"
          :value="healthIssue.decision"
          :hasError="
            $v.healthIssue.decision.$invalid && $v.healthIssue.decision.$dirty
          "
          :options="displayMore"
          :placeholder1="SELECT_PLACEHOLDER"
        />
        <p
          class="error-message"
          v-if="
            $v.healthIssue.decision.$invalid &&
              $v.healthIssue.decision.$dirty &&
              !$v.healthIssue.decision.required
          "
        >
          {{ ERROR_REQUIRED }}
        </p>
      </span>
      <div class="MoreExamination" v-if="isShow">
        <div class="showmoretext">{{ DETAILED_EXAMINATION }}</div>
        <input-date-ios-scroll
          :title="EXTRA_DATE_OF_CONSULTATION"
          class="input-date padding"
          :date="convertDate(1)"
          @updateDate="updateDate(1, $event)"
        />

        <select-default
          :label="EXTRA_EXECUTING_AGENCY_NAME"
          labelFor="input-hospital"
          :options="getHospitals"
          :value="healthIssue.extraExecutingAgencyName"
          @updateProp="updateHospital(1, $event)"
          :placeholder1="SELECT_PLACEHOLDER"
          class="padding"
        />

        <span class="d-block text-right padding">
          <p class="registerText" @click="redirectToHospitalRegister()">
            <a>{{ REGISTER_A_HOSPITAL }}</a>
          </p></span
        >
      </div>
    </form>
    <div @click="createHealthIssue()" class="button pb-4">
      <submit-button :innerText="REGISTRATION"></submit-button>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  TextInputDefault,
  SelectDefault,
  SubmitButton,
  InputDateIosScroll,
  Modal
} from '@/components';
import {
  DISEASE_TYPE,
  SPUTUM_CYTOLOGY_ID
} from '@/constants/dataRecordOfEachExam';
import { mapGetters } from 'vuex';
import { displayMore, sputumCytology } from '@/constants/commonConst';
import { required } from 'vuelidate/lib/validators';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  ERROR_REQUIRED,
  REGISTRATION,
  REGISTRATION_HEALTH_ISSUE_ERR_MESSAGE,
  HEALTH_ISSUE_RECORD_REGISTER_TITLE,
  TYPE,
  DATE_OF_CONSULTATION,
  EXECUTING_AGENCY_NAME,
  REGISTER_A_HOSPITAL,
  JUDGMENT,
  EXTRA_DATE_OF_CONSULTATION,
  EXTRA_EXECUTING_AGENCY_NAME,
  SELECT_PLACEHOLDER,
  DETAILED_EXAMINATION
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    TextInputDefault,
    SelectDefault,
    SubmitButton,
    InputDateIosScroll,
    Modal
  },
  data() {
    return {
      healthIssue: {
        type: '',
        dateOfConsultation: '',
        executingAgencyName: '',
        decision: '',
        sputumCytology: '',
        extraDateOfConsultation: '',
        extraExecutingAgencyName: null
      },
      isModalOpen: false,
      errorMessage: '',
      currentDisease: {},
      displayMore,
      SpecicalField: sputumCytology,
      isShow: false,
      ERROR_REQUIRED,
      REGISTRATION,
      REGISTRATION_HEALTH_ISSUE_ERR_MESSAGE,
      HEALTH_ISSUE_RECORD_REGISTER_TITLE,
      TYPE,
      DATE_OF_CONSULTATION,
      EXECUTING_AGENCY_NAME,
      REGISTER_A_HOSPITAL,
      JUDGMENT,
      EXTRA_DATE_OF_CONSULTATION,
      EXTRA_EXECUTING_AGENCY_NAME,
      SELECT_PLACEHOLDER,
      DETAILED_EXAMINATION,
      SPUTUM_CYTOLOGY_ID
    };
  },
  validations: {
    healthIssue: {
      dateOfConsultation: {
        required
      },
      executingAgencyName: {
        required
      },
      decision: {
        required
      }
    }
  },
  created() {
    const id = this.$route.params.id;
    const user = JSON.parse(localStorage.getItem('user'));

    this.currentDisease = DISEASE_TYPE.find(item => item.id === id);
    this.healthIssue.type = this.currentDisease.id;
    this.healthIssue.user = user;
    this.healthIssue.userID = user.userID;
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async createHealthIssue() {
      this.$v.$touch();

      if (!this.$v.$error) {
        try {
          await this.$store.dispatch('createHealthIssue', this.healthIssue);
        } catch (error) {
          this.errorMessage = REGISTRATION_HEALTH_ISSUE_ERR_MESSAGE;
          this.isModalOpen = true;
          return;
        }

        this.$router.push({
          name: 'EachExamRecordList',
          params: {
            id: this.currentDisease.id
          }
        });
      }
    },
    convertDate(index) {
      // 0 === normal, 1 === more
      if (index === 0) {
        return dateFormat.convertTimestampToDate(
          this.healthIssue.dateOfConsultation
        );
      } else {
        if (this.healthIssue.extraDateOfConsultation) {
          return dateFormat.convertTimestampToDate(
            this.healthIssue.extraDateOfConsultation
          );
        }
        return '';
      }
    },
    changeDecision(value) {
      this.healthIssue.decision = value;
      if (value === 'true') {
        this.isShow = true;
      } else {
        this.isShow = false;
        this.healthIssue.extraDateOfConsultation = '';
        this.healthIssue.extraExecutingAgencyName = null;
      }
    },
    redirectToHospitalRegister() {
      this.$router.push({ name: 'PrimaryCareHospitalRegister' });
    },
    updateDate(index, value) {
      // 0 is normal, 1 is extended
      if (index === 0)
        this.healthIssue.dateOfConsultation = new Date(value).getTime();
      else {
        if (value) {
          this.healthIssue.extraDateOfConsultation = new Date(value).getTime();
        }
      }
    },
    updateHospital(index, value) {
      // 0 is normal, 1 is extended
      if (index === 0) this.healthIssue.executingAgencyName = value;
      else this.healthIssue.extraExecutingAgencyName = value;
    },
    updateSputumCytology(value) {
      this.healthIssue.sputumCytology = value;
    }
  },
  computed: {
    ...mapGetters({
      hospitals: 'getHospitalList'
    }),
    getHospitals() {
      return this.hospitals.slice(0).map(item => {
        return { text: item.hospitalName, value: item.hospitalID };
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  margin: 0;
  padding: 0;
}
.name {
  padding-top: 70px;
}
.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: var(--width);
}
.padding {
  padding-right: 1rem;
  padding-left: 1rem;
}
.input-date {
  padding-top: 1.5rem;
}
.MoreExamination {
  background-color: #eef2d0;
  margin-top: 2rem;
  margin: none !important;
  width: 100%;
  padding-bottom: 1rem;
}
.showmoretext {
  text-align: center;
  font-family: HiraginoProW3;
  font-size: 18px;
}
div {
  padding-top: 1.5rem;
}
.registerText {
  display: inline-block;
  color: #c7d66c;
  font-family: HiraginoProW6;
  font-size: 14px;
}
a {
  color: #c7d66c;
  text-decoration: none;
}
.button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
span {
  width: 100%;
}
.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
</style>
