<template>
  <div class="ConfirmToDelete">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="DELETE_TITLE" />
    <main>
      <section class="confirm">{{ CONFIRM_INSURANCE_NOTE_DELETION }}</section>
      <section class="buttons">
        <my-button
          :innerText="'戻る'"
          :width="'45%'"
          :callback="goBackToInsuranceNote"
        />
        <my-button
          :innerText="DELETE_TITLE"
          :width="'45%'"
          class="button-delete"
          :callback="invokeDeleteInsuranceNote"
        />
      </section>
    </main>
  </div>
</template>

<script>
import { MyHeader, MyButton, Modal } from '@/components';
import { mapGetters } from 'vuex';
import {
  CONFIRM_INSURANCE_NOTE_DELETION,
  DELETE_TITLE,
  DELETE_INSURANCE_NOTE_ERR_MESSAGE
} from '@/constants/lang';

export default {
  name: 'ConfirmToDelete',
  components: {
    MyHeader,
    MyButton,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      CONFIRM_INSURANCE_NOTE_DELETION,
      DELETE_TITLE,
      DELETE_INSURANCE_NOTE_ERR_MESSAGE
    };
  },
  computed: {
    ...mapGetters({
      getInsuranceNoteByID: 'getInsuranceNoteByID'
    }),
    insuranceNote() {
      const id = this.$route.query.id;
      return this.getInsuranceNoteByID(id);
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async invokeDeleteInsuranceNote() {
      try {
        await this.$store.dispatch(
          'deleteInsuranceNote',
          this.insuranceNote.insuranceNoteID
        );
      } catch (error) {
        this.errorMessage = CONFIRM_INSURANCE_NOTE_DELETION;
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'SpecificInsuranceGuidance'
      });
    },
    goBackToInsuranceNote() {
      this.$router.push({
        name: 'SpecificInsuranceGuidanceDetail',
        query: { id: this.insuranceNote.insuranceNoteID }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ConfirmToDelete {
  background-color: #ffffff;
  width: inherit;
  height: inherit;
}

main {
  width: 100%;
  padding-top: 55px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.confirm {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-delete {
  background-color: #aa4443;
}
</style>
