<template>
  <main class="SpecificInsuranceGuidanceRegister">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="INSURANCE_NOTE_EDIT_TITLE" />
    <div class="padding"></div>
    <div class="container mt-5">
      <form @submit.prevent="updateInsuranceNote()">
        <div class="form-group">
          <input-date-ios-scroll
            :title="DATE"
            class="input"
            :date="convertDate"
            :hasError="
              $v.insuranceNote.date.$invalid && $v.insuranceNote.date.$dirty
            "
            @updateDate="updateDate($event)"
          />
          <p
            class="error-message"
            v-if="
              $v.insuranceNote.date.$invalid &&
                $v.insuranceNote.date.$dirty &&
                !$v.insuranceNote.date.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group">
          <select-default
            :label="TYPE"
            :labelFor="'type'"
            :options="option"
            :hasError="
              $v.insuranceNote.type.$invalid && $v.insuranceNote.type.$dirty
            "
            :value="insuranceNote.type"
            @updateProp="updateType($event)"
            :placeholder1="SELECT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.insuranceNote.type.$invalid &&
                $v.insuranceNote.type.$dirty &&
                !$v.insuranceNote.type.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group">
          <textarea-input-default
            :label="CONTENT"
            labelFor="content"
            type="textarea"
            :hasError="
              $v.insuranceNote.content.$invalid &&
                $v.insuranceNote.content.$dirty
            "
            :value="insuranceNote.content"
            @updateProp="updateContent($event)"
            placeholder="'例）texttexttext'"
          />
          <p
            class="error-message"
            v-if="
              $v.insuranceNote.content.$invalid &&
                $v.insuranceNote.content.$dirty &&
                !$v.insuranceNote.content.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="text-center pt-2 pb-4">
          <submit-button :innerText="SAVE_TITLE" />
        </div>
      </form>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  SelectDefault,
  SubmitButton,
  TextareaInputDefault,
  InputDateIosScroll,
  Modal
} from '@/components';
import { mapGetters } from 'vuex';
import { INSURANCE_NOTE_OPTIONS_TYPE } from '@/constants/healthTraining';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  ERROR_REQUIRED,
  EDIT_INSURANCE_NOTE_ERR_MESSAGE,
  SAVE_TITLE,
  INSURANCE_NOTE_EDIT_TITLE,
  DATE,
  TYPE,
  CONTENT,
  SELECT_PLACEHOLDER
} from '@/constants/lang';
import { required } from 'vuelidate/lib/validators';

export default {
  name: '',
  components: {
    MyHeader,
    SelectDefault,
    SubmitButton,
    TextareaInputDefault,
    'input-date-ios-scroll': InputDateIosScroll,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      insuranceNote: {},
      ERROR_REQUIRED,
      option: INSURANCE_NOTE_OPTIONS_TYPE,
      EDIT_INSURANCE_NOTE_ERR_MESSAGE,
      SAVE_TITLE,
      INSURANCE_NOTE_EDIT_TITLE,
      DATE,
      TYPE,
      CONTENT,
      SELECT_PLACEHOLDER
    };
  },
  validations: {
    insuranceNote: {
      date: {
        required
      },
      type: {
        required
      },
      content: {
        required
      }
    }
  },
  mounted() {
    const id = this.$route.query.id;
    this.insuranceNote = this.getInsuranceNoteByID(id);
  },
  computed: {
    ...mapGetters({
      getInsuranceNoteByID: 'getInsuranceNoteByID'
    }),
    convertDate() {
      return dateFormat.convertTimestampToDate(this.insuranceNote.date);
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    updateType(value) {
      this.insuranceNote.type = value;
    },
    updateContent(value) {
      this.insuranceNote.content = value;
    },
    updateDate(value) {
      this.insuranceNote.date = new Date(value).getTime();
    },
    async updateInsuranceNote() {
      this.$v.$touch();

      if (!this.$v.$error) {
        try {
          await this.$store.dispatch('updateInsuranceNote', {
            insuranceNoteID: this.insuranceNote.insuranceNoteID,
            insuranceNote: this.insuranceNote
          });
        } catch (error) {
          this.errorMessage = EDIT_INSURANCE_NOTE_ERR_MESSAGE;
          this.isModalOpen = true;
          return;
        }

        this.$router.push({
          name: 'SpecificInsuranceGuidance'
        });
      }
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.padding {
  padding-top: 55px;
}
.container {
  width: var(--width);
}
div.text-margin {
  margin-bottom: 1.5rem;
}
div.col-6:nth-child(1) {
  padding-right: 0;
}
div.col-6:nth-child(2) {
  padding-left: 5px;
}
.col-6 button {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
</style>
