<template>
  <main class="SpecificInsuranceGuidanceDetail">
    <my-header :title="INSURANCE_NOTE_DETAIL_TITLE" />
    <div class="padding"></div>
    <div class="mt-5"></div>
    <muted-box
      :text="'DATE'"
      :description="convertDate"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="TYPE"
      :description="getType(insuranceNote.type)"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="CONTENT"
      :description="insuranceNote.content"
      type="'description'"
    />
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-6" @click="editIG()">
          <submit-button :innerText="EDIT_TITLE"></submit-button>
        </div>
        <div class="col-6" @click="deleteIG()">
          <delete-button :innerText="DELETE_TITLE"></delete-button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { MyHeader, MutedBox, SubmitButton, DeleteButton } from '@/components';
import { INSURANCE_NOTE_OPTIONS_TYPE } from '@/constants/healthTraining';
import { mapGetters } from 'vuex';
import { dateFormat } from '@/utils/utilsFunctions';
import { DEFAULT_MUTED_BOX } from '@/constants/commonConst';
import {
  DELETE_TITLE,
  EDIT_TITLE,
  INSURANCE_NOTE_DETAIL_TITLE,
  DATE,
  TYPE,
  CONTENT
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    MutedBox,
    SubmitButton,
    DeleteButton
  },
  data() {
    return {
      insuranceNote: {},
      DELETE_TITLE,
      EDIT_TITLE,
      INSURANCE_NOTE_DETAIL_TITLE,
      DATE,
      TYPE,
      CONTENT,
      DEFAULT_MUTED_BOX
    };
  },
  mounted() {
    const id = this.$route.query.id;
    this.insuranceNote = this.getInsuranceNoteByID(id);
  },
  methods: {
    editIG() {
      this.$router.push({
        name: 'InsuranceNoteEdit',
        query: { id: this.insuranceNote.insuranceNoteID }
      });
    },
    deleteIG() {
      this.$router.push({
        name: 'DeleteInsuranceNote',
        query: { id: this.insuranceNote.insuranceNoteID }
      });
    },
    getType(type) {
      const found = INSURANCE_NOTE_OPTIONS_TYPE.find(
        item => item.value === type
      );
      if (found) return found.text;
      return '';
    }
  },
  computed: {
    ...mapGetters({
      getInsuranceNoteByID: 'getInsuranceNoteByID'
    }),
    convertDate() {
      return dateFormat.convertTimestampToDate(this.insuranceNote.date);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: HiraginoProW3;
}
.container {
  width: var(--width);
}
.padding {
  padding-top: 55px;
}
.form-container {
  background-color: var(--main-theme-color);
  height: 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
}
</style>
