<template>
  <a href="#" class="CreatePostButton" @click="goToNewPost">
    <img width="40%" height="40%" src="@/assets/icons/ico_post_w.png" />
  </a>
</template>

<script>
export default {
  name: 'CreatePostButton',
  methods: {
    goToNewPost() {
      this.$router.push({ name: 'SelectCategory' });
    }
  }
};
</script>

<style scoped>
.CreatePostButton {
  display: inline-block;
  text-decoration: none;
  background: var(--main-theme-color);
  color: #fff;
  width: 55px;
  height: 55px;
  margin: 10px;
  line-height: 55px;
  border-radius: 55%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px rgba(169, 169, 169, 0.4));
  transition: 0.4s;
}

.CreatePostButton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  filter: drop-shadow(2px 2px 2px rgba(128, 128, 128, 0.6));
  border-bottom: none;
}
</style>
