<template>
  <a href="#" @click="goToEditAccount">
    <img width="25px" height="25px" src="@/assets/icons/ico_gear_y.png" />
  </a>
</template>

<script>
export default {
  name: 'EditProfileButton',
  methods: {
    goToEditAccount() {
      this.$router.push({ name: 'EditAccount' });
    }
  }
};
</script>

<style scoped>
a {
  display: inline-block;
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
</style>
