<template>
  <div>
    <label
      id="label"
      class="typo__label"
      style=" font-size: 14px !important;
  font-family: HiraginoProW3 !important;"
    >
      {{ title }}</label
    >
    <multiselect
      :value="selectedValue"
      :options="options"
      :multiple="true"
      :searchable="false"
      :close-on-select="false"
      :clear-on-select="false"
      :preserve-search="true"
      :placeholder="placeholder"
      :selectLabel="selectLabel"
      :selectedLabel="selectedLabel"
      :deselectLabel="removeLabel"
      label="text"
      track-by="text"
      :preselect-first="false"
      @input="updateSelected"
    >
    </multiselect>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';

export default {
  props: {
    title: String,
    value: Array,
    options: Array,
    placeholder: String,
    selectLabel: String,
    selectedLabel: String,
    removeLabel: String
  },
  components: {
    Multiselect
  },
  created() {
    this.selectedValue = this.value && this.value;
  },
  data() {
    return {
      selectedValue: []
    };
  },
  computed: {},
  methods: {
    updateSelected(value) {
      this.selectedValue = value;
      this.$emit('updateProp', this.selectedValue);
    }
  }
};
</script>

<style src="./vue-multiselect.min.css"></style>
