<template>
  <button type="submit" v-bind:style="{ width }">{{ innerText }}</button>
</template>

<script>
export default {
  props: {
    innerText: {
      type: String,
      default: '',
      required: true
    },
    width: {
      type: String,
      default: '100%',
      required: false
    }
  }
};
</script>

<style scoped>
button {
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: var(--main-theme-color);
  color: white;
  font-family: HiraginoProW6;
  font-size: 14px;
}
</style>
