<template>
  <main class="Login">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <section class="logo">
      <img src="@/assets/icons/logo.png" />
    </section>
    <section class="form-section">
      <form @submit.stop.prevent="signIn">
        <section class="form-phone">
          <select-default
            label="国"
            labelFor="input-country"
            :options="countryCode"
            v-on:updateProp="selectedCountry = $event"
          />
          <text-input-default
            label="電話番号"
            :required="false"
            label-for="input-phone"
            :value="formUserInfo.phoneNumber"
            v-on:updateProp="formUserInfo.phoneNumber = $event"
            type="tel"
          />
        </section>
        <text-input-default
          label="パスワード"
          :required="false"
          label-for="input-password"
          :value="formUserInfo.password"
          v-on:updateProp="formUserInfo.password = $event"
          type="password"
        />
        <section class="button-container">
          <submit-button :innerText="'ログイン'" class="submit-button" />
        </section>
      </form>
      <button
        class="mt-3 button button-create-account"
        @click="goToCreateAccount"
      >
        アカウントを作成
      </button>
    </section>
  </main>
</template>

<script>
import { Auth } from 'aws-amplify';
import {
  SubmitButton,
  Modal,
  SelectDefault,
  TextInputDefault
} from '@/components';
import { store } from '@/store';
import { COUNTRY_CODE } from '@/constants/countryCode';
import { removeFirstZero } from '@/utils/phoneNumber';
import { updateUser } from '@/utils/users';

export default {
  name: 'Login',
  components: {
    Modal,
    SubmitButton,
    SelectDefault,
    TextInputDefault
  },
  data: function() {
    return {
      formUserInfo: {
        phoneNumber: '',
        awsUsername: '',
        password: ''
      },
      selectedCountry: '+81',
      errorMessage: '',
      isModalOpen: false
    };
  },
  computed: {
    countryCode() {
      return COUNTRY_CODE;
    }
  },
  async mounted() {
    let username = '';
    try {
      const cognitoSession = await Auth.currentSession();
      if (
        !cognitoSession.accessToken ||
        !cognitoSession.accessToken.payload ||
        !cognitoSession.accessToken.payload.sub
      ) {
        return;
      }
      username = cognitoSession.accessToken.payload.sub;
    } catch (error) {
      return;
    }

    let updateResult = null;
    try {
      updateResult = await updateUser(username, {
        signInedAt: Date.now()
      });
    } catch (error) {
      this.isModalOpen = true;
      this.errorMessage = 'ログイン情報を更新できませんでした。';
      return;
    }

    store.setLoginUser(updateResult);
    this.$router.push({ name: 'Home' });
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    moveNext(event) {
      event.target.nextSibling.focus();
    },
    goToCreateAccount() {
      this.$router.push({ name: 'CreateAccount' });
    },
    async signIn() {
      const phoneNumber = removeFirstZero(this.formUserInfo.phoneNumber);
      const { password } = this.formUserInfo;

      // 国コード取得
      const awsUsername = this.selectedCountry + phoneNumber;
      this.formUserInfo.awsUsername = awsUsername;

      let CognitoUser = null;
      try {
        CognitoUser = await Auth.signIn(awsUsername, password);
      } catch (error) {
        this.isModalOpen = true;
        this.errorMessage = 'サインインできませんでした';
        return;
      }
      const username = CognitoUser.getUsername();

      let result = null;
      try {
        result = await updateUser(username, { signInedAt: Date.now() });
      } catch (error) {
        this.isModalOpen = true;
        this.errorMessage = 'ログイン情報を更新できませんでした。';
        return;
      }
      store.setLoginUser(result);
      localStorage.setItem('user', JSON.stringify(store.state.loginUser));
      this.$router.push({ name: 'Home' });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Login {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-section {
  width: inherit;
  padding: 0 15px;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.form-phone {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.form-input {
  height: 50px;
}

.button-container {
  width: 100%;
}

.submit-button {
  margin-top: 25px;
}

.button {
  height: 50px;
  border: none;
  width: 100%;
  border-radius: 5px;
}

.button-create-account {
  color: var(--main-theme-color);
  font-weight: bold;
  background-color: transparent;
}
</style>
