<template>
  <div class="DateInputDefault">
    <label :for="labelFor">{{ label }}</label>
    <input
      v-bind:value="value"
      @change="$emit('updateProp', $event.target.value)"
      type="date"
      min="1901-01-01"
      max="2100-12-31"
      required
    />
  </div>
</template>

<script>
export default {
  name: 'TextInputDefault',
  props: {
    label: String,
    labelFor: String,
    value: String
  }
};
</script>

<style scoped>
.DateInputDefault {
  width: 100%;
}

input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
</style>
