<template>
  <div>
    <h1 class="input-file-header">{{ label }}</h1>
    <div class="input-file-content">
      <label :for="labelFor" class="input-file-label">
        ファイルを選択
        <input
          type="file"
          :id="labelFor"
          @change="onFileChange($event)"
          class="input-file"
        />
      </label>
      <div v-if="Array.isArray(photoData) && !!photoData.length">
        <img
          v-for="currentPhoto in photo"
          v-bind:key="currentPhoto.fileName"
          v-bind:src="currentPhoto.base64Image || currentPhoto.s3.Location"
          alt="post image"
          width="74px"
          height="auto"
        />
      </div>
      <span v-else class="input-file-name">選択されていません</span>
    </div>
  </div>
</template>

<script>
import { readImage } from '@/utils/image';

export default {
  name: 'FileMultipleInputsDefault',
  // props: ['label', 'label-for', 'photoData', 'type'],
  props: {
    label: String,
    labelFor: String,
    photoData: Array,
    type: String
  },
  computed: {
    photo() {
      return this.photoData.filter(
        photo => !!photo.base64Image || (!!photo.s3 && !!photo.s3.Location)
      );
    }
  },
  methods: {
    async onFileChange(event) {
      const files = event.target.files || event.dataTransfer.files;
      await this.createImage(files[0]);
    },
    async createImage(file) {
      try {
        const base64Image = await readImage(file);
        const [fileName] = file.name.split('.');
        this.$emit('updateProp', { base64Image, fileName });
      } catch (error) {
        this.errorMessage = '画像を読み込むのに失敗しました。';
        this.isModalOpen = true;
        return;
      }
    }
  }
};
</script>

<style scoped>
.input-file-content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.input-file-label {
  background-color: var(--main-theme-color);
  color: white;
  cursor: pointer;
  padding: 15px 15px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
}

.input-file-header {
  font-size: 14px;
  font-weight: normal;
}

.input-file {
  display: none;
}
</style>
