<template>
  <main class="InputTimeIosScroll">
    <label>{{ title }}</label>
    <input
      type="text"
      :value="time ? time : value"
      :class="{ 'error-validate': hasError }"
      @click="display()"
      :placeholder="SELECT_PLACEHOLDER"
      readonly
    />
    <div class="over" v-if="isDisplay">
      <div class="mask" @click="cancel()"></div>
      <div class="container-fluid group-scroll">
        <div class="row header">
          <div class="col-3 text-left">
            <small @click="cancel()">取消</small>
          </div>
          <div class="col-6 text-center" style="color:#333">日付を選択</div>
          <div class="col-3 text-right">
            <small @click="confirm()">確認</small>
          </div>
        </div>
        <smooth-picker ref="smoothPicker" :data="data" />
      </div>
    </div>
  </main>
</template>

<script>
// 1. import
import 'vue-smooth-picker/dist/css/style.css';
import { SmoothPicker } from 'vue-smooth-picker';
import { SELECT_PLACEHOLDER } from '@/constants/lang';

export default {
  name: 'InputTimeIosScroll',
  components: {
    SmoothPicker // 2. register
  },
  props: {
    title: {
      type: String,
      default: '時間',
      required: true
    },
    time: {
      type: String,
      default: '',
      required: true
    },
    hasError: {
      type: Boolean,
      default: false,
      requrired: true
    }
  },
  data() {
    return {
      // 4. pass data
      SELECT_PLACEHOLDER,
      isDisplay: false,
      value: '',
      data: [
        {
          currentIndex: 0,
          flex: 3,
          list: [...Array(24)].map((m, i) => this.formatValue(i) + '時間'),
          textAlign: 'center',
          className: 'row-group'
        },
        {
          currentIndex: 0,
          flex: 3,
          list: [...Array(60)].map((m, i) => this.formatValue(i) + '分'),
          textAlign: 'center',
          className: 'row-group'
        }
      ]
    };
  },
  beforeUpdate() {
    this.data[0].currentIndex = this.converStringToDateData(0)
      ? this.converStringToDateData(0)
      : new Date().getHours();
    this.data[1].currentIndex = this.converStringToDateData(1)
      ? this.converStringToDateData(1)
      : new Date().getMinutes();
  },
  methods: {
    formatValue(value) {
      return value >= 10 ? value : '0' + value;
    },
    converStringToDateData(index) {
      if (this.time) {
        const now = this.time.split(':');
        return Number(now[index]);
      }
      return '';
    },

    // 5. get finally data's index list
    display() {
      this.isDisplay = true;
    },
    cancel() {
      this.isDisplay = false;
    },
    confirm() {
      const ciList = this.$refs.smoothPicker.getCurrentIndexList();
      const hh = this.data[0].list[ciList[0]].slice(0, 2);
      const mm = this.data[1].list[ciList[1]].slice(0, 2);
      // const ss = this.data[2].list[ciList[2]];
      this.value = hh + ' : ' + mm;

      this.$emit('updateTime', hh + ':' + mm);
      this.isDisplay = !this.isDisplay;
    }
  }
};
</script>

<style scoped>
.InputTimeIosScroll {
  width: 100%;
  font-size: 14px;
  font-family: HiraginoProW3;
}
.container-fluid {
  padding: 0px;
}
.header {
  background-color: #fff;
  line-height: 60px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
}
input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  font-family: HiraginoProW3;
  font-size: 1rem;
}
label {
  font-family: HiraginoProW3;
  font-size: 14px;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(37, 38, 45, 0.4);
}
small {
  cursor: pointer;
}
.text-left {
  padding-left: 2.5rem;
  color: #666;
}
.text-right {
  padding-right: 2.5rem;
  color: #007bff;
}
.flex {
  background-color: #fff;
}
.group-scroll {
  position: fixed;
  width: 100%;
  top: 32%;
  left: 0;
  z-index: 1000;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}
input {
  background: #fff url('../../assets/icons/drop-down.png') no-repeat right
    0.6rem center/14px 14px;
}
.error-validate {
  border: 1px solid rgb(252, 62, 62);
}
.error-validate:focus {
  outline: none;
}
</style>
