<template>
  <main class="InputDateIosScroll">
    <label>{{ title }}</label>
    <input
      type="text"
      :value="this.date ? this.date : this.value"
      @click="display()"
      :class="{ 'error-validate': hasError }"
      :placeholder="SELECT_PLACEHOLDER"
      readonly
      required
    />
    <div class="over" v-if="isDisplay">
      <div class="mask" @click="cancel()"></div>
      <div class="container-fluid group-scroll">
        <div class="row header">
          <div class="col-3 text-left">
            <small @click="cancel()">取消</small>
          </div>
          <div class="col-6 text-center" style="color:#333">日付を選択</div>
          <div class="col-3 text-right">
            <small @click="confirm()">確認</small>
          </div>
        </div>
        <smooth-picker ref="smoothPicker" :data="data" :change="dataChange" />
      </div>
    </div>
  </main>
</template>

<script>
// 1. import
import 'vue-smooth-picker/dist/css/style.css';
import { YEAR_RANGE } from '@/constants/commonConst';
import { SmoothPicker } from 'vue-smooth-picker';
import {
  SELECT_PLACEHOLDER,
  DATE_FORMAT_DISPLAY,
  YEAR,
  MONTH,
  DAY
} from '@/constants/lang';
import moment from 'moment';

export default {
  name: 'InputDateIosScroll',
  components: {
    SmoothPicker // 2. register
  },
  props: {
    title: {
      type: String,
      default: '日付',
      required: true
    },
    date: {
      type: String,
      default: '',
      required: true
    },
    hasError: {
      type: Boolean,
      default: false,
      requrired: true
    }
  },
  data() {
    const nowYear = new Date().getFullYear();
    const range = YEAR_RANGE;
    const year = YEAR;
    const month = MONTH;
    const day = DAY;

    const years = [];
    for (let i = nowYear - range; i <= nowYear + range; i++) {
      years.push(`${i}${year}`);
    }
    return {
      // 4. pass data
      SELECT_PLACEHOLDER,
      DATE_FORMAT_DISPLAY,
      isDisplay: false,
      value: '',
      data: [
        {
          currentIndex: range,
          flex: 3,
          list: years,
          textAlign: 'center',
          className: 'row-group'
        },
        {
          currentIndex: new Date().getMonth(),
          flex: 3,
          list: [...Array(12)].map((m, i) => {
            return i + 1 + month;
          }),
          textAlign: 'center',
          className: 'row-group'
        },
        {
          currentIndex: new Date().getDate() - 1,
          flex: 3,
          list: [...Array(31)].map((d, i) => {
            return i + 1 + day;
          }),
          onClick: this.clickOnDay,
          textAlign: 'center',
          className: 'item-group'
        }
      ]
    };
  },

  beforeUpdate() {
    const dateValue = this.date
      ? moment(this.date, DATE_FORMAT_DISPLAY).format('YYYY/MM/DD')
      : moment(new Date()).format('YYYY/MM/DD');

    const year = new Date(dateValue).getFullYear();
    this.data[0].currentIndex = this.data[0].list.findIndex(item => {
      return Number(this.getValue(item)) === year;
    });

    this.data[1].currentIndex = new Date(dateValue).getMonth();
    this.data[2].currentIndex = new Date(dateValue).getDate() - 1;
  },
  methods: {
    isLeapYear(year) {
      return (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0;
    },
    dataChange(gIndex, iIndex) {
      const ciList = this.$refs.smoothPicker.getCurrentIndexList();
      if (gIndex === 0 || gIndex === 1) {
        // year or month changed
        const currentIndex = 0;
        let monthCount = 30;
        let month = iIndex + 1; // month
        if (gIndex === 0) {
          // year
          month = Number(this.getValue(this.data[1].list[ciList[1]]));
        }
        switch (month) {
          case 2: {
            let selectedYear = this.getValue(this.data[0].list[ciList[0]]);
            if (gIndex === 0) {
              selectedYear = this.getValue(this.data[0].list[iIndex]);
            }
            let isLeapYear = false;
            if (this.isLeapYear(selectedYear)) {
              isLeapYear = true;
            }
            monthCount = 28;
            if (isLeapYear) {
              monthCount = 29;
            }
            break;
          }
          case 4:
          case 6:
          case 9:
          case 11:
            monthCount = 30;
            break;
          default:
            monthCount = 31;
        }
        const list = [...Array(monthCount)].map((d, i) => i + 1 + DAY);
        this.$refs.smoothPicker.setGroupData(2, {
          ...this.data[2],
          ...{ currentIndex, list }
        });
      }
    },
    // 6. listen click event
    /*clickOnDay (gIndex, iIndex) {
        window.alert('Clicked day: ' + this.data[gIndex].list[iIndex])
      },*/

    // 7. get finally data's index list
    display() {
      this.isDisplay = true;
    },
    cancel() {
      this.isDisplay = false;
    },
    getValue(value) {
      const regex = /^\d+/;
      const val = value.match(regex);
      return val >= 10 ? val : '0' + val;
    },
    confirm() {
      const ciList = this.$refs.smoothPicker.getCurrentIndexList();
      const year = this.data[0].list[ciList[0]];
      const month = this.data[1].list[ciList[1]];
      const day = this.data[2].list[ciList[2]];

      this.value =
        this.getValue(year) +
        '/' +
        this.getValue(month) +
        '/' +
        this.getValue(day);

      this.isDisplay = !this.isDisplay;

      this.$emit('updateDate', this.value);
    }
  }
};
</script>

<style scoped>
.InputDateIosScroll {
  width: 100%;
  font-size: 14px;
  font-family: HiraginoProW3;
}
.container-fluid {
  padding: 0px;
}
.header {
  background-color: #fff;
  line-height: 60px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
}
input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  font-family: HiraginoProW3;
  font-size: 1rem;
}
label {
  font-family: HiraginoProW3;
  font-size: 14px;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(37, 38, 45, 0.4);
}
small {
  cursor: pointer;
}
.text-left {
  padding-left: 2.5rem;
  color: #666;
}
.text-right {
  padding-right: 2.5rem;
  color: #007bff;
}
.flex {
  background-color: #fff;
}
.group-scroll {
  position: fixed;
  width: 100%;
  top: 32%;
  left: 0;
  z-index: 1000;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}
input {
  background: #fff url('../../assets/icons/drop-down.png') no-repeat right
    0.6rem center/14px 14px;
}
.error-validate {
  border: 1px solid rgb(252, 62, 62);
}
.error-validate:focus {
  outline: none;
}
</style>
