<template>
  <div class="SelectDefault">
    <label :for="labelFor">{{ label }}</label>
    <select
      :class="{ 'form-control': true, 'error-validate': hasError }"
      :name="labelFor"
      :id="labelFor"
      :value="value"
      :style="value && 'color:#495057'"
      @change="changeData($event)"
    >
      <option disabled selected value>{{ placeholder1 }}</option>
      <option
        v-for="option in options"
        :key="option.value"
        :value="option.value"
        >{{ option.text }}</option
      >
    </select>
  </div>
</template>

<script>
export default {
  name: 'TextInputDefault',
  props: {
    label: String,
    labelFor: String,
    options: Array,
    placeholder1: String,
    value: String,
    hasError: Boolean,
    multiple: String
  },
  methods: {
    changeData(event) {
      this.$emit('updateProp', event.target.value);
      const selectTag = document.getElementById(this.labelFor);
      selectTag.style.color = '#495057';
    }
  },
  data() {
    return {};
  }
};
</script>

<style scoped>
.SelectDefault {
  width: 100%;
  font-size: 14px;
  font-family: HiraginoProW3;
}

select {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ccc;
  vertical-align: middle;
  background: #fff url('../../assets/icons/drop-down.png') no-repeat right
    0.75rem center/14px 14px;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
}

.error-validate {
  border: 1px solid rgb(252, 62, 62);
}
.error-validate:focus {
  outline: none;
}
</style>
