<template>
  <div class="TextInputDefault">
    <label :for="labelFor">{{ label }}</label>
    <input
      :name="labelFor"
      :id="labelFor"
      v-bind:value="value"
      @change="$emit('updateProp', $event.target.value)"
      :type="type"
      :class="{ disabled: disabled, 'error-validate': hasError }"
      :placeholder="placeholder"
      :disabled="disabled"
      :maxlength="maxlength"
    />
  </div>
</template>

<script>
export default {
  name: 'TextInputDefault',
  props: {
    label: String,
    labelFor: String,
    value: String,
    placeholder: {
      type: String,
      default: '',
      required: false
    },
    required: {
      type: Boolean,
      default: true,
      required: false
    },
    type: {
      type: String,
      default: 'text',
      required: false
    },
    disabled: {
      type: Boolean,
      default: false,
      required: false
    },
    hasError: Boolean,
    maxlength: Number
  }
};
</script>

<style scoped>
.TextInputDefault {
  width: 100%;
  font-size: 14px;
  font-family: HiraginoProW3;
}
.disabled {
  background-color: #ededed;
}

input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  background-color: #fff;
}

input.disabled::-webkit-input-placeholder {
  color: #101010;
}
input.disabled::-moz-placeholder {
  color: #101010;
}
input.disabled:-ms-input-placeholder {
  color: #101010;
}
input.disabled:-moz-placeholder {
  color: #101010;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}
input::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder {
  color: #cccccc;
}
input:-moz-placeholder {
  color: #cccccc;
}
input[type='date']::-webkit-calendar-picker-indicator {
  background: #fff url('../../assets/icons/drop-down.png') no-repeat right 0rem
    center/14px 14px;
}
.error-validate {
  border: 1px solid rgb(252, 62, 62);
}
.error-validate:focus {
  outline: none;
}
</style>
