<template>
  <div class="TextareaInputDefault">
    <label :for="labelFor">{{ label }}</label>
    <textarea
      :name="labelFor"
      :id="labelFor"
      :class="{ 'error-validate': hasError }"
      v-bind:value="value"
      @change="
        $emit('updateProp', $event.target.value.substr(0, MAX_TEXT_AREA_LENGTH))
      "
      :maxlength="maxLength"
      :type="type"
      :placeholder="placeholder"
      rows="8"
    />
  </div>
</template>

<script>
import { MAX_TEXT_AREA_LENGTH } from '@/constants/commonConst';
export default {
  name: 'TextareaInputDefault',
  props: {
    label: String,
    labelFor: String,
    value: String,
    placeholder: {
      type: String,
      default: '',
      required: false
    },
    type: {
      type: String,
      default: 'text',
      required: false
    },
    hasError: Boolean,
    maxLength: Number
  },
  data() {
    return {
      MAX_TEXT_AREA_LENGTH
    };
  }
};
</script>

<style scoped>
.TextareaInputDefault {
  width: 100%;
  font-size: 14px;
  font-family: HiraginoProW3;
}
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
}
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
}
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}
.error-validate {
  border: 1px solid rgb(252, 62, 62);
}
.error-validate:focus {
  outline: none;
}
</style>
