<template>
  <div class="Home">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="`${loginUser.surname} ${loginUser.name}`" />
    <div class="home-container">
      <cover-photo :photo="loginUser.cover" />
      <section class="profile">
        <div class="profile-element profile-post pl-5">
          <h2 class="profile-title">投稿</h2>
          <h1 class="profile-post-numbers">{{ postCounter.post }}</h1>
        </div>
        <div class="profile-element profile-user mx-1">
          <profile-photo :photo="loginUser.profile" />
          <h2 class="profile-userID">
            ユーザーID：{{ `${loginUser.userID.slice(0, 7)}...` }}
          </h2>
        </div>
        <div class="profile-element profile-post pr-5">
          <h2 class="profile-title">共有</h2>
          <h1 class="profile-post-numbers">{{ postCounter.share }}</h1>
        </div>
      </section>
      <div class="edit-profile">
        <edit-profile-button />
      </div>
      <section class="post-category mt-5">
        <folder
          v-for="category in categories"
          v-bind:key="category.id"
          :categoryID="category.id"
          :count="category.count"
          :categoryName="category.text"
          :componentName="category.componentName"
          :updatedAt="category.updatedAt"
          :userID="loginUser.userID"
          class="post-category-element"
        />
      </section>
      <aside class="introduction">
        <a href="#">ファミログを家族に紹介する</a>
      </aside>
      <div class="create-post">
        <create-post-button />
      </div>
    </div>
  </div>
</template>

<script>
import {
  CreatePostButton,
  EditProfileButton,
  Folder,
  MyHeader,
  Modal,
  CoverPhoto,
  ProfilePhoto
} from '@/components';
import { formatDateWithPeriod } from '@/utils/date';
import { getPosts } from '@/utils/posts';
import { store } from '@/store';
import { POST_CATEGORY } from '@/constants';

export default {
  name: 'Home',
  components: {
    CreatePostButton,
    EditProfileButton,
    Folder,
    MyHeader,
    Modal,
    CoverPhoto,
    ProfilePhoto
  },
  data() {
    return {
      postCounter: {
        post: 0,
        share: 0
      },
      posts: [],
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    loginID() {
      return store.state.loginUser.userID;
    },
    showID() {
      return store.state.showID;
    },
    loginUser() {
      return store.state.loginUser;
    }
  },
  async created() {
    const categories = { ...POST_CATEGORY };
    const user = JSON.parse(localStorage.getItem('user'));
    if (!user) {
      localStorage.setItem('user', JSON.stringify(store.state.loginUser));
    }
    for (const key in categories) {
      categories[key].count = 0;
      categories[key].updatedAt = '';
    }
    this.categories = categories;

    await this.getThisUserPosts();
  },
  beforeMount() {
    if (!this.loginID) {
      this.$router.push({ name: 'Top' });
      return;
    }
    store.setShowID(this.loginID);
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async getThisUserPosts() {
      let getPostsResult = null;
      try {
        getPostsResult = await getPosts(this.loginID, this.loginID);
      } catch (error) {
        this.errorMessage = '投稿の取得に失敗しました。';
        this.isModalOpen = true;
        return;
      }

      if (!getPostsResult) {
        return;
      }
      this.posts.push(...getPostsResult);
      this.getUpdatedAt(this.posts);
    },
    getUpdatedAt(posts) {
      if (!Array.isArray(posts)) {
        throw new TypeError('posts should be an array.');
      }
      if (!posts || !posts.length) {
        return;
      }

      const eachCategoryUpdatedAt = {};
      posts.forEach(post => {
        this.postCounter.post += 1;
        if (post.sharedID && post.sharedID.length) {
          this.postCounter.share += 1;
        }
        if (
          !eachCategoryUpdatedAt[post.category] ||
          eachCategoryUpdatedAt[post.category] < post.updatedAt
        ) {
          eachCategoryUpdatedAt[post.category] = post.updatedAt;
          this.categories[post.category].count += 1;
        }
      });
      Object.keys(eachCategoryUpdatedAt).forEach(eachCategoryKey => {
        this.categories[eachCategoryKey].updatedAt = formatDateWithPeriod(
          eachCategoryUpdatedAt[eachCategoryKey]
        );
      });
    }
  }
};
</script>

<style scoped>
.Home {
  width: inherit;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.home-container {
  width: inherit;
  height: inherit;
  margin-top: 55px;
  background-color: var(--background-color);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.profile {
  width: inherit;
  top: 55px;
  left: 0;
  z-index: 1;
  height: 180px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.profile-element {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile-post-numbers {
  font-size: 48px;
  color: white;
}

.profile-title,
.profile-userID {
  font-size: 12px;
  color: white;
}

.profile-userID {
  margin-top: 15px;
}

.profile-post {
  width: 30%;
}

.edit-profile {
  position: absolute;
  top: 235px;
  right: 5px;
  z-index: 2;
  margin-top: -25px;
  margin-right: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.post-category {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.post-category-element {
  align-self: baseline;
  margin-top: 8px;
}

.introduction {
  margin: 30px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.introduction > a {
  color: var(--main-theme-color);
  font-weight: bold;
}

.create-post {
  position: fixed;
  bottom: 10px;
  right: 5px;
}
</style>
