<template>
  <div class="ConfirmToDelete">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'編集'" />
    <main>
      <section class="confirm">この記事を削除しますか？</section>
      <section class="buttons">
        <my-button
          :innerText="'編集'"
          :width="'45%'"
          :callback="goBackToPost"
        />
        <my-button
          :innerText="'削除'"
          :width="'45%'"
          class="button-delete"
          :callback="invokeDeletePost"
        />
      </section>
    </main>
  </div>
</template>

<script>
import { MyHeader, MyButton, Modal } from '@/components';
import { deletePost } from '@/utils/posts';

export default {
  name: 'ConfirmToDelete',
  components: {
    MyHeader,
    MyButton,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    post() {
      return this.$route.params.post;
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async invokeDeletePost() {
      try {
        await deletePost(this.$route.params.post.postID);
      } catch (error) {
        this.errorMessage = '投稿の削除に失敗しました。';
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'PostsList',
        params: { categoryID: this.post.categoryID }
      });
    },
    goBackToPost() {
      const { post } = this.$route.params;
      this.$router.push({ name: 'Post', params: { post } });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ConfirmToDelete {
  background-color: #ffffff;
  width: inherit;
  height: inherit;
}

main {
  width: 100%;
  padding-top: 55px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.confirm {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-delete {
  background-color: #aa4443;
}
</style>
