<template>
  <div class="EditPost">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'編集'" />
    <main class="edit-post-container">
      <form @submit.stop.prevent="goToSharingSetting">
        <text-input-default
          class="each-form-input"
          label="タイトル"
          label-for="input-title"
          placeholder="箱根旅行"
          :value="editPost.title"
          v-on:updateProp="editPost.title = $event"
        />
        <select-default
          class="each-form-input"
          label="カテゴリ"
          labelFor="input-category"
          :options="postCategory"
          v-on:updateProp="selectedCategory = $event"
        />
        <textarea-input-default
          class="each-form-input"
          label="本文"
          labelFor="input-textarea"
          placeholder="家族でのんびり箱根に行ってきました。"
          :value="editPost.text"
          v-on:updateProp="editPost.text = $event"
        />
        <file-multiple-inputs-default
          class="each-form-input"
          label="プロフィール画像"
          labelFor="input-post-image"
          :photoData="editPost.photos"
          v-on:updateProp="setPhoto($event)"
        />
        <submit-button :innerText="'共有を設定'" />
      </form>
    </main>
  </div>
</template>

<script>
import {
  MyHeader,
  SubmitButton,
  Modal,
  FileMultipleInputsDefault,
  SelectDefault,
  TextareaInputDefault,
  TextInputDefault
} from '@/components';
import { POST_CATEGORY } from '@/constants/post';

export default {
  name: 'EditPost',
  components: {
    MyHeader,
    Modal,
    SubmitButton,
    FileMultipleInputsDefault,
    SelectDefault,
    TextareaInputDefault,
    TextInputDefault
  },
  data() {
    return {
      editPost: {
        category: '',
        title: '',
        text: '',
        userID: '',
        user: null,
        sharedID: '',
        photos: null
      },
      selectedCategory: '',
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    post() {
      return this.$route.params.post;
    },
    postCategory() {
      return Object.values(POST_CATEGORY);
    }
  },
  mounted() {
    this.selectedCategory = this.post.category;
    this.editPost.category = this.post.category;
    this.editPost.title = this.post.title;
    this.editPost.text = this.post.text;
    this.editPost.userID = this.post.userID;
    this.editPost.user = this.post.user;
    this.editPost.sharedID = this.post.sharedID;
    if (this.post.photos) {
      this.editPost.photos = [...this.post.photos];
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    setPhoto(photoData) {
      const photo = {};
      photo.base64Image = photoData.base64Image;
      photo.fileName = photoData.fileName;
      if (!this.editPost.photos) {
        this.editPost.photos = [photo];
      } else {
        this.editPost.photos.push(photo);
      }
    },
    goToSharingSetting() {
      if (
        !this.editPost.title ||
        !this.editPost.text ||
        !this.selectedCategory
      ) {
        this.errorMessage =
          'タイトル、カテゴリー、本文項目を入力してください。';
        this.isModalOpen = true;
        return;
      }
      this.$router.push({
        name: 'SharingSetting',
        params: {
          post: this.editPost,
          postID: this.$route.params.post.postID,
          isEditMode: true
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.EditPost {
  width: inherit;
  height: inherit;
}
.edit-post-container {
  padding: 80px 16px;
}

.each-form-input {
  margin-bottom: 30px;
}
</style>
