<template>
  <div class="NewPost">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'新規投稿'" />
    <main class="new-post-container">
      <form @submit.stop.prevent="goToSharingSetting">
        <text-input-default
          class="each-form-input"
          label="タイトル"
          label-for="input-title"
          placeholder="箱根旅行"
          :value="newPost.title"
          v-on:updateProp="newPost.title = $event"
        />
        <select-default
          class="each-form-input"
          label="カテゴリ"
          labelFor="input-category"
          :options="postCategory"
          v-on:updateProp="newPost.category = $event"
        />
        <textarea-input-default
          class="each-form-input"
          label="本文"
          labelFor="input-textarea"
          placeholder="家族でのんびり箱根に行ってきました。"
          :value="newPost.text"
          v-on:updateProp="newPost.text = $event"
        />
        <file-multiple-inputs-default
          class="each-form-input"
          label="プロフィール画像"
          labelFor="input-post-image"
          :photoData="newPost.photos"
          v-on:updateProp="setPhoto($event)"
        />
        <submit-button :innerText="'共有を設定'" />
      </form>
    </main>
  </div>
</template>

<script>
import {
  MyHeader,
  SubmitButton,
  Modal,
  FileMultipleInputsDefault,
  SelectDefault,
  TextareaInputDefault,
  TextInputDefault
} from '@/components';
import { store } from '@/store';
import { POST_CATEGORY } from '@/constants/post';

export default {
  name: 'NewPost',
  components: {
    MyHeader,
    Modal,
    SubmitButton,
    FileMultipleInputsDefault,
    SelectDefault,
    TextareaInputDefault,
    TextInputDefault
  },
  data() {
    return {
      newPost: {
        category: '',
        title: '',
        text: '',
        userID: '',
        photos: null
      },
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    postCategory() {
      return Object.values(POST_CATEGORY);
    },
    userID() {
      return store.state.loginUser.userID;
    },
    user() {
      return store.state.loginUser;
    }
  },
  mounted() {
    this.newPost.category = this.postCategory[0].value;
    this.newPost.userID = this.userID;
    this.newPost.user = this.user;
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    setPhoto(photoData) {
      const photo = {};
      photo.base64Image = photoData.base64Image;
      photo.fileName = photoData.fileName;
      if (!this.newPost.photos) {
        this.newPost.photos = [photo];
      } else {
        this.newPost.photos.push(photo);
      }
    },
    goToSharingSetting() {
      if (!this.newPost.title || !this.newPost.text || !this.newPost.category) {
        this.errorMessage =
          'タイトル、カテゴリー、本文項目を入力してください。';
        this.isModalOpen = true;
        return;
      }
      this.$router.push({
        name: 'SharingSetting',
        params: { post: this.newPost, isEditMode: false }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.NewPost {
  width: inherit;
  height: inherit;
}

.new-post-container {
  padding: 80px 16px;
}

.each-form-input {
  margin-bottom: 30px;
}
</style>
