<template>
  <div class="Post">
    <my-header :title="'投稿'" />
    <main>
      <section class="profile">
        <round-photo-extra-small :photo="user.profile" />
        <div class="profile-description">
          <span>{{ updatedAtForDisplay }}</span>
          <span>
            <strong>{{ `${user.surname} ${user.name}` }}</strong> の投稿
          </span>
        </div>
      </section>
      <section class="post mt-3">
        <span>
          カテゴリー：
          <strong>{{ getPostText(post.category) }}</strong>
        </span>
        <h1>{{ post.title }}</h1>
        <p class="mt-3">{{ post.text }}</p>
        <div class="photo mt-3" v-if="!!post.photos && !!post.photos.length">
          <img
            v-for="photo in post.photos"
            :key="photo.fileName"
            v-bind:src="photo.s3.Location"
            alt="post image"
            width="74px"
            height="auto"
          />
        </div>
        <div class="button-div mt-4">
          <my-button :innerText="'編集'" :width="'45%'" :callback="goToEdit" />
          <my-button
            :innerText="'削除'"
            :width="'45%'"
            :callback="goToConfirmToDelete"
            class="button-delete"
          />
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import { store } from '@/store';
import { POST_CATEGORY } from '@/constants/index';
import { MyHeader, MyButton, RoundPhotoExtraSmall } from '@/components';
import { formatDateWithPeriod } from '@/utils/date';

export default {
  name: 'Post',
  components: {
    MyHeader,
    MyButton,
    RoundPhotoExtraSmall
  },
  computed: {
    loginID() {
      return store.state.loginUser.userID;
    },
    showID() {
      return store.state.showID;
    },
    post() {
      return this.$route.params.post;
    },
    updatedAtForDisplay() {
      const updatedAt = new Date(this.post.updatedAt);
      return formatDateWithPeriod(updatedAt);
    },
    user() {
      if (this.loginID !== this.showID) {
        return store.state.friendUser;
      }
      return store.state.loginUser;
    }
  },
  methods: {
    getPostText(id) {
      return POST_CATEGORY[id].text;
    },
    goToEdit() {
      this.$router.push({
        name: 'EditPost',
        params: { post: this.post }
      });
    },
    goToConfirmToDelete() {
      this.$router.push({
        name: 'ConfirmToDelete',
        params: { post: this.post }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Post {
  width: inherit;
  height: inherit;
}

main {
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main > section {
  width: 100%;
}

.profile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.profile-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
}

.post {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.post > span {
  font-size: 12px;
}

.post > h1 {
  font-size: 24px;
}

.post > p {
  font-size: 16px;
}

strong {
  color: var(--main-theme-color);
}

.photo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.button-div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-delete {
  background-color: #aa4443;
}
</style>
