<template>
  <div class="PostsList">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'投稿一覧'" />
    <main class="post-list-container">
      <form class="form-container">
        <select-default
          labelFor="input-category"
          :options="postCategory"
          v-on:updateProp="selectedCategory = $event"
        />
      </form>
      <section class="posts-list mt-4">
        <article
          class="post-elemenet mt-3"
          v-for="eachPost in showPosts"
          v-bind:key="eachPost.postID"
        >
          <button class="button-post" @click="showDetails(eachPost)">
            <section class="post-description">
              <h1>{{ convertText(eachPost.title, 16) }}</h1>
              <p>{{ convertText(eachPost.text, 46) }}</p>
            </section>
            <section class="post-updated-at">
              <span>{{ formatDate(eachPost.updatedAt) }}</span>
            </section>
          </button>
        </article>
      </section>
    </main>
  </div>
</template>

<script>
import { store } from '@/store';
import { POST_CATEGORY } from '@/constants/post';
import { MyHeader, Modal, SelectDefault } from '@/components';
import { getPosts } from '@/utils/posts';
import { formatDateWithPeriod } from '@/utils/date';
import { shortenText } from '@/utils/string';

export default {
  name: 'PostsList',
  components: {
    MyHeader,
    Modal,
    SelectDefault
  },
  data() {
    return {
      selectedCategory: '',
      posts: [],
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    categoryID() {
      return this.$route.params.categoryID;
    },
    loginID() {
      return store.state.loginUser.userID;
    },
    showID() {
      return store.state.showID;
    },
    showPosts() {
      return this.posts.filter(post => post.category === this.selectedCategory);
    },
    postCategory() {
      return Object.values(POST_CATEGORY);
    }
  },
  async created() {
    if (this.categoryID) {
      this.selectedCategory = this.categoryID;
    } else {
      this.selectedCategory = this.postCategory[0].value;
    }
    try {
      if (this.showID === this.loginID) {
        const result = await getPosts(this.loginID, this.showID);
        this.posts.push(...result);
      } else {
        const result = await getPosts(this.showID, this.loginID);
        this.posts.push(...result);
      }
    } catch (error) {
      this.errorMessage = '投稿を取得するのに失敗しました。';
      this.isModalOpen = true;
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    showDetails(post) {
      this.$router.push({
        name: 'Post',
        params: { post }
      });
    },
    convertText(text, bytes) {
      return shortenText(text, bytes);
    },
    formatDate(dateNumber) {
      return formatDateWithPeriod(dateNumber);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.PostsList {
  background-color: var(--background-color);
  width: inherit;
  height: 100vh;
}

.post-list-container {
  padding-top: 55px;
}

.form-container {
  background-color: var(--main-theme-color);
  height: 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.input-default {
  height: 56px;
}

.posts-list {
  width: inherit;
  padding-left: 16px;
  padding-right: 16px;
}

.post-element {
  width: 90%;
  padding-left: 16px;
  padding-right: 16px;
}

.button-post {
  width: 100%;
  height: 80px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.post-description {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.post-description > h1 {
  font-size: 16px;
}

.post-description > p {
  font-size: 10px;
}
</style>
