<template>
  <div class="SelectCategory">
    <my-header title="新規投稿" />
    <main class="container">
      <select-default
        label="カテゴリ"
        labelFor="category"
        :options="postCategory"
        v-on:updateProp="selectedCategory = $event"
      />
      <section class="button-section">
        <my-button innerText="入力する" :callback="goToNewPost" />
      </section>
    </main>
  </div>
</template>

<script>
import { POST_CATEGORY } from '@/constants/index';
import { MyHeader, MyButton, SelectDefault } from '@/components';

export default {
  name: 'SelectCategory',
  components: {
    MyHeader,
    MyButton,
    SelectDefault
  },
  data() {
    return {
      selectedCategory: ''
    };
  },
  computed: {
    postCategory() {
      return Object.values(POST_CATEGORY);
    }
  },
  created() {
    this.selectedCategory = POST_CATEGORY.children.id;
  },
  methods: {
    goToNewPost() {
      if (this.selectedCategory === 'endOfLifePlanning') {
        this.$router.push({ name: 'EndingCategory' });
      } else {
        this.$router.push({ name: 'NewPost' });
      }
    }
  }
};
</script>

<style>
.SelectCategory {
  width: inherit;
  height: inherit;
}

.container {
  padding-top: 80px;
}

.button-section {
  margin-top: 30px;
}
</style>
