<template>
  <div class="SharingSetting">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'共有する相手を選ぶ'" />
    <main>
      <form>
        <div
          class="friend-element"
          v-for="friend in friends"
          :key="friend.userID"
        >
          <label class="btn-family">
            <div class="row">
              <div class="col-1">
                <input
                  type="checkbox"
                  class="checkbox"
                  :name="friend.userID"
                  :value="friend.userID"
                  :id="friend.userID"
                  v-model="checkedFriends"
                />
                <label for="friend.userID" class="label" />
              </div>
              <div class="col-3">
                <img
                  class="image-round"
                  v-if="friend.profile"
                  :src="friend.profile.s3.Location"
                />
              </div>
              <div class="col-3">
                <p class="familyname">{{ friend.surname + friend.name }}</p>
              </div>
            </div>
          </label>
        </div>
      </form>
      <section class="mt-4">
        <my-button
          :innerText="isEditMode ? '保存' : '投稿'"
          :callback="isEditMode ? updateExistPost : createNewPost"
        />
      </section>
    </main>
  </div>
</template>

<script>
import { MyHeader, MyButton, Modal } from '@/components';
import { getUser } from '@/utils/users';
import { createPost, updatePost } from '@/utils/posts';
import { store } from '@/store';

export default {
  name: 'SharingSetting',
  components: {
    MyHeader,
    MyButton,
    Modal
  },
  data() {
    return {
      friends: [],
      checkedFriends: [],
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    isEditMode() {
      return this.$route.params.isEditMode;
    },
    post() {
      return this.$route.params.post;
    },
    postID() {
      return this.post.postID;
    },
    loginID() {
      return store.state.loginUser.userID;
    },
    loginUser() {
      return store.state.loginUser;
    }
  },
  async mounted() {
    const { friendID } = this.loginUser;
    if (friendID) {
      let friends = null;
      try {
        friends = await this.getFriends(friendID);
      } catch (error) {
        this.errorMessage = '家族の情報を取得に失敗しました。';
        this.isModalOpen = true;
        return;
      }
      this.friends.push(...friends);
    }
    if (this.isEditMode && this.post.sharedID) {
      this.checkedFriends.push(...this.post.sharedID);
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async getFriends(friendID) {
      const result = await Promise.all(
        friendID.map(async eachFriendID => {
          const result = await getUser(true, eachFriendID);
          return result;
        })
      );
      return result;
    },
    async createNewPost() {
      const post = { ...this.post };
      if (this.checkedFriends.length) {
        post.sharedID = this.checkedFriends;
      }

      let createPostResult = null;
      try {
        createPostResult = await createPost(post);
      } catch (error) {
        this.errorMessage = '投稿に失敗しました。';
        this.isModalOpen = true;
        return;
      }
      this.$router.push({ name: 'Post', params: { post: createPostResult } });
    },
    async updateExistPost() {
      const post = { ...this.post };
      if (this.checkedFriends.length) {
        post.sharedID = this.checkedFriends;
      }

      let updatePostResult = null;
      try {
        const postID = this.$route.params.postID;
        updatePostResult = await updatePost(postID, post);
      } catch (error) {
        this.errorMessage = '投稿の更新に失敗しました';
        this.isModalOpen = true;
        return;
      }
      this.$router.push({ name: 'Post', params: { post: updatePostResult } });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.SharingSetting {
  background-color: var(--background-color);
  width: inherit;
  height: 100vh;
}

main {
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

main,
form,
section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.friend-element {
  width: 100%;
}

.btn-family {
  display: inline-block;
  _display: inline;
  width: 340px;
  padding-left: 10px;
  margin: 4px;
  height: 80px;
  text-decoration: none;
  text-align: left;
  background: #ffffff;
  color: #000;
  border-bottom: none;
  border-right: none;
  border-radius: 7px;
  filter: drop-shadow(1px 3px 3px rgba(169, 169, 169, 0.6));
}

.image-round {
  display: inline-block;
  _display: inline;
  width: 60px;
  height: 60px;
  position: relative;
  top: 15%;
  left: 10%;
  overflow: hidden;
  border-radius: 50%;
}
.image-round .img {
  position: absolute;
  top: -100%;
  bottom: -100%;
  margin: auto;
}

.familyname {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 65px;
  line-height: 60px;
  text-align: left;
  font-size: 18px;
}

.btn-addFamily {
  display: inline-block;
  _display: inline;
  width: 340px;
  margin: 4px;
  height: 50px;
  text-decoration: none;
  background: #c3d94eff;
  color: #ffffff;
  border-bottom: none;
  border-right: none;
  border-radius: 7px;
  filter: drop-shadow(1px 3px 1px rgba(169, 169, 169, 0.6));
}

.btn-addFamily:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  filter: drop-shadow(2px 2px 2px rgba(128, 128, 128, 0.6));
  border-bottom: none;
}

.checkbox {
  display: none;
}

input[type='checkbox']:checked + label {
  background: #228b22; /* マウス選択時の背景色を指定する */
}

.label {
  position: absolute;
  top: 25px;
  display: block; /* ブロックレベル要素化する */
  float: left; /* 要素の左寄せ・回り込を指定する */
  margin: 5px; /* ラベル外側の余白を指定する */
  width: 20px; /* ラベルの横幅を指定する */
  height: 20px; /* ラベルの高さを指定する */
  line-height: 4px; /* 行の高さを指定する */
  padding-left: 1px; /* ラベル内左側の余白を指定する */
  padding-right: 1px; /* ラベル内右側の余白を指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border: 1px solid #c0c0c0; /* ラベルの境界線を実線で指定する
  border-radius: 4px;	/* 角丸を指定する */
}
</style>
