<template>
  <div class="CreateAccount">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <account-header />
    <main>
      <form @submit.stop.prevent="createAccount">
        <section class="form-row">
          <text-input-default
            label="姓"
            label-for="input-surname"
            :value="formUserInfo.surname"
            v-on:updateProp="formUserInfo.surname = $event"
          />
          <text-input-default
            label="名"
            label-for="input-name"
            :value="formUserInfo.name"
            v-on:updateProp="formUserInfo.name = $event"
          />
        </section>
        <section class="form-row">
          <date-input-default
            label="生年月日"
            labelFor="input-surname"
            :value="formUserInfo.birthday"
            v-on:updateProp="formUserInfo.birthday = $event"
          />
        </section>
        <section class="form-row">
          <select-default
            label="国"
            labelFor="input-country"
            :options="countryCode"
            v-on:updateProp="selectedCountry = $event"
          />
          <text-input-default
            label="電話番号"
            label-for="input-phone"
            :value="formUserInfo.phoneNumber"
            v-on:updateProp="formUserInfo.phoneNumber = $event"
            type="tel"
          />
        </section>
        <section class="form-row">
          <text-input-default
            label="パスワード"
            label-for="input-password"
            :value="password"
            v-on:updateProp="password = $event"
            type="password"
          />
        </section>
        <section class="form-row">
          <text-input-default
            label="確認コード"
            label-for="input-confirmation"
            :value="confirmCode"
            v-on:updateProp="confirmCode = $event"
            type="text"
          />
          <my-button
            :innerText="'確認コードを取得'"
            :callback="getConfirmcode"
          />
        </section>
        <section class="form-row">
          <file-input-default
            label="プロフィール画像"
            labelFor="profile-photo"
            :photoData="formUserInfo.profile"
            v-on:updateProp="setProfilePhoto($event)"
          />
        </section>
        <section class="form-row">
          <file-input-default
            label="カバー画像"
            labelFor="cover-photo"
            :photoData="formUserInfo.cover"
            v-on:updateProp="setCoverPhoto($event)"
          />
        </section>
        <submit-button :innerText="'アカウントを作成'" class="mt-4 mb-5" />
      </form>
    </main>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify';
import {
  AccountHeader,
  MyButton,
  SubmitButton,
  Modal,
  DateInputDefault,
  FileInputDefault,
  SelectDefault,
  TextInputDefault
} from '@/components';
import { store } from '@/store';
import { COUNTRY_CODE } from '@/constants/countryCode';
import { createUser } from '@/utils/users';

export default {
  name: 'CreateAccount',
  components: {
    AccountHeader,
    MyButton,
    SubmitButton,
    Modal,
    DateInputDefault,
    FileInputDefault,
    SelectDefault,
    TextInputDefault
  },
  data() {
    return {
      password: '',
      confirmCode: '',
      formUserInfo: {
        userID: '',
        surname: '',
        name: '',
        birthday: '',
        countryCode: '',
        phoneNumber: '',
        profile: null,
        cover: null
      },
      selectedCountry: '+81',
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    countryCode() {
      return COUNTRY_CODE;
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    openPicker() {
      this.$refs.programaticOpen.showCalendar();
    },
    setProfilePhoto(photoData) {
      if (!this.formUserInfo.profile) {
        this.formUserInfo.profile = {
          base64Image: photoData.base64Image
        };
      } else {
        this.formUserInfo.profile.base64Image = photoData.base64Image;
      }
      this.formUserInfo.profile.fileName = photoData.fileName;
    },
    setCoverPhoto(photoData) {
      if (!this.formUserInfo.cover) {
        this.formUserInfo.cover = {
          base64Image: photoData.base64Image
        };
      } else {
        this.formUserInfo.cover.base64Image = photoData.base64Image;
      }
      this.formUserInfo.cover.fileName = photoData.fileName;
    },
    async getConfirmcode() {
      let { phoneNumber } = this.formUserInfo;
      const password = this.password;
      if (!phoneNumber || !password) {
        this.errorMessage =
          '確認コードの取得には、電話番号とパスワードの入力が必要です。';
        this.isModalOpen = true;
        return;
      }
      if (phoneNumber.startsWith('0')) {
        phoneNumber = phoneNumber.slice(1);
      }
      const username = this.selectedCountry + phoneNumber;

      // if (!/^(?=.*[a-z])(?=.*[A-Z]).{6,}$/.test(password)) {
      if (!password) {
        this.errorMessage =
          'パスワードは、半角英大文字・英小文字を含む6文字以上である必要があります。';
        this.isModalOpen = true;
        return;
      }
      try {
        const result = await Auth.signUp({ username, password });
        this.formUserInfo.userID = result.userSub;
      } catch (error) {
        this.errorMessage = 'ユーザー登録に失敗しました。';
        this.isModalOpen = true;
      }
    },
    async createAccount() {
      if (!this.confirmCode) {
        this.errorMessage = '確認コードを取得してください';
        this.isModalOpen = true;
        return;
      }

      try {
        await Auth.confirmSignUp(this.formUserInfo.userID, this.confirmCode);
      } catch (error) {
        this.errorMessage = 'ユーザー登録の確認に失敗しました。';
        this.isModalOpen = true;
        return;
      }

      try {
        await Auth.signIn(this.formUserInfo.userID, this.password);
      } catch (error) {
        this.errorMessage = 'ログインに失敗しました。';
        this.isModalOpen = true;
        return;
      }

      let createUserResult = null;
      try {
        createUserResult = await this.createSignupUser();
      } catch (error) {
        this.errorMessage = 'ユーザー情報の記録に失敗しました。';
        this.isModalOpen = true;
        return;
      }

      store.setLoginUser(createUserResult);
      this.$router.push({ name: 'Home' });
    },
    async createSignupUser() {
      let profile = null;
      let cover = null;
      if (this.formUserInfo.profile && this.formUserInfo.profile.base64Image) {
        profile = {
          base64Image: this.formUserInfo.profile.base64Image,
          fileName: this.formUserInfo.profile.fileName
        };
      }
      if (this.formUserInfo.cover && this.formUserInfo.cover.base64Image) {
        cover = {
          base64Image: this.formUserInfo.cover.base64Image,
          fileName: this.formUserInfo.cover.fileName
        };
      }
      const userTobeCreated = {
        userID: this.formUserInfo.userID,
        surname: this.formUserInfo.surname,
        name: this.formUserInfo.name,
        birthday: new Date(this.formUserInfo.birthday).getTime(),
        countryCode: this.selectedCountry,
        phoneNumber: this.formUserInfo.phoneNumber,
        profile,
        cover,
        friendID: null,
        signInedAt: Date.now()
      };
      const result = await createUser(userTobeCreated);
      return result;
    }
  }
};
</script>

<style scoped>
.CreateAccount {
  width: inherit;
  height: inherit;
}

main {
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.form-row {
  margin-bottom: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
</style>
