<template>
  <div class="EditAccount">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'プロフィール編集'" />
    <main>
      <form @submit.stop.prevent="updateAccount">
        <section class="form-row">
          <text-input-default
            label="姓"
            label-for="input-surname"
            :value="formUserInfo.surname"
            v-on:updateProp="formUserInfo.surname = $event"
            :required="false"
          />
          <text-input-default
            label="名"
            label-for="input-name"
            :value="formUserInfo.name"
            v-on:updateProp="formUserInfo.name = $event"
            :required="false"
          />
        </section>
        <section class="form-row">
          <date-input-default
            label="生年月日"
            labelFor="input-surname"
            :value="formUserInfo.birthday"
            v-on:updateProp="formUserInfo.birthday = $event"
            :required="false"
          />
        </section>
        <section class="form-row">
          <select-default
            label="国"
            labelFor="input-country"
            :options="countryCode"
            v-on:updateProp="selectedCountry = $event"
            :required="false"
          />
          <text-input-default
            label="電話番号"
            label-for="input-phone"
            :value="formUserInfo.phoneNumber"
            v-on:updateProp="formUserInfo.phoneNumber = $event"
            type="tel"
            :required="false"
          />
        </section>
        <section class="form-row">
          <text-input-default
            label="パスワード"
            label-for="input-password"
            :value="password"
            v-on:updateProp="password = $event"
            type="password"
            :required="false"
          />
        </section>
        <section class="form-row">
          <text-input-default
            label="新しいパスワード"
            label-for="input-new-password"
            :value="newPassword"
            v-on:updateProp="newPassword = $event"
            type="password"
            :required="false"
          />
        </section>
        <section class="form-row">
          <file-input-default
            label="プロフィール画像"
            labelFor="profile-photo"
            :photoData="formUserInfo.profile"
            v-on:updateProp="setProfilePhoto($event)"
          />
        </section>
        <section class="form-row">
          <file-input-default
            label="カバー画像"
            labelFor="cover-photo"
            :photoData="formUserInfo.cover"
            v-on:updateProp="setCoverPhoto($event)"
          />
        </section>
        <submit-button :innerText="'アカウントを編集'" class="mt-4" />
        <my-button
          :innerText="'ログアウト'"
          :callback="logout"
          class="mt-4 mb-5"
        />
      </form>
    </main>
  </div>
</template>

<script>
import { Auth } from 'aws-amplify';
import {
  MyHeader,
  MyButton,
  SubmitButton,
  Modal,
  DateInputDefault,
  FileInputDefault,
  SelectDefault,
  TextInputDefault
} from '@/components';
import { COUNTRY_CODE } from '@/constants/countryCode';
import { store } from '@/store';
import { formatDateWithHyphen } from '@/utils/date';
import { updateUser } from '@/utils/users';
import { updateProfilePost } from './EditAccountUtils';

export default {
  name: 'EditAccount',
  components: {
    MyHeader,
    MyButton,
    SubmitButton,
    Modal,
    DateInputDefault,
    FileInputDefault,
    SelectDefault,
    TextInputDefault
  },
  data() {
    return {
      password: '',
      newPassword: '',
      formUserInfo: {
        userID: '',
        surname: '',
        name: '',
        birthday: '',
        countryCode: '',
        phoneNumber: '',
        profile: null,
        cover: null
      },
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    loginID() {
      return store.state.loginUser.userID;
    },
    countryCode() {
      return COUNTRY_CODE;
    }
  },
  mounted() {
    const {
      surname,
      name,
      birthday,
      countryCode,
      phoneNumber,
      profile,
      cover
    } = store.state.loginUser;
    this.formUserInfo.surname = surname;
    this.formUserInfo.name = name;
    this.formUserInfo.birthday = formatDateWithHyphen(birthday);
    this.formUserInfo.countryCode = countryCode;
    this.formUserInfo.phoneNumber = phoneNumber;
    this.formUserInfo.profile = profile;
    this.formUserInfo.cover = cover;
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async onFileChange(id, event) {
      const files = event.target.files || event.dataTransfer.files;
      await this.createImage(id, files[0]);
    },
    setProfilePhoto(photoData) {
      if (!this.formUserInfo.profile) {
        this.formUserInfo.profile = {
          base64Image: photoData.base64Image
        };
      } else {
        this.formUserInfo.profile.base64Image = photoData.base64Image;
      }
      this.formUserInfo.profile.fileName = photoData.fileName;
    },
    setCoverPhoto(photoData) {
      if (!this.formUserInfo.cover) {
        this.formUserInfo.cover = {
          base64Image: photoData.base64Image
        };
      } else {
        this.formUserInfo.cover.base64Image = photoData.base64Image;
      }
      this.formUserInfo.cover.fileName = photoData.fileName;
    },
    async updateAccount() {
      if (this.password && this.newPassword) {
        this.changePassword(this.password, this.newPassword);
      }

      let result = null;
      const userTobeUpdated = {};
      Object.keys(this.formUserInfo).forEach(key => {
        if (this.formUserInfo[key]) {
          userTobeUpdated[key] = this.formUserInfo[key];
        }
      });
      userTobeUpdated.birthday = new Date(userTobeUpdated.birthday).getTime();
      try {
        result = await updateUser(this.loginID, userTobeUpdated);
        await updateProfilePost(result);
      } catch (error) {
        this.errorMessage = 'ユーザーの更新に失敗しました。';
        this.isModalOpen = true;
        return;
      }
      this.setLoginUser(result);
    },
    setLoginUser(userData) {
      store.setLoginUser(userData);
      this.$router.push({ name: 'Home' });
    },
    // Change password
    async changePassword(oldPass, newPass) {
      try {
        const user = await Auth.currentAuthenticatedUser();
        await Auth.changePassword(user, oldPass, newPass);
      } catch (error) {
        this.errorMessage = 'パスワードの更新に失敗しました。';
        this.isModalOpen = true;
        return;
      }
    },
    async logout() {
      try {
        await Auth.signOut();
        localStorage.removeItem('user');
        sessionStorage.clear();
        this.$router.push({ name: 'Top' });
      } catch (error) {
        this.errorMessage = 'ログアウトに失敗しました。';
        this.isModalOpen = true;
        return;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.EditAccount {
  width: inherit;
  height: inherit;
}

main {
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.form-row {
  margin-bottom: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
</style>
