<template>
  <div class="AddFriend">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'家族を追加'"></my-header>
    <main>
      <section class="friend">
        <round-photo :photo="friend.profile" />
        <div v-if="!isAddedDone">
          <span>{{ `${friend.surname} ${friend.name}` }}</span>
        </div>
        <div v-else>
          <span>{{ `${friend.surname} ${friend.name}` }}が追加されました</span>
        </div>
      </section>
      <section class="button-section">
        <my-button
          v-if="!isAddedDone"
          :innerText="'この家族を追加する'"
          :callback="addMember"
        />
        <my-button v-else :innerText="'ホームへ戻る'" :callback="backHome" />
      </section>
    </main>
  </div>
</template>

<script>
import { MyButton, MyHeader, Modal, RoundPhoto } from '@/components';
import { store } from '@/store';
import { updateUser } from '@/utils/users';

export default {
  name: 'AddFriend',
  components: {
    MyHeader,
    MyButton,
    Modal,
    RoundPhoto
  },
  data() {
    return {
      isAddedDone: false,
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    loginID() {
      return store.state.loginUser.userID;
    },
    showID() {
      return store.state.showID;
    },
    friendID() {
      return this.$route.params.friend.userID;
    },
    friend() {
      return this.$route.params.friend;
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async addMember() {
      const { loginUser: userTobeUpdated } = store.state;
      let friendID = null;
      if (!userTobeUpdated.friendID) {
        friendID = [this.friendID];
      } else {
        friendID = [...userTobeUpdated.friendID];
        friendID.push(this.friendID);
      }

      try {
        const result = await updateUser(userTobeUpdated.userID, { friendID });
        store.setLoginUser(result);
        this.isAddedDone = true;
      } catch (error) {
        this.errorMessage = '追加に失敗しました。';
        this.isModalOpen = true;
      }
    },
    backHome() {
      this.$router.push({ name: 'Home' });
    }
  }
};
</script>

<style scoped>
.AddFriend {
  background-color: white;
  width: inherit;
  height: inherit;
}

main {
  width: 100%;
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

main > section {
  width: 100%;
}

.friend {
  height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-section {
  margin-top: 16px;
}
</style>
