<template>
  <div class="FriendHome">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="`${friendUser.surname} ${friendUser.name}`" />
    <main class="friend-home-container">
      <cover-photo :photo="friendUser.cover" />
      <section class="profile">
        <profile-photo :photo="friendUser.profile" />
        <h2 class="profile-userID">
          ユーザーID：{{ `${friendUser.userID.slice(0, 7)}...` }}
        </h2>
      </section>
      <section class="post-category mt-4" v-if="!!categories">
        <folder
          v-for="category in categories"
          v-bind:key="category.id"
          :categoryID="category.id"
          :count="category.count"
          :categoryName="category.text"
          :updatedAt="category.updatedAt"
          :userID="friendUser.userID"
          class="post-category-element"
        />
      </section>
    </main>
  </div>
</template>

<script>
import {
  Folder,
  MyHeader,
  Modal,
  CoverPhoto,
  ProfilePhoto
} from '@/components';
import { formatDateWithPeriod } from '@/utils/date';
import { store } from '@/store';
import { getPosts } from '@/utils/posts';

export default {
  name: 'FriendHome',
  components: {
    Folder,
    MyHeader,
    Modal,
    CoverPhoto,
    ProfilePhoto
  },
  data() {
    return {
      posts: null,
      categories: null,
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    loginID() {
      return store.state.loginUser.userID;
    },
    showID() {
      return store.state.showID;
    },
    loginUser() {
      return store.state.loginUser;
    },
    friendUser() {
      return store.state.friendUser;
    }
  },
  beforeMount() {
    store.setShowID(this.friendUser.userID);
  },
  async mounted() {
    const categories = { ...this.postCategory };
    for (const key in categories) {
      categories[key].count = 0;
      categories[key].updatedAt = '';
    }
    this.categories = categories;

    try {
      this.posts = await getPosts(this.showID, this.loginID);
      this.getUnreadAndUpdatedAt(this.posts);
    } catch (error) {
      this.errorMessage = '投稿を取得するのに失敗しました。';
      this.isModalOpen = true;
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    getUnreadAndUpdatedAt(posts) {
      if (!Array.isArray(posts)) {
        throw new TypeError('posts should be an array.');
      }
      if (!posts || !posts.length) {
        return;
      }

      const { signInedAt } = this.loginUser;

      const eachCategoryUpdatedAt = {};
      posts.forEach(post => {
        if (post.updatedAt > signInedAt) {
          this.categories[post.category].count += 1;
        }
        if (
          !eachCategoryUpdatedAt[post.category] ||
          eachCategoryUpdatedAt[post.category] < post.updatedAt
        ) {
          eachCategoryUpdatedAt[post.category] = post.updatedAt;
        }
      });
      Object.keys(eachCategoryUpdatedAt).forEach(eachCategoryKey => {
        this.categories[eachCategoryKey].updatedAt = formatDateWithPeriod(
          eachCategoryUpdatedAt[eachCategoryKey]
        );
      });
    }
  }
};
</script>

<style scoped>
.FriendHome {
  width: inherit;
  height: inherit;
  background-color: var(--background-color);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.friend-home-container {
  width: inherit;
  height: inherit;
  margin-top: 55px;
  background-color: var(--background-color);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.profile {
  width: inherit;
  height: inherit;
  background-color: rgba(199, 214, 108, 0.8);
  top: 55px;
  left: 0;
  height: 180px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.profile-userID {
  font-size: 12px;
  color: white;
  margin-top: 15px;
}

.post-category {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.post-category-element {
  align-self: baseline;
  margin-top: 8px;
}
</style>
