<template>
  <div class="FriendList">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'家族一覧'" />
    <main>
      <button
        v-for="(friend, index) in friends"
        v-bind:key="friend.userID"
        class="button-friend pl-2 mt-3"
        @click="goToFriendHome(index)"
      >
        <round-photo-small :photo="friend.profile" />
        <div class="ml-3">
          <span>{{ `${friend.surname} ${friend.name}` }}</span>
        </div>
      </button>
      <my-button :innerText="'家族を追加'" :callback="addFriend" class="mt-4" />
    </main>
  </div>
</template>

<script>
import { MyHeader, MyButton, Modal, RoundPhotoSmall } from '@/components';
import { store } from '@/store';
import { getUser } from '@/utils/users';

export default {
  name: 'FriendsList',
  components: {
    MyHeader,
    MyButton,
    Modal,
    RoundPhotoSmall
  },
  data() {
    return {
      friends: [],
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    loginID() {
      return store.state.loginUser.userID;
    },
    friendIDs() {
      return store.state.loginUser.friendID;
    }
  },
  async mounted() {
    if (this.friendIDs) {
      let friends = null;
      try {
        friends = await this.getFriends(this.friendIDs);
      } catch (error) {
        this.errorMessage = '家族の情報を取得するのに失敗しました。';
        this.isModalOpen = true;
        return;
      }
      this.friends.push(...friends);
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    addFriend() {
      this.$router.push({ name: 'SearchFriend' });
    },
    async getFriends(friendID) {
      const result = await Promise.all(
        friendID.map(async eachFriendID => {
          const result = await getUser(true, eachFriendID);
          return result;
        })
      );
      return result;
    },
    goToFriendHome(index) {
      const friend = this.friends[index];
      if (!friend.friendID || !friend.friendID.includes(this.loginID)) {
        return;
      }
      store.setFriendUser(friend);
      this.$router.push({ name: 'FriendHome' });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.FriendList {
  width: inherit;
  height: 100vh;
  background-color: var(--background-color);
}

main {
  width: 100%;
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.button-friend {
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
</style>
