<template>
  <div class="SearchFriend">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="'家族を追加'" />
    <main>
      <form @submit.stop.prevent="searchMember">
        <text-input-default
          label="追加したい家族の電話番号かID"
          label-for="input-friend"
          :value="searchKey"
          v-on:updateProp="searchKey = $event"
        />
        <section class="button-section">
          <submit-button :innerText="'家族を検索'" />
        </section>
      </form>
      <aside>
        <span>ファミログを家族に紹介する</span>
      </aside>
    </main>
  </div>
</template>

<script>
import { MyHeader, SubmitButton, Modal, TextInputDefault } from '@/components';
import { getUser } from '@/utils/users';
import { store } from '@/store';

export default {
  name: 'SearchFriend',
  components: {
    MyHeader,
    SubmitButton,
    Modal,
    TextInputDefault
  },
  data() {
    return {
      searchKey: '',
      isModalOpen: false,
      errorMessage: ''
    };
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async searchMember() {
      let searchWithID = false;
      let key = this.searchKey.replace(/[━.*‐.*―.*－.*\-.*ー]/gi, '');
      if (!key.match(/^(0[5-9]0[0-9]{8}|0[1-9][1-9][0-9]{7})$/)) {
        key = this.searchKey;
        searchWithID = true;
      }

      let searchedFriend = null;
      try {
        searchedFriend = await getUser(searchWithID, key);
      } catch (error) {
        this.errorMessage = 'ユーザーが見つかりませんでした';
        this.isModalOpen = true;
        return;
      }

      const { loginUser } = store.state;
      if (
        !!loginUser.friendID &&
        loginUser.friendID.includes(searchedFriend.userID)
      ) {
        this.errorMessage = 'すでに家族として追加されています。';
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'AddFriend',
        params: { friend: searchedFriend }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.SearchFriend {
  background-color: white;
  width: inherit;
  height: inherit;
}

main {
  width: 100%;
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.input-default {
  height: 50px;
}

.button-section {
  margin-top: 30px;
}

aside {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

aside > span {
  color: var(--main-theme-color);
}
</style>
