<template>
  <main class="EndingSubCategory">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header title="遺す" />
    <section
      v-for="(endingSubCategoryData,
      endingSubCategoryKey,
      index) in entirePostData.detail"
      :key="endingSubCategoryKey"
      :class="!index ? 'first-section' : ''"
    >
      <span>{{ endingSubCategoryData.name }}</span>
      <edit-ending-sub-category-button
        :entirePostData="entirePostData"
        :endingSubCategoryData="endingSubCategoryData"
        :endingSubCategoryKey="endingSubCategoryKey"
      />
    </section>
  </main>
</template>

<script>
import { cloneDeep } from 'lodash-es';
import { Modal, MyHeader, EditEndingSubCategoryButton } from '@/components';
import { ENDING_CATEGORY } from '@/constants';

export default {
  name: 'EndingSubCategory',
  components: {
    Modal,
    MyHeader,
    EditEndingSubCategoryButton
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      entirePostData: null
    };
  },
  computed: {
    endingCategory() {
      return this.$route.params.endingCategory;
    },
    // This is the whole post data
    entirePostDataPassed() {
      return this.$route.params.entirePostData;
    }
  },
  created() {
    this.entirePostData = cloneDeep(this.entirePostDataPassed);
    this.entirePostData.subCategory = this.endingCategory;
    if (!this.entirePostData.detail) {
      this.entirePostData.detail = cloneDeep(
        ENDING_CATEGORY[this.endingCategory].subCategory
      );
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    }
  }
};
</script>

<style scoped>
.EndingSubCategory {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

section {
  padding: 0 5px 0 15px;
  width: inherit;
  height: 64px;
  border: 1px solid #cccccc;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.first-section {
  margin-top: 56px;
}
</style>
