<template>
  <main class="EndingCategory">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header title="遺す" />
    <section
      v-for="(value, key, index) in endingCategories"
      v-bind:key="key"
      :class="!index && 'first-section'"
    >
      <span>{{ value }}</span>
      <edit-ending-note-button
        :entire-post-data="findPost(key)"
        :ending-category="key"
      />
    </section>
  </main>
</template>

<script>
import { Modal, MyHeader, EditEndingNoteButton } from '@/components';
import { getPosts } from '@/utils/posts';
import { store } from '@/store';
import { initializePost } from './EndingUtils';

const categories = Object.freeze({
  ending: 'もしものとき',
  property: '資産',
  profile: '自分のこと'
});

export default {
  name: 'EndingCategory',
  components: {
    Modal,
    MyHeader,
    EditEndingNoteButton
  },
  data() {
    return {
      posts: [],
      isModalOpen: false,
      errorMessage: ''
    };
  },
  computed: {
    endingCategories() {
      return categories;
    },
    loginID() {
      return store.state.loginUser.userID;
    },
    showID() {
      return store.state.showID;
    },
    loginUser() {
      return store.state.loginUser;
    },
    profileID() {
      return store.state.loginUser.profileID;
    },
    endingID() {
      return store.state.loginUser.endingID;
    },
    propertyID() {
      return store.state.loginUser.propertyID;
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    findPost(subCategory) {
      let id = '';
      if (subCategory === 'ending') {
        id = this.endingID;
      }
      if (subCategory === 'property') {
        id = this.propertyID;
      }
      if (subCategory === 'profile') {
        id = this.profileID;
      }
      if (!id) {
        return initializePost();
      }
      const filtered = this.posts.find(post => post.postID === id);
      if (!filtered) {
        return initializePost(this.loginID, this.loginUser, subCategory);
      }
      return filtered;
    }
  },
  async created() {
    try {
      if (this.showID === this.loginID) {
        const result = await getPosts(this.loginID, this.showID);
        this.posts.push(...result);
      } else {
        const result = await getPosts(this.showID, this.loginID);
        this.posts.push(...result);
      }
    } catch (error) {
      this.errorMessage = '投稿を取得するのに失敗しました。';
      this.isModalOpen = true;
    }
  }
};
</script>

<style scoped>
.EndingCategory {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

section {
  padding: 0 5px 0 15px;
  width: inherit;
  height: 64px;
  border: 1px solid #cccccc;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.first-section {
  margin-top: 56px;
}
</style>
