<template>
  <main class="EndingNotesForm">
    <my-header :title="thisSubCategoryData.name" />
    <form class="form-container" @submit.stop.prevent="goToSharingSetting">
      <div
        v-for="subCategoryName in subEndingCategories"
        :key="subCategoryName"
        class="eachFormPart"
      >
        <text-input-default
          v-if="thisSubCategoryData.data[subCategoryName].type === 'string'"
          :label="thisSubCategoryData.data[subCategoryName].name"
          :label-for="subCategoryName"
          :value="thisSubCategoryData.data[subCategoryName].data"
          v-on:updateProp="
            thisSubCategoryData.data[subCategoryName].data = $event
          "
          :required="false"
          :disabled="subCategoryName === 'phoneNumber'"
        />
        <date-input-default
          v-else
          :label="thisSubCategoryData.data[subCategoryName].name"
          :labelFor="subCategoryName"
          :value="thisSubCategoryData.data[subCategoryName].data"
          v-on:updateProp="
            thisSubCategoryData.data[subCategoryName].data = $event
          "
          :required="false"
        />
      </div>
      <div class="button-section">
        <submit-button :innerText="'共有する相手を選ぶ'" />
      </div>
    </form>
  </main>
</template>

<script>
import { cloneDeep } from 'lodash-es';
import {
  MyHeader,
  TextInputDefault,
  DateInputDefault,
  SubmitButton
} from '@/components';
import { formatDateWithHyphen } from '@/utils/date';
import { store } from '@/store';
import { ENDING_CATEGORY } from '@/constants';

export default {
  name: 'EndingNotesForm',
  components: {
    MyHeader,
    TextInputDefault,
    DateInputDefault,
    SubmitButton
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      thisSubCategoryData: null
    };
  },
  computed: {
    entirePostData() {
      return this.$route.params.entirePostData;
    },
    endingSubCategoryData() {
      return this.$route.params.endingSubCategoryData;
    },
    endingSubCategoryKey() {
      return this.$route.params.endingSubCategoryKey;
    },
    loginUser() {
      return store.state.loginUser;
    },
    subEndingCategories() {
      return Object.keys(
        ENDING_CATEGORY[this.entirePostData.subCategory].subCategory[
          this.endingSubCategoryKey
        ].data
      );
    }
  },
  created() {
    this.thisSubCategoryData = cloneDeep(this.endingSubCategoryData);
    if (this.endingSubCategoryKey === 'attribute') {
      if (this.thisSubCategoryData.data.birthday.data) {
        this.thisSubCategoryData.data.birthday.data = formatDateWithHyphen(
          this.thisSubCategoryData.data.birthday.data
        );
      }
      if (!this.thisSubCategoryData.data.birthday.data) {
        this.thisSubCategoryData.data.birthday.data = formatDateWithHyphen(
          this.loginUser.birthday
        );
      }
      if (!this.thisSubCategoryData.data.surname.data) {
        this.thisSubCategoryData.data.surname.data = this.loginUser.surname;
      }
      if (!this.thisSubCategoryData.data.name.data) {
        this.thisSubCategoryData.data.name.data = this.loginUser.name;
      }
      if (!this.thisSubCategoryData.data.phoneNumber.data) {
        this.thisSubCategoryData.data.phoneNumber.data = this.loginUser.phoneNumber;
      }
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    goToSharingSetting() {
      const post = cloneDeep(this.entirePostData);
      post.detail[this.endingSubCategoryKey] = this.thisSubCategoryData;
      if (this.endingSubCategoryKey === 'attribute') {
        post.detail[this.endingSubCategoryKey].data.birthday.data = new Date(
          post.detail[this.endingSubCategoryKey].data.birthday.data
        ).getTime();
      }
      const isEditMode = !!post.postID;
      const postID = post.postID ?? null;
      this.$router.push({
        name: 'SharingEndingSetting',
        params: { post, isEditMode, postID }
      });
    }
  }
};
</script>

<style scoped>
.EndingNotesForm {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.form-container {
  width: 95%;
  margin-top: 85px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.eachFormPart {
  width: inherit;
  margin-bottom: 30px;
}

.button-section {
  width: 100%;
}
</style>
