<template>
  <main class="Pre_RegisterNewMedicalRecord">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="BODY_MEASUREMENT_EDIT_TITLE" />
    <div class="name"></div>
    <form class="form-container">
      <select-default
        :label="METALBOLIC_SYNDROME_JUDGMENT"
        labelFor="input-hospital"
        :options="metabolicDecision"
        :value="bodyMeasurement.metabolicSyndromeJudgment"
        @updateProp="triggerInputJudgmentHospital($event)"
        :placeholder1="SELECT_PLACEHOLDER"
      />
      <input-date-ios-scroll
        :title="DATE"
        class="input"
        :date="convertDate"
        @updateDate="triggerInputDate($event)"
      />
      <select-default
        :label="HOSPITAL"
        labelFor="input-hospital"
        :value="bodyMeasurement.hospital"
        :options="getListHospital"
        @updateProp="triggerInputHospital($event)"
        :placeholder1="SELECT_PLACEHOLDER"
      />
      <span class="d-block text-right">
        <p class="registerText" @click="redirectToHospitalRegister()">
          <a>{{ REGISTER_A_HOSPITAL }}</a>
        </p></span
      >
    </form>
    <div class="button pb-4" @click="updateBodyMeasurement()">
      <submit-button :innerText="SAVE_TITLE"></submit-button>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  SelectDefault,
  SubmitButton,
  InputDateIosScroll,
  Modal
} from '@/components';
import { METABOLIC_SYNDROME_JUDMENT } from '@/constants/dataRecordOfEachExam';
import { mapGetters } from 'vuex';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  SELECT_PLACEHOLDER,
  EDIT_BODY_MEASUREMENT_ERR_MESSAGE,
  BODY_MEASUREMENT_EDIT_TITLE,
  METALBOLIC_SYNDROME_JUDGMENT,
  DATE,
  HOSPITAL,
  REGISTER_A_HOSPITAL,
  SAVE_TITLE
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    SelectDefault,
    SubmitButton,
    InputDateIosScroll,
    Modal
  },

  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      metabolicDecision: METABOLIC_SYNDROME_JUDMENT,
      bodyMeasurement: {},
      SELECT_PLACEHOLDER,
      EDIT_BODY_MEASUREMENT_ERR_MESSAGE,
      BODY_MEASUREMENT_EDIT_TITLE,
      METALBOLIC_SYNDROME_JUDGMENT,
      DATE,
      HOSPITAL,
      REGISTER_A_HOSPITAL,
      SAVE_TITLE
    };
  },
  mounted() {
    const bodyMeasurementID = this.$route.params.bodyMeasurementID;
    this.bodyMeasurement = this.getBodyMeasurementByID(bodyMeasurementID);
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    redirectToHospitalRegister() {
      this.$router.push({
        name: 'PrimaryCareHospitalRegister'
      });
    },
    async updateBodyMeasurement() {
      try {
        await this.$store.dispatch('updateBodyMeasurement', {
          bodyMeasurementID: this.bodyMeasurement.bodyMeasurementID,
          bodyMeasurement: this.bodyMeasurement
        });
      } catch (error) {
        this.errorMessage = EDIT_BODY_MEASUREMENT_ERR_MESSAGE;
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'MedicalExaminationRecord'
      });
    },
    triggerInputDate(value) {
      this.bodyMeasurement.date = new Date(value).getTime();
    },
    triggerInputHospital(value) {
      this.bodyMeasurement.hospital = value;
    },
    triggerInputJudgmentHospital(value) {
      this.bodyMeasurement.metabolicSyndromeJudgment = value;
    }
  },
  computed: {
    ...mapGetters({
      getBodyMeasurementByID: 'getBodyMeasurementByID',
      hospitalList: 'getHospitalList'
    }),
    getListHospital() {
      if (this.hospitalList.length > 0) {
        return this.hospitalList.map(item => {
          return { value: item.hospitalID, text: item.hospitalName };
        });
      }
      return [];
    },
    convertDate() {
      return dateFormat.convertTimestampToDate(this.bodyMeasurement.date);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.name {
  padding-top: 70px;
}

.form-container {
  /* width: 95%; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: var(--width);
  padding-left: 1rem;
  padding-right: 1rem;
}

.input {
  width: 100%;
  padding-top: 1.5rem;
}

.MoreExamination {
  background-color: #eef2d0;
  margin-top: 2rem;
  margin: none !important;
  width: 100%;
}

div {
  padding-top: 1.5rem;
}

.registerText {
  display: inline-block;
  margin-top: 1rem;
  color: #c7d66c;
  font-size: 14px;
  font-family: HiraginoProW6;
}

a {
  color: #c7d66c;
  text-decoration: none;
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
}

span {
  width: 100%;
}

.registtext {
  text-align: right;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
</style>
