<template>
  <main class="MedicalExaminationRecord">
    <my-header :title="BODY_MEASUREMENT_TITLE" />
    <div class="name"></div>
    <div class="tag pt-4 pb-4 container">
      <div v-if="getSortedBodyMeasurements.length > 0">
        <section
          v-for="(item, index) in getSortedBodyMeasurements"
          :key="index"
          @click="viewBodyMeasurement(item)"
        >
          <div class="tag-data">
            <div class="row">
              <div class="text-top col-xs-8">
                {{ convertTimestampToDate(item.date) }}
              </div>
            </div>
            <div class="text-bottom row">
              <div class="col-5">
                {{ JUDGMENT }} :
                <span class="detail">{{
                  getMetabolicSyndromeJudgment(item.metabolicSyndromeJudgment)
                }}</span>
              </div>

              <div class="col-7">
                {{ EXECUTING_AGENCY }} :
                <span class="detail">{{ getHospitalName(item.hospital) }}</span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="text-center pt-4 pb-4" v-else>
        <p>{{ UNREGISTERED_BODY_MEASUREMENT_MESSAGE }}</p>
      </div>
      <div class="text-center pb-4" @click="redirectToPreRegister()">
        <submit-button :innerText="SIGN_UP_TITLE"></submit-button>
      </div>
    </div>
  </main>
</template>

<script>
import { MyHeader, SubmitButton } from '@/components';
import { mapGetters } from 'vuex';
import { METABOLIC_SYNDROME_JUDMENT } from '@/constants/dataRecordOfEachExam';
import {
  DATE_FORMAT,
  SIGN_UP_TITLE,
  BODY_MEASUREMENT_TITLE,
  JUDGMENT,
  EXECUTING_AGENCY,
  UNREGISTERED_BODY_MEASUREMENT_MESSAGE
} from '@/constants/lang';
import moment from 'moment';

export default {
  name: '',
  components: {
    MyHeader,
    SubmitButton
  },
  data() {
    return {
      hospitals: [],
      SIGN_UP_TITLE,
      BODY_MEASUREMENT_TITLE,
      JUDGMENT,
      EXECUTING_AGENCY,
      UNREGISTERED_BODY_MEASUREMENT_MESSAGE,
      DATE_FORMAT
    };
  },
  mounted() {
    window.scrollTo(0, 0);

    this.hospitals = this.hospitalList;
  },
  methods: {
    redirectToPreRegister() {
      this.$router.push({
        name: 'PreRegister'
      });
    },
    viewBodyMeasurement(bodyMeasurement) {
      this.$router.push({
        name: 'MedicalExamCategory',
        params: {
          bodyMeasurementID: bodyMeasurement.bodyMeasurementID
        }
      });
    },
    convertTimestampToDate(time) {
      if (time) {
        return moment(time).format(this.DATE_FORMAT);
      }
      return '';
    },
    getHospitalName(id) {
      if (id) {
        const hospital = this.getHospitalByID(id);
        return hospital && hospital.hospitalName;
      }
      return '';
    },
    getMetabolicSyndromeJudgment(value) {
      const found = METABOLIC_SYNDROME_JUDMENT.slice(0).find(
        item => item.value == value
      );
      return found.text;
    }
  },
  computed: {
    ...mapGetters({
      bodyMeasurements: 'getBodyMeasurementList',
      getHospitalByID: 'getHospitalByID'
    }),
    getSortedBodyMeasurements() {
      const arr = this.bodyMeasurements.slice(0);
      if (arr.length > 0) return arr.sort((a, b) => a.date - b.date);
      return [];
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
* {
  font-family: HiraginoProW3;
}
p {
  margin: 0;
}
.MedicalExaminationRecord {
  height: inherit;
  overflow: auto;
  background-color: var(--background-color);
}
.name {
  padding-top: 56px;
}

.form-container {
  background-color: var(--main-theme-color);
  height: 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
}

.tag {
  width: var(--width);
}

.tag-data {
  background-color: #fff;
  margin-bottom: 1.2rem;
  border-radius: 7px;
  box-shadow: 0px 5px 5px 1px #ccc;
  font-size: 1rem;
}

.text-top {
  margin: 1.1rem 0rem 0rem 2rem;
  padding-right: 0;
  font-size: 16px;
  font-family: HiraginoProW3;
}

.text-right {
  color: #aaa;
  font-size: 11px;
  font-family: NotoSansJPLight;
  padding-top: 1.5rem;
  padding-right: 2rem;
}

.text-left {
  margin: 1.1rem 1rem 0rem 0rem;
  text-align: end !important;
  padding-left: 0px;
  color: #ccc;
  font-size: 12px;
  font-family: HiraginoProW6;
}

.text-bottom {
  margin: 0.3rem 0rem 1.1rem 0rem;
  color: #aaaaaa;
  font-size: 11px;
  font-family: NotoSansJPLight;
  padding-bottom: 1.2rem;
}

.now {
  color: #d66634;
}

.myBtn {
  text-align: center;
}
div.text-center p {
  font-family: NotoSansJPLight;
  font-size: 16px;
  color: #101010;
}

div.text-center {
  width: var(--width);
  padding-top: 1rem;
}

.detail {
  color: black;
}
</style>
