<template>
  <main class="MedicalRecordDetail">
    <my-header :title="getTitle" />
    <p class="name"></p>
    <section v-for="(item, index) in getField.field" :key="index">
      <muted-box
        v-if="item.name !== STATUS_FIELD"
        :text="item.name"
        :description="getData(index)"
        :type="DEFAULT_MUTED_BOX"
      />
      <muted-box
        v-else
        :text="item.name"
        :description="getSelectedData(index)"
        :type="DEFAULT_MUTED_BOX"
      />
    </section>
    <div class="text-center pb-4" @click="redirectToEdit()">
      <submit-button :innerText="EDIT_TITLE"></submit-button>
    </div>
  </main>
</template>

<script>
import { MyHeader, MutedBox, SubmitButton } from '@/components';
import {
  MEDICALEXAM,
  BODY_MEASUREMENT_FIELD,
  STATUS_OPTIONS,
  STATUS_FIELD,
  DEFAULT_MUTED_BOX
} from '@/constants/commonConst';
import { mapGetters } from 'vuex';
import { EDIT_TITLE } from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    MutedBox,
    SubmitButton
  },
  created() {
    this.id = this.$route.params.id;
    const bodyMeasurementID = this.$route.params.bodyMeasurementID;
    this.bodyMeasurement = this.getBodyMeasurementByID(bodyMeasurementID);
  },
  data() {
    return {
      id: '',
      bodyMeasurement: '',
      EDIT_TITLE,
      STATUS_OPTIONS,
      STATUS_FIELD,
      DEFAULT_MUTED_BOX
    };
  },
  methods: {
    redirectToEdit() {
      this.$router.push({
        name: 'MedicalRecordEditForm',
        params: {
          id: this.id,
          getBodyMeasurementByID: this.bodyMeasurement.getBodyMeasurementByID
        }
      });
    },
    getData(index) {
      const field = BODY_MEASUREMENT_FIELD[this.id][index];
      return this.bodyMeasurement[field].toString();
    },
    getSelectedData(index) {
      const field = BODY_MEASUREMENT_FIELD[this.id][index];
      const value = this.bodyMeasurement[field];
      return this.STATUS_OPTIONS.find(item => item.value === value).text;
    }
  },
  computed: {
    ...mapGetters({
      getBodyMeasurementByID: 'getBodyMeasurementByID'
    }),
    getField() {
      let field;
      for (let i = 0; i < MEDICALEXAM.length; i++) {
        if (MEDICALEXAM[i].id.localeCompare(this.id) === 0) {
          field = MEDICALEXAM[i];
          break;
        }
      }
      return field;
    },
    getTitle() {
      return MEDICALEXAM[this.id].nihonName;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.name {
  padding-top: 70px;
}
.text-center {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
}
</style>
