<template>
  <main class="MedicalExaminationCategory">
    <header-health-notebook
      :title="convertTimestampToDate(bodyMeasurement.date)"
    />
    <div class="padding"></div>
    <section
      v-for="(item, index) in medicalCategory"
      :key="index"
      @click="redirect(item)"
    >
      <span>{{ item.nihonName }}</span>
      <span v-if="item.data === REGISTERED" class="green">
        入力済
        <svg height="56" width="30">
          <polygon points="10,20 10,35 20,27.5" />
        </svg>
      </span>
      <span v-else class="red">
        未入力
        <svg height="56" width="30">
          <polygon points="10,20 10,35 20,27.5" />
        </svg>
      </span>
    </section>
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-6 pl-3" @click="redirectToEditRecord()">
          <submit-button :innerText="'詳細情報編集'"></submit-button>
        </div>
        <div class="col-6" @click="redirectToDeleteRecord()">
          <delete-button :innerText="DELETE_TITLE"></delete-button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { HeaderHealthNotebook, SubmitButton, DeleteButton } from '@/components';
import {
  MEDICALEXAM,
  BODY_MEASUREMENT_FIELD,
  REGISTERED,
  NOT_REGISTERED
} from '@/constants/commonConst';
import { mapGetters } from 'vuex';
import { DELETE_TITLE, DATE_FORMAT } from '@/constants/lang';
import moment from 'moment';

export default {
  name: 'HealthNotebookCategory',
  components: {
    HeaderHealthNotebook,
    SubmitButton,
    DeleteButton
  },
  created() {
    this.medicalCategory = [...MEDICALEXAM];
    const bodyMeasurementID = this.$route.params.bodyMeasurementID;
    const temp = this.getBodyMeasurementByID(bodyMeasurementID);

    for (const index in BODY_MEASUREMENT_FIELD) {
      let registerStatus = false;
      for (const item of BODY_MEASUREMENT_FIELD[index]) {
        if (temp[item]) {
          registerStatus = true;
          break;
        }
      }
      if (registerStatus) {
        this.medicalCategory[index].data = this.REGISTERED;
      } else {
        this.medicalCategory[index].data = NOT_REGISTERED;
      }
      this.bodyMeasurement = temp;
    }
  },
  data() {
    return {
      bodyMeasurement: {},
      medicalCategory: [],
      REGISTERED,
      DELETE_TITLE,
      DATE_FORMAT
    };
  },
  methods: {
    redirect(category) {
      if (category.data !== this.REGISTERED) {
        this.$router.push({
          name: 'MedicalRecordRegisterForm',
          params: {
            id: category.id,
            bodyMeasurementID: this.bodyMeasurement.bodyMeasurementID
          }
        });
      } else {
        this.$router.push({
          name: 'MedicalRecordDetail',
          params: {
            id: category.id,
            bodyMeasurementID: this.bodyMeasurement.bodyMeasurementID
          }
        });
      }
    },
    redirectToEditRecord() {
      this.$router.push({
        name: 'EditBodyMeasurement',
        params: { bodyMeasurementID: this.bodyMeasurement.bodyMeasurementID }
      });
    },
    redirectToDeleteRecord() {
      this.$router.push({
        name: 'DeleteBodyMeasurement',
        params: {
          bodyMeasurementID: this.bodyMeasurement.bodyMeasurementID
        }
      });
    },
    convertTimestampToDate(time) {
      if (time) {
        return moment(time).format(this.DATE_FORMAT);
      }
      return '';
    }
  },
  computed: {
    ...mapGetters({
      getBodyMeasurementByID: 'getBodyMeasurementByID'
    })
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.padding {
  padding-top: 3.5rem;
}

.HealthNotebookCategory {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

section {
  padding: 0 5px 0 15px;
  width: inherit;
  height: 64px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: HiraginoProW3;
  font-size: 14px;
}

.first-section {
  margin-top: 56px;
}

.green {
  fill: #c7d66c;
  color: #c7d66c;
  font-size: 12px;
}

.red {
  fill: #d66634;
  color: #d66634;
  font-size: 12px;
}
</style>
