<template>
  <main class="MedicalRecordEditForm">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="getTitle" />
    <div class="padding"></div>
    <form class="form-container">
      <section v-for="(item, index) in getField.field" :key="index">
        <div v-if="item.name !== STATUS_FIELD">
          <text-input-default
            :label="item.name"
            label-for="input"
            :value="getValue(index)"
            :required="false"
            type="text"
            @updateProp="updateProp(index, $event)"
            :hasError="
              $v.checkValidation.$each[index].value.$invalid &&
                $v.checkValidation.$each[index].value.$dirty
            "
            :placeholder="INPUT_TEXT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.checkValidation.$each[index].value.$invalid &&
                $v.checkValidation.$each[index].value.$dirty &&
                !$v.checkValidation.$each[index].value.decimal
            "
          >
            {{ ERROR_NUMBER_FORMAT }}
          </p>
        </div>
        <div v-else>
          <select-default
            :label="item.name"
            :labelFor="item.name"
            :value="checkValidation[index].status"
            :options="STATUS_OPTIONS"
            :placeholder1="SELECT_PLACEHOLDER"
            :hasError="
              $v.checkValidation.$each[index].status.$invalid &&
                $v.checkValidation.$each[index].status.$dirty
            "
            @updateProp="updateProp(index, $event)"
          ></select-default>
          <p
            class="error-message"
            v-if="
              $v.checkValidation.$each[index].status.$invalid &&
                $v.checkValidation.$each[index].status.$dirty &&
                !$v.checkValidation.$each[index].status.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
      </section>
    </form>
    <div class="text-center pb-4" @click="updateBodyMeasurement()">
      <submit-button :innerText="SAVE_TITLE"></submit-button>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  SubmitButton,
  TextInputDefault,
  SelectDefault,
  Modal
} from '@/components';
import {
  MEDICALEXAM,
  BODY_MEASUREMENT_FIELD,
  STATUS_OPTIONS,
  STATUS_FIELD,
  ECG,
  FUNDUS_EXAMINATION
} from '@/constants/commonConst';
import { mapGetters } from 'vuex';
import {
  SAVE_TITLE,
  EDIT_BODY_MEASUREMENT_ERR_MESSAGE,
  INPUT_TEXT_PLACEHOLDER,
  SELECT_PLACEHOLDER,
  ERROR_REQUIRED,
  ERROR_NUMBER_FORMAT
} from '@/constants/lang';
import { required, decimal } from 'vuelidate/lib/validators';

export default {
  name: '',
  components: {
    MyHeader,
    SubmitButton,
    TextInputDefault,
    SelectDefault,
    Modal
  },
  created() {
    this.id = this.$route.params.id;
    const bodyMeasurementID = this.$route.params.bodyMeasurementID;
    this.bodyMeasurement = this.getBodyMeasurementByID(bodyMeasurementID);

    const field = BODY_MEASUREMENT_FIELD[this.id];
    if (this.id === this.ECG || this.id === this.FUNDUS_EXAMINATION) {
      this.checkValidation = field.map(item => {
        return { name: item, status: this.bodyMeasurement[item] };
      });
    } else {
      this.checkValidation = field.map(item => {
        return {
          name: item,
          value: this.bodyMeasurement[item],
          status: this.STATUS_FIELD
        };
      });
    }
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      id: '',
      bodyMeasurement: '',
      checkValidation: [],
      STATUS_OPTIONS,
      STATUS_FIELD,
      SAVE_TITLE,
      EDIT_BODY_MEASUREMENT_ERR_MESSAGE,
      INPUT_TEXT_PLACEHOLDER,
      SELECT_PLACEHOLDER,
      ECG,
      FUNDUS_EXAMINATION,
      ERROR_REQUIRED,
      ERROR_NUMBER_FORMAT
    };
  },
  validations: {
    checkValidation: {
      $each: {
        value: {
          decimal
        },
        status: {
          required
        }
      }
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async updateBodyMeasurement() {
      this.$v.$touch();
      if (!this.$v.$error) {
        try {
          await this.$store.dispatch('updateBodyMeasurement', {
            bodyMeasurementID: this.bodyMeasurement.bodyMeasurementID,
            bodyMeasurement: this.bodyMeasurement
          });
        } catch (error) {
          this.errorMessage = EDIT_BODY_MEASUREMENT_ERR_MESSAGE;
          this.isModalOpen = true;
          return;
        }
        this.$router.push({
          name: 'MedicalExamCategory',
          params: { bodyMeasurementID: this.bodyMeasurement.bodyMeasurementID }
        });
      }
    },
    updateProp(index, value) {
      const field = this.checkValidation[index].name;

      if (this.id === this.ECG || this.id === this.FUNDUS_EXAMINATION) {
        this.checkValidation[index].status = value;
        this.bodyMeasurement[field] = value;
      } else {
        if (Number(value)) {
          this.checkValidation[index].value = Number(value);
          this.bodyMeasurement[field] = Number(value);
        } else {
          this.checkValidation[index].value = value;
        }
      }
    },
    getValue(index) {
      return this.checkValidation[index].value.toString();
    }
  },
  computed: {
    ...mapGetters({
      getBodyMeasurementByID: 'getBodyMeasurementByID'
    }),
    getField() {
      let field;
      for (let i = 0; i < MEDICALEXAM.length; i++) {
        if (MEDICALEXAM[i].id.localeCompare(this.id) === 0) {
          field = MEDICALEXAM[i];
          break;
        }
      }
      return field;
    },
    getTitle() {
      return MEDICALEXAM[this.id].nihonName;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.padding {
  padding-top: 56px;
}
.text-center {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
}
.form-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
}
.form-container div {
  margin-top: 1.25rem;
}
.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
</style>
