<template>
  <main class="Pre_RegisterNewMedicalRecord">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="BODY_MEASUREMENT_REGISTER_TITLE" />
    <div class="name"></div>
    <form class="form-container">
      <select-default
        :label="METALBOLIC_SYNDROME_JUDGMENT"
        labelFor="input-hospital"
        :options="metabolicDecision"
        :value="bodyMeasurement.metabolicSyndromeJudgment"
        :hasError="
          $v.bodyMeasurement.metabolicSyndromeJudgment.$invalid &&
            $v.bodyMeasurement.metabolicSyndromeJudgment.$dirty
        "
        @updateProp="triggerInputJudgmentHospital($event)"
        :placeholder1="SELECT_PLACEHOLDER"
      />
      <p
        class="error-message"
        v-if="
          $v.bodyMeasurement.metabolicSyndromeJudgment.$invalid &&
            $v.bodyMeasurement.metabolicSyndromeJudgment.$dirty &&
            !$v.bodyMeasurement.metabolicSyndromeJudgment.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
      <input-date-ios-scroll
        :title="DATE"
        class="input"
        :date="convertDate"
        :hasError="
          $v.bodyMeasurement.date.$invalid && $v.bodyMeasurement.date.$dirty
        "
        @updateDate="triggerInputDate($event)"
      />
      <p
        class="error-message"
        v-if="
          $v.bodyMeasurement.date.$invalid &&
            $v.bodyMeasurement.date.$dirty &&
            !$v.bodyMeasurement.date.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
      <select-default
        label="HOSPITAL"
        labelFor="input-hospital"
        :value="bodyMeasurement.hospital"
        :options="getListHospital"
        :hasError="
          $v.bodyMeasurement.hospital.$invalid &&
            $v.bodyMeasurement.hospital.$dirty
        "
        @updateProp="triggerInputHospital($event)"
        :placeholder1="SELECT_PLACEHOLDER"
      />
      <p
        class="error-message"
        v-if="
          $v.bodyMeasurement.hospital.$invalid &&
            $v.bodyMeasurement.hospital.$dirty &&
            !$v.bodyMeasurement.hospital.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
      <span class="d-block text-right">
        <p class="registerText" @click="redirectToHospitalRegister()">
          <a>{{ REGISTER_A_HOSPITAL }}</a>
        </p></span
      >
    </form>
    <div class="button pb-4" @click="createBodyMeasurement()">
      <submit-button :innerText="REGISTRATION"></submit-button>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  SelectDefault,
  SubmitButton,
  InputDateIosScroll,
  Modal
} from '@/components';
import {
  SELECT_PLACEHOLDER,
  ERROR_REQUIRED,
  REGISTRATION_BODY_MEASUREMENT_ERR_MESSAGE,
  REGISTRATION,
  BODY_MEASUREMENT_REGISTER_TITLE,
  METALBOLIC_SYNDROME_JUDGMENT,
  DATE,
  HOSPITAL,
  REGISTER_A_HOSPITAL
} from '@/constants/lang';
import { METABOLIC_SYNDROME_JUDMENT } from '@/constants/dataRecordOfEachExam';
import { mapGetters } from 'vuex';
import { dateFormat } from '@/utils/utilsFunctions';
import { required } from 'vuelidate/lib/validators';

export default {
  name: '',
  components: {
    MyHeader,
    SelectDefault,
    SubmitButton,
    InputDateIosScroll,
    Modal
  },

  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      metabolicDecision: METABOLIC_SYNDROME_JUDMENT,
      bodyMeasurement: {
        metabolicSyndromeJudgment: '',
        date: '',
        hospital: '',
        user: {},
        userID: ''
      },
      SELECT_PLACEHOLDER,
      ERROR_REQUIRED,
      REGISTRATION_BODY_MEASUREMENT_ERR_MESSAGE,
      REGISTRATION,
      BODY_MEASUREMENT_REGISTER_TITLE,
      METALBOLIC_SYNDROME_JUDGMENT,
      DATE,
      HOSPITAL,
      REGISTER_A_HOSPITAL
    };
  },
  validations: {
    bodyMeasurement: {
      metabolicSyndromeJudgment: {
        required
      },
      date: {
        required
      },
      hospital: {
        required
      }
    }
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem('user'));
    this.bodyMeasurement.user = user;
    this.bodyMeasurement.userID = user.userID;
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    redirectToHospitalRegister() {
      this.$router.push({
        name: 'PrimaryCareHospitalRegister'
      });
    },
    async createBodyMeasurement() {
      this.$v.$touch();
      if (!this.$v.$error) {
        try {
          await this.$store.dispatch(
            'createBodyMeasurement',
            this.bodyMeasurement
          );
        } catch (error) {
          this.errorMessage = REGISTRATION_BODY_MEASUREMENT_ERR_MESSAGE;
          this.isModalOpen = true;
          return;
        }

        this.$router.push({
          name: 'MedicalExaminationRecord'
        });
      }
    },
    triggerInputDate(value) {
      this.bodyMeasurement.date = new Date(value).getTime();
    },
    triggerInputHospital(value) {
      this.bodyMeasurement.hospital = value;
    },
    triggerInputJudgmentHospital(value) {
      this.bodyMeasurement.metabolicSyndromeJudgment = value;
    }
  },
  computed: {
    ...mapGetters({
      hospitalList: 'getHospitalList'
    }),
    getListHospital() {
      if (this.hospitalList.length > 0) {
        return this.hospitalList.map(item => {
          return { value: item.hospitalID, text: item.hospitalName };
        });
      }
      return [];
    },
    convertDate() {
      return dateFormat.convertTimestampToDate(this.bodyMeasurement.date);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
.name {
  padding-top: 70px;
}

.form-container {
  /* width: 95%; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: var(--width);
  padding-left: 1rem;
  padding-right: 1rem;
}

.input {
  width: 100%;
  padding-top: 1.5rem;
}

.MoreExamination {
  background-color: #eef2d0;
  margin-top: 2rem;
  margin: none !important;
  width: 100%;
}

div {
  padding-top: 1.5rem;
}

.registerText {
  display: inline-block;
  color: #c7d66c;
  margin-top: 1rem;
  font-size: 14px;
  font-family: HiraginoProW6;
}

a {
  color: #c7d66c;
  text-decoration: none;
}

.button {
  margin-left: 1rem;
  margin-right: 1rem;
}

span {
  width: 100%;
}

.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
</style>
