<template>
  <button :class="createButtonClass()" @click.prevent.stop="executeRoute">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="512"
      height="512"
      viewBox="0 0 512 512"
    >
      <title>ionicons-v5-b</title>
      <path
        d="M190.06,414,353.18,274.22a24,24,0,0,0,0-36.44L190.06,98c-15.57-13.34-39.62-2.28-39.62,18.22V395.82C150.44,416.32,174.49,427.38,190.06,414Z"
      />
    </svg>
  </button>
</template>

<script>
export default {
  name: 'EditEndingNoteButton',
  props: {
    entirePostData: Object,
    endingCategory: String
  },
  computed: {
    isDone() {
      if (this.endingCategory === 'profile') {
        return true;
      }
      return !!this.entirePostData[this.endingCategory];
    }
  },
  methods: {
    executeRoute() {
      this.$router.push({
        name: 'EndingSubCategory',
        params: {
          entirePostData: this.entirePostData,
          endingCategory: this.endingCategory
        }
      });
    },
    createButtonClass() {
      let currentClass = 'ending-note-button ';
      if (this.isDone) {
        currentClass += 'tobeUpdated';
        return currentClass;
      }
      currentClass += 'done';
      return currentClass;
    }
  }
};
</script>

<style scoped>
.ending-note-button {
  border: none;
  background-color: transparent;
}

.done {
  color: #cccccc;
}
.tobeUpdated {
  color: var(--main-theme-color);
}

svg {
  width: 20px;
  height: 20px;
  fill: var(--main-theme-color);
}
</style>
