<template>
  <div>
    <div class="container mb-3">
      <div class="myText title">
        <p>{{ text }}</p>
      </div>
      <div :class="addCssType">
        <p v-if="description">{{ description }}</p>
        <p v-else v-html="title"></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MutedBox',
  props: {
    text: {
      type: String,
      default: '',
      required: true
    },
    description: {
      type: String,
      default: '',
      required: true
    },
    type: {
      type: String,
      default: 'default',
      required: true
    },
    title: {
      type: String,
      default: '',
      required: false
    }
  },
  data() {
    return {
      typeDefault: 'default'
    };
  },
  computed: {
    addCssType() {
      if (this.type !== this.typeDefault) {
        return 'myText descrip  text-description';
      }
      return 'myText descrip';
    }
  },
  methods: {}
};
</script>

<style scoped>
p {
  margin: 0;
  padding: 0;
}
.container {
  width: var(--width);
}
.myText {
  color: #fff;
  font-size: 13px;
}
.title {
  font-family: HiraginoProW6;
  background-color: var(--main-theme-color);
  height: auto;
  display: block;
  padding: 10px 10px;
}
.descrip {
  background-color: #ededed;
  padding: 15px 12px;
  color: #101010;
  font-family: HiraginoProW3;
}
.text-description {
  overflow: hidden;
}
.text-description p {
  height: 7.5rem;
}
</style>
