<template>
  <main class="MedicalExaminationCalendar">
    <header-health-notebook :title="MEDICAL_EXAMINATION_CALENDAR_TITLE" />
    <div class="padding"></div>
    <form class="form-container">
      <select-default
        :value="type"
        @updateProp="changeType($event)"
        labelFor="list-display-type"
        :options="displayTypes"
        :placeholder1="SELECT_PLACEHOLDER"
      />
    </form>
    <b-container class="tag mt-4 pb-4" v-if="showList">
      <div v-if="getSortedExaminatonScheduleList.length > 0">
        <section
          v-for="(item, index) in getSortedExaminatonScheduleList"
          :key="index"
        >
          <div
            class="tag-data"
            @click="redirectToDetail(item)"
            style="cursor:pointer"
          >
            <b-row>
              <b-col class="text-top" cols="8">
                {{ convertTimestampToDate(item.date) }}
              </b-col>
              <b-col
                v-if="Number(getDateLeft(item.date)) === 0"
                class="text-left now"
                >{{ TODAY }}</b-col
              >
              <b-col
                v-else-if="getDateLeft(item.date) <= 7"
                class="text-left now"
                >{{ getDateLeft(item.date) }}{{ DAY_AFTER }}</b-col
              >
              <b-col v-else class="text-left"
                >{{ getDateLeft(item.date) }}{{ DAY_AFTER }}</b-col
              >
            </b-row>
            <b-row>
              <b-col class="text-bottom">{{ item.title }}</b-col>
            </b-row>
          </div>
        </section>
      </div>
      <div class="text-center pt-4 pb-4" v-else>
        <p>{{ UNREGISTERED_EXAMINATION_CALENDAR_MESSAGE }}</p>
      </div>
      <div class="text-center pb-4" @click="redirectToRegister()">
        <submit-button :innerText="SIGN_UP_TITLE"></submit-button>
      </div>
    </b-container>
    <b-container class="tag mt-4" v-else>
      <calender-view :arrData="getArrData"></calender-view>
      <div class="text-center pt-4 pb-4" @click="redirectToRegister()">
        <submit-button :innerText="SIGN_UP_TITLE"></submit-button>
      </div>
    </b-container>
  </main>
</template>

<script>
import {
  HeaderHealthNotebook,
  SelectDefault,
  SubmitButton,
  CalendarView
} from '@/components';
import moment from 'moment';
import { mapGetters } from 'vuex';
import {
  WEEKLIST,
  DISPLAY_LIST,
  DISPLAY_CALENDAR
} from '@/constants/commonConst';
import {
  MEDICAL_EXAMINATION_CALENDAR_TITLE,
  SIGN_UP_TITLE,
  UNREGISTERED_EXAMINATION_CALENDAR_MESSAGE,
  TODAY,
  DAY_AFTER,
  SELECT_PLACEHOLDER,
  DATE_FORMAT
} from '@/constants/lang';

export default {
  name: '',
  components: {
    HeaderHealthNotebook,
    SelectDefault,
    SubmitButton,
    'calender-view': CalendarView
  },
  data() {
    return {
      displayTypes: [
        {
          value: 'list',
          text: 'リスト表示'
        },
        {
          value: 'calendar',
          text: 'カレンダー表示'
        }
      ],
      type: '',
      MEDICAL_EXAMINATION_CALENDAR_TITLE,
      SIGN_UP_TITLE,
      UNREGISTERED_EXAMINATION_CALENDAR_MESSAGE,
      TODAY,
      DAY_AFTER,
      DISPLAY_LIST,
      DISPLAY_CALENDAR,
      SELECT_PLACEHOLDER,
      DATE_FORMAT
    };
  },
  created() {
    window.scrollTo(0, 0);

    this.type = this.$route.params.display
      ? this.$route.params.display
      : this.DISPLAY_LIST;
  },
  computed: {
    ...mapGetters({
      examinationScheduleList: 'getExaminationScheduleList'
    }),
    showList() {
      if (this.type === DISPLAY_LIST) return true;
      return false;
    },
    getSortedExaminatonScheduleList: function() {
      return this.examinationScheduleList
        .slice(0)
        .filter(item => {
          return this.isShow(item);
        })
        .sort((a, b) => {
          return a.date - b.date;
        });
    },
    getArrData() {
      return this.examinationScheduleList
        .slice(0)
        .filter(item => {
          return this.isShow(item);
        })
        .map(value => {
          return { id: value.examinationScheduleID, dateValue: value.date };
        });
    }
  },
  methods: {
    changeType(value) {
      this.type = value;
    },
    redirectToDetail(item) {
      this.$router.push({
        name: 'MedicalExamDetail',
        query: {
          id: item.examinationScheduleID
        }
      });
    },
    convertTimestampToDate(time) {
      if (time) {
        const date = moment(time).format(this.DATE_FORMAT);
        const day = new Date(time).getDay();

        const dayfound = WEEKLIST.find(item => item.value === day);
        if (dayfound) {
          return `${date}(${dayfound.text})`;
        } else return `${date}`;
      }
      return '';
    },
    getDateLeft(date) {
      const now = moment(new Date());
      const myDate = moment(date);
      const duration = moment.duration(now.diff(myDate));
      return -Math.floor(duration.asDays());
    },
    isShow(item) {
      const dateValue = new Date(item.date).toDateString();
      const now = new Date().toDateString();

      if (dateValue === now) {
        // date register === now
        // const hourNow = new Date().getHours();
        // const minuteNow = new Date().getMinutes();

        // const [hour, minute] = item.time.split(':');
        // if (hour > hourNow) {
        //   return true;
        // } else if (Number(hour) < hourNow) {
        //   return false;
        // } else {
        //   if (minute >= minuteNow) return true;
        //   else return false;
        // }
        return true;
      } else {
        // date in register != now
        return item.date - new Date().getTime() > 0 ? true : false;
      }
    },
    redirectToRegister() {
      this.$router.push({
        name: 'RegisterMedicalExamination',
        query: { display: this.type }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.padding {
  padding-top: 55px;
}
.MedicalExaminationCalendar {
  background-color: var(--background-color);
  overflow: auto;
  height: inherit;
}
.form-container {
  background-color: var(--main-theme-color);
  height: 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
}
.tag {
  width: var(--width);
}
.tag-data {
  background-color: #fff;
  margin-bottom: 1.2rem;
  border-radius: 7px;
  box-shadow: 0px 5px 5px 1px #ccc;
  font-size: 1rem;
}
.text-top {
  margin: 1.1rem 0rem 0rem 1rem;
  padding-right: 0;
  font-size: 16px;
  font-family: HiraginoProW3;
}
.text-left {
  margin: 1.1rem 1rem 0rem 0rem;
  text-align: end !important;
  padding-left: 0px;
  color: #ccc;
  font-size: 12px;
  font-family: HiraginoProW6;
}
.text-bottom {
  margin: 0.3rem 0rem 1.1rem 1rem;
  color: #ccc;
  font-size: 11px;
  font-weight: 600;
  font-family: NotoSansJPRegular;
}
div.text-center p {
  font-family: NotoSansJPRegular;
  font-size: 16px;
  color: #101010;
}
.now {
  color: #d66634;
}
.myBtn {
  text-align: center;
}
div.text-center {
  width: var(--width);
}
</style>
