<template>
  <main class="RegisterForAMedicalExamination">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="MEDICAL_EXAMINATION_REGISTER_TITLE" />
    <div class="padding"></div>
    <form class="form-container">
      <text-input-default
        :label="TITLE"
        label-for="input-phone"
        type="text"
        :hasError="
          $v.examinationSchedule.title.$invalid &&
            $v.examinationSchedule.title.$dirty
        "
        :maxlength="MAX_TEXT_LENGTH"
        :required="false"
        :value="examinationSchedule.title"
        placeholder="例）◯◯検診"
        @updateProp="updateTitle($event)"
      />
      <p
        class="error-message"
        v-if="
          $v.examinationSchedule.title.$invalid &&
            $v.examinationSchedule.title.$dirty &&
            !$v.examinationSchedule.title.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
      <input-date-ios-scroll
        :title="DATE"
        class="input"
        :date="convertDate"
        :hasError="
          $v.examinationSchedule.date.$invalid &&
            $v.examinationSchedule.date.$dirty
        "
        style="padding-top:1rem"
        @updateDate="updateDate($event)"
      />
      <p
        class="error-message"
        v-if="
          $v.examinationSchedule.date.$invalid &&
            $v.examinationSchedule.date.$dirty &&
            !$v.examinationSchedule.date.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
      <p class="error-message" v-if="errorDate">
        {{ CHECK_DATE_ERROR }}
      </p>
      <input-time-ios-scroll
        :title="TIME"
        class="input"
        style="padding-top:1rem"
        :time="examinationSchedule.time"
        :hasError="
          $v.examinationSchedule.time.$invalid &&
            $v.examinationSchedule.time.$dirty
        "
        @updateTime="updateTime($event)"
      />
      <p
        class="error-message"
        v-if="
          $v.examinationSchedule.time.$invalid &&
            $v.examinationSchedule.time.$dirty &&
            !$v.examinationSchedule.time.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
      <select-default
        :label="HOSPITAL"
        labelFor="input-hospital"
        :options="getListHospital"
        :value="examinationSchedule.hospital"
        :hasError="
          $v.examinationSchedule.hospital.$invalid &&
            $v.examinationSchedule.hospital.$dirty
        "
        :placeholder1="SELECT_PLACEHOLDER"
        @updateProp="updateHospital($event)"
      />
      <p
        class="error-message"
        v-if="
          $v.examinationSchedule.hospital.$invalid &&
            $v.examinationSchedule.hospital.$dirty &&
            !$v.examinationSchedule.hospital.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
      <span class="d-block text-right">
        <p class="registerText" @click="redirectToHospitalRegister()">
          <a>{{ REGISTER_A_HOSPITAL }}</a>
        </p></span
      >
      <textarea-input-default
        :label="EXAMINATION_CONTENT"
        labelFor="input-content"
        :value="examinationSchedule.content"
        @updateProp="updateContent($event)"
        :hasError="
          $v.examinationSchedule.content.$invalid &&
            $v.examinationSchedule.content.$dirty
        "
        :maxLength="MAX_TEXT_AREA_LENGTH"
        type="textarea"
        placeholder=""
      />
      <p
        class="error-message"
        v-if="
          $v.examinationSchedule.content.$invalid &&
            $v.examinationSchedule.content.$dirty &&
            !$v.examinationSchedule.content.required
        "
      >
        {{ ERROR_REQUIRED }}
      </p>
    </form>
    <div @click="createExaminationSchedule" class="text-center pb-4">
      <submit-button :innerText="REGISTRATION"></submit-button>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  TextInputDefault,
  InputDateIosScroll,
  InputTimeIosScroll,
  TextareaInputDefault,
  SelectDefault,
  SubmitButton,
  Modal
} from '@/components';
import { mapGetters } from 'vuex';
import {
  MAX_TEXT_LENGTH,
  MAX_TEXT_AREA_LENGTH,
  DISPLAY_LIST
} from '@/constants/commonConst';
import { dateFormat } from '@/utils/utilsFunctions';
import { required } from 'vuelidate/lib/validators';
import {
  CHECK_DATE_ERROR,
  SELECT_PLACEHOLDER,
  ERROR_REQUIRED,
  REGISTRATION,
  REGISTRATION_EXAMINATION_SCHEDULE_ERR_MESSAGE,
  TITLE,
  MEDICAL_EXAMINATION_REGISTER_TITLE,
  DATE,
  TIME,
  HOSPITAL,
  REGISTER_A_HOSPITAL,
  EXAMINATION_CONTENT
} from '@/constants/lang';
import moment from 'moment';

export default {
  name: '',
  components: {
    MyHeader,
    TextInputDefault,
    InputDateIosScroll,
    InputTimeIosScroll,
    TextareaInputDefault,
    SelectDefault,
    SubmitButton,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      examinationSchedule: {
        title: '',
        date: '',
        time: '',
        hospital: '',
        content: '',
        user: {},
        userID: ''
      },
      type: '',
      errorDate: false,
      DISPLAY_LIST,
      SELECT_PLACEHOLDER,
      ERROR_REQUIRED,
      CHECK_DATE_ERROR,
      MAX_TEXT_LENGTH,
      MAX_TEXT_AREA_LENGTH,
      REGISTRATION,
      REGISTRATION_EXAMINATION_SCHEDULE_ERR_MESSAGE,
      TITLE,
      MEDICAL_EXAMINATION_REGISTER_TITLE,
      DATE,
      TIME,
      HOSPITAL,
      REGISTER_A_HOSPITAL,
      EXAMINATION_CONTENT
    };
  },
  validations: {
    examinationSchedule: {
      title: { required },
      date: { required },
      time: { required },
      hospital: { required },
      content: { required }
    }
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem('user'));
    this.examinationSchedule.user = user;
    this.examinationSchedule.userID = user.userID;

    this.type = this.$route.query.display
      ? this.$route.query.display
      : this.DISPLAY_LIST;
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    formatString(str) {
      // loai bo khoang trang khoi chuoi
      str = str.replace(/\s+/g, ' ').trim();
      return str;
    },
    updateTitle(value) {
      this.examinationSchedule.title = this.formatString(value);
    },
    updateDate(value) {
      const dateSelected = moment(value);
      const now = moment(new Date());
      if (now.diff(dateSelected, 'days') > 0) {
        this.errorDate = true;
      } else {
        this.errorDate = false;
      }
      this.examinationSchedule.date = new Date(value).getTime();
    },
    updateTime(value) {
      this.examinationSchedule.time = value;
    },
    updateHospital(value) {
      this.examinationSchedule.hospital = value;
    },
    updateContent(value) {
      this.examinationSchedule.content = this.formatString(value);
    },
    async createExaminationSchedule() {
      this.$v.$touch();

      if (!this.$v.$error && !this.errorDate) {
        try {
          await this.$store.dispatch(
            'createExaminationSchedule',
            this.examinationSchedule
          );
        } catch (error) {
          this.errorMessage = REGISTRATION_EXAMINATION_SCHEDULE_ERR_MESSAGE;
          this.isModalOpen = true;
          return;
        }
        this.$router.push({
          name: 'ExaminationCalendar',
          params: { display: this.type }
        });
      }
    },
    redirectToHospitalRegister() {
      this.$router.push({ name: 'PrimaryCareHospitalRegister' });
    }
  },
  computed: {
    ...mapGetters({
      hospitalList: 'getHospitalList'
    }),
    getListHospital() {
      const arr = this.hospitalList.slice(0);
      if (arr.length === 0) return [];
      return arr.map(item => {
        return { text: item.hospitalName, value: item.hospitalID };
      });
    },
    convertDate() {
      return dateFormat.convertTimestampToDate(this.examinationSchedule.date);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: HiraginoProW3;
}
p {
  margin: 0;
  padding: 0;
}
.padding {
  padding-top: 55px;
}
.form-container {
  width: var(--width);
  padding-left: 1rem;
  padding-right: 1rem;
}
.input {
  width: 100%;
}
div {
  padding-top: 1rem;
}
div.text-center {
  width: var(--width);
  padding-left: 1rem;
  padding-right: 1rem;
}
.registerText {
  display: inline-block;
  color: #c7d66c;
  font-size: 14px;
  margin: 0.5rem 0.5rem 0 0;
  font-family: HiraginoProW6;
  cursor: pointer;
}
.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
</style>
