<template>
  <main class="MedicalExaminationDetail">
    <my-header :title="MEDICAL_EXAMINATION_DETAIL_TITLE" />
    <div class="padding"></div>
    <p
      class="text-center mt-3 mb-3"
      style="font-size:24px;  font-family: HiraginoProW3;"
    >
      {{ examinationSchedule.title }}
    </p>
    <muted-box
      :text="DATE"
      :description="convertTimestampToDate"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="TIME"
      :description="examinationSchedule.time"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="HOSPITAL"
      :description="getHospitalName"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="EXAMINATION_CONTENT"
      :description="examinationSchedule.content"
      :type="DESCRIPTION_MUTED_BOX"
    />
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-6" @click="editMedicalExam()">
          <submit-button :innerText="EDIT_TITLE"></submit-button>
        </div>
        <div class="col-6" @click="deleteMedicalExam()">
          <delete-button :innerText="DELETE_TITLE"></delete-button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { MyHeader, MutedBox, SubmitButton, DeleteButton } from '@/components';
import {
  WEEKLIST,
  DEFAULT_MUTED_BOX,
  DESCRIPTION_MUTED_BOX
} from '@/constants/commonConst';
import { mapGetters } from 'vuex';
import {
  DELETE_TITLE,
  EDIT_TITLE,
  MEDICAL_EXAMINATION_DETAIL_TITLE,
  DATE,
  TIME,
  HOSPITAL,
  REGISTER_A_HOSPITAL,
  EXAMINATION_CONTENT,
  DATE_FORMAT
} from '@/constants/lang';
import moment from 'moment';

export default {
  name: 'MedicalExaminationDetail',
  components: {
    MyHeader,
    MutedBox,
    SubmitButton,
    DeleteButton
  },
  data() {
    return {
      examinationSchedule: {},
      DELETE_TITLE,
      EDIT_TITLE,
      MEDICAL_EXAMINATION_DETAIL_TITLE,
      DATE,
      TIME,
      HOSPITAL,
      REGISTER_A_HOSPITAL,
      EXAMINATION_CONTENT,
      DEFAULT_MUTED_BOX,
      DESCRIPTION_MUTED_BOX,
      DATE_FORMAT
    };
  },
  mounted() {
    const id = this.$route.query.id;
    this.examinationSchedule = this.getExaminationScheduleByID(id);
  },
  methods: {
    editMedicalExam() {
      this.$router.push({
        name: 'EditMedicalExamination',
        query: {
          id: this.examinationSchedule.examinationScheduleID
        }
      });
    },
    deleteMedicalExam() {
      this.$router.push({
        name: 'DeleteMedicalExamination',
        query: {
          id: this.examinationSchedule.examinationScheduleID
        }
      });
    }
  },
  computed: {
    ...mapGetters({
      getHospitalByID: 'getHospitalByID',
      getExaminationScheduleByID: 'getExaminationScheduleByID'
    }),
    convertTimestampToDate() {
      const time = this.examinationSchedule.date;
      if (time) {
        const date = moment(time).format(this.DATE_FORMAT);
        const day = new Date(time).getDay();

        const dayfound = WEEKLIST.find(item => item.value === day);
        if (dayfound) {
          return `${date}(${dayfound.text})`;
        } else return `${date}`;
      }
      return '';
    },
    getHospitalName() {
      if (this.examinationSchedule.hospital) {
        const hospital = this.getHospitalByID(
          this.examinationSchedule.hospital
        );
        return hospital && hospital.hospitalName;
      }
      return '';
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: HiraginoProW3;
}
.container {
  width: var(--width);
}
.padding {
  padding-top: 55px;
}
.form-container {
  background-color: var(--main-theme-color);
  height: 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
}
</style>
