<template>
  <transition name="my-modal">
    <section class="my-modal" v-show="isOpen">
      <h1>{{ title }}</h1>
      <div class="my-modal-body">{{ message }}</div>
      <div class="my-modal-footer">
        <button @click.stop.prevent="closeModal">Close</button>
      </div>
    </section>
  </transition>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    isModalOpen: {
      type: Boolean,
      default: false,
      required: true
    },
    title: {
      type: String,
      default: 'エラー',
      required: false
    },
    message: {
      type: String,
      default: '',
      required: true
    },
    closeModal: {
      type: Function,
      required: true
    }
  },
  computed: {
    isOpen() {
      return this.isModalOpen;
    }
  }
};
</script>

<style scoped>
.my-modal-enter-active,
.my-modal-leave-active {
  transition: opacity 1s ease;
}
.my-modal-enter,
.my-modal-leave-to {
  opacity: 0;
}

.my-modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  padding: 0 16px;
  background-color: palevioletred;
  opacity: 0.8;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.my-modal > h1 {
  font-size: 14px;
  width: 100%;
  border-bottom: 1px solid black;
}
.my-modal > div {
  width: 100%;
}
.my-modal-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
button {
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
</style>
