<template>
  <header>アカウント作成</header>
</template>

<script>
export default {
  name: 'AccountHeader'
};
</script>

<style scoped>
header {
  width: 100%;
  height: 55px;
  background-color: var(--main-theme-color);
  color: white;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
</style>
