<template>
  <header>
    <nav
      class="navbar navbar-toggleable-md navbar-dark"
      style="filter: drop-shadow(1px 3px 3px rgba(169,169,169,0.6));"
    >
      <ul class="navbar-nav pr-1">
        <li class="nav-item active" @click="backHome">
          <img width="25" height="25" src="@/assets/icons/home.png" />
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            style="font-size: 16px;font-family: HiraginoProW6;"
          >
            {{ title }}
            <span class="sr-only"></span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav pl-1">
        <li class="nav-item active" @click="friendsList">
          <img width="25" height="25" src="@/assets/icons/ico_user_w.png" />
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { store } from '@/store';

export default {
  props: {
    title: {
      type: String,
      default: '',
      required: true
    }
  },
  methods: {
    backHome() {
      if (this.$route.path === '/home') {
        return;
      }
      this.$router.push({
        name: 'Home',
        params: { userID: store.state.loginUser.userID }
      });
    },
    friendsList() {
      this.$router.push({ name: 'FriendsList' });
    }
  }
};
</script>

<style>
header {
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 999;
}

nav {
  height: inherit;
}

.navbar {
  background-color: var(--main-theme-color);
}
</style>
