<template>
  <button class="Folder" @click.prevent.stop="goToPostList">
    <section class="count-element">
      <div v-if="loginID !== showID && count > 0" class="count">
        <span>{{ count }}</span>
      </div>
      <div v-else class="no-count" />
    </section>
    <section>
      <img width="30" height="auto" src="@/assets/icons/ico_folder_y.png" />
    </section>
    <section>
      <div class="category-name">{{ categoryName }}</div>
      <div v-if="updatedAt" class="updated-at">{{ updatedAt }}</div>
      <div v-else class="no-updatedAt">nothing</div>
    </section>
  </button>
</template>

<script>
import { store } from '@/store';
export default {
  props: {
    categoryID: {
      type: String,
      default: 'health',
      required: true
    },
    categoryName: {
      type: String,
      default: '',
      required: true
    },
    updatedAt: {
      type: String,
      default: '',
      required: true
    },
    userID: {
      type: String,
      default: '',
      required: true
    },
    count: {
      type: Number,
      default: 0,
      required: true
    },
    componentName: {
      type: String,
      default: '',
      required: false
    }
  },
  computed: {
    loginID() {
      return store.state.loginUser.userID;
    },
    showID() {
      return store.state.showID;
    }
  },
  methods: {
    goToPostList() {
      if (!this.componentName) {
        this.$router.push({
          name: 'PostsList',
          params: { categoryID: this.categoryID }
        });
        return;
      }
      if (
        this.componentName === 'EndingCategory' &&
        this.loginID !== this.showID
      ) {
        alert(
          '家族のエンディングノートは管理者から指定された時期以降にお見せします。'
        );
        return;
      }
      this.$router.push({
        name: this.componentName
      });
    }
  }
};
</script>

<style scoped>
.Folder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 113.44px;
  width: 109px;
  padding: 0;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.Folder:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  filter: drop-shadow(2px 2px 2px rgba(128, 128, 128, 0.6));
  border-bottom: none;
}
.count-element {
  width: 100px;
  padding-top: 5px;
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.count {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  background: #ff0000;
  font-size: 14px;
  color: #ffffff;
}
.no-count {
  height: 20px;
}
.category-name {
  font-size: 12px;
}
.updated-at {
  font-size: 10px;
  color: var(--main-theme-color);
}
.no-updatedAt {
  font-size: 10px;
  color: white;
}
</style>
