<template>
  <div class="ConfirmToDelete">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="DELETE_TITLE" />
    <main>
      <section class="confirm">このメモを削除してもよろしいですか?</section>
      <section class="buttons">
        <my-button
          :innerText="'戻る'"
          :width="'45%'"
          :callback="goBackToHealthTraining"
        />
        <my-button
          :innerText="DELETE_TITLE"
          :width="'45%'"
          class="button-delete"
          :callback="invokeDeleteHealthTraining"
        />
      </section>
    </main>
  </div>
</template>

<script>
import { MyHeader, MyButton, Modal } from '@/components';
import {
  DELETE_TITLE,
  DELETE_HEALTH_TRAINING_ERR_MESSAGE
} from '@/constants/lang';
import { mapGetters } from 'vuex';

export default {
  name: 'ConfirmToDelete',
  components: {
    MyHeader,
    MyButton,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      DELETE_TITLE,
      DELETE_HEALTH_TRAINING_ERR_MESSAGE
    };
  },
  computed: {
    ...mapGetters({
      getHealthTrainingByID: 'getHealthTrainingByID'
    }),
    healthTraining() {
      const id = this.$route.query.id;
      return this.getHealthTrainingByID(id);
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async invokeDeleteHealthTraining() {
      try {
        await this.$store.dispatch(
          'deleteHealthTraining',
          this.healthTraining.healthTrainingID
        );
      } catch (error) {
        this.errorMessage = DELETE_HEALTH_TRAINING_ERR_MESSAGE;
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'HealthTraining'
      });
    },
    goBackToHealthTraining() {
      this.$router.push({
        name: 'HealthTrainingDetail',
        query: { id: this.healthTraining.healthTrainingID }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ConfirmToDelete {
  background-color: #ffffff;
  width: inherit;
  height: inherit;
}

main {
  width: 100%;
  padding-top: 55px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.confirm {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-delete {
  background-color: #aa4443;
}
</style>
