<template>
  <main class="HealthTrainingDetail">
    <my-header :title="HEALTH_TRAINING_DETAIL_TITLE" />
    <div class="marging"></div>
    <div class="padding">
      <muted-box
        :text="DATE"
        :description="convertDate"
        :type="DEFAULT_MUTED_BOX"
      />
      <muted-box
        :text="TYPE"
        :description="getType(healthTraining.type)"
        :type="DEFAULT_MUTED_BOX"
      />
      <muted-box
        :text="CONTENT"
        :description="healthTraining.content"
        :type="DEFAULT_MUTED_BOX"
      />
    </div>
    <div class="container mt-4 mb-4">
      <div class="row">
        <div @click="redirectToEditHealthTraining()" class="col-6">
          <submit-button :innerText="EDIT_TITLE"></submit-button>
        </div>
        <div @click="redirectToDeleteHealthTraining()" class="col-6">
          <delete-button :innerText="DELETE_TITLE"></delete-button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { MyHeader, MutedBox, SubmitButton, DeleteButton } from '@/components';
import { DEFAULT_MUTED_BOX } from '@/constants/commonConst';
import { HEALTH_TRAINING_OPTIONS_TYPE } from '@/constants/healthTraining';
import { mapGetters } from 'vuex';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  DELETE_TITLE,
  EDIT_TITLE,
  HEALTH_TRAINING_DETAIL_TITLE,
  DATE,
  TYPE,
  CONTENT
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    MutedBox,
    SubmitButton,
    DeleteButton
  },
  data() {
    return {
      healthTraining: {},
      DELETE_TITLE,
      EDIT_TITLE,
      HEALTH_TRAINING_DETAIL_TITLE,
      DATE,
      TYPE,
      CONTENT,
      DEFAULT_MUTED_BOX
    };
  },
  mounted() {
    const id = this.$route.query.id;
    this.healthTraining = this.getHealthTrainingByID(id);
  },
  methods: {
    redirectToEditHealthTraining() {
      this.$router.push({
        name: 'HealthTrainingEdit',
        query: { id: this.healthTraining.healthTrainingID }
      });
    },
    redirectToDeleteHealthTraining() {
      this.$router.push({
        name: 'HealthTrainingDelete',
        query: { id: this.healthTraining.healthTrainingID }
      });
    },
    getType(type) {
      const found = HEALTH_TRAINING_OPTIONS_TYPE.find(
        item => item.value == type
      );
      if (found) return found.text;
      return '';
    }
  },
  computed: {
    ...mapGetters({
      getHealthTrainingByID: 'getHealthTrainingByID'
    }),
    convertDate() {
      return dateFormat.convertTimestampToDate(this.healthTraining.date);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.marging {
  padding-top: 100px;
}
.container {
  padding-top: 1rem;
}
</style>
