<template>
  <main class="HealthTraining">
    <header-health-notebook :title="HEALTH_TRAINING_TITLE" />
    <div class="padding"></div>
    <form class="form-container">
      <select-default
        labelFor="list-display-type"
        :value="showDefaultType"
        :options="optionsType"
        @updateProp="changeDisplayType($event)"
        :placeholder1="SELECT_PLACEHOLDER"
      />
    </form>

    <b-container class="tag mt-4 mb-4">
      <div v-if="sortedHealthTraining.length > 0">
        <section v-for="(item, index) in sortedHealthTraining" :key="index">
          <div class="tag-data" @click="redirectToDetail(item)">
            <b-row>
              <b-col class="text-top" cols="8">{{ getType(item.type) }}</b-col>
              <b-col class="text-right">
                {{ convertDate(item.date) }}
              </b-col>
            </b-row>
            <b-row>
              <b-col class="text-bottom">{{ getContent(item.content) }}</b-col>
            </b-row>
          </div>
        </section>
      </div>
      <div class="text-center pb-5 pt-4" v-else>
        <p>{{ UNREGISTERED_HEALTH_TRAINING_MESSAGE }}</p>
      </div>
      <div class="text-center pb-4" @click="redirectToRegister()">
        <submit-button :innerText="SIGN_UP_TITLE"></submit-button>
      </div>
    </b-container>
  </main>
</template>

<script>
import {
  HeaderHealthNotebook,
  SelectDefault,
  SubmitButton
} from '@/components';
import { mapGetters } from 'vuex';
import { HEALTH_TRAINING_OPTIONS_TYPE } from '@/constants/healthTraining';
import { MAX_TEXT_AREA_DISPLAY } from '@/constants/commonConst';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  SIGN_UP_TITLE,
  HEALTH_TRAINING_TITLE,
  UNREGISTERED_HEALTH_TRAINING_MESSAGE,
  SELECT_PLACEHOLDER
} from '@/constants/lang';

export default {
  name: '',
  components: {
    HeaderHealthNotebook,
    SelectDefault,
    SubmitButton
  },
  data() {
    return {
      showDefaultType: 'allTypes',
      displayType: 'allTypes',
      optionsType: [
        {
          value: 'allTypes',
          text: '全タイプ'
        },
        ...HEALTH_TRAINING_OPTIONS_TYPE
      ],
      MAX_TEXT_AREA_DISPLAY,
      SIGN_UP_TITLE,
      HEALTH_TRAINING_TITLE,
      UNREGISTERED_HEALTH_TRAINING_MESSAGE,
      SELECT_PLACEHOLDER
    };
  },
  created() {
    window.scrollTo(0, 0);
  },
  methods: {
    redirectToRegister() {
      this.$router.push({ name: 'HealthTrainingRegister' });
    },
    redirectToDetail(healthTraining) {
      this.$router.push({
        name: 'HealthTrainingDetail',
        query: { id: healthTraining.healthTrainingID }
      });
    },
    convertDate(time) {
      return dateFormat.convertTimestampToDate(time);
    },
    getType(type) {
      const found = HEALTH_TRAINING_OPTIONS_TYPE.find(
        item => item.value === type
      );
      if (found) return found.text;
      return '';
    },
    getContent(content) {
      const newContent = content;
      return newContent.length > this.MAX_TEXT_AREA_DISPLAY
        ? newContent.substring(0, this.MAX_TEXT_AREA_DISPLAY) + '…'
        : newContent;
    },
    changeDisplayType(value) {
      this.displayType = value;
    }
  },
  computed: {
    ...mapGetters({
      healthTraining: 'getHealthTrainingList'
    }),
    sortedHealthTraining() {
      if (this.displayType !== this.showDefaultType) {
        return this.healthTraining
          .slice(0)
          .filter(item => item.type === this.displayType)
          .sort((a, b) => {
            return a.date - b.date;
          });
      } else {
        const type = HEALTH_TRAINING_OPTIONS_TYPE.slice(0).map(
          item => item.value
        );

        let arr = [];

        for (let i = 0; i < type.length; i++) {
          const temp = this.healthTraining
            .slice(0)
            .filter(item => item.type === type[i])
            .sort((a, b) => {
              return a.date - b.date;
            });
          arr = [...arr, ...temp];
        }

        return arr;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  font-family: HiraginoProW3;
}
p {
  margin: 0;
}

.HealthTraining {
  height: inherit;
  overflow: auto;
  background-color: var(--background-color);
}
.padding {
  padding-top: 55px;
}
.form-container {
  background-color: var(--main-theme-color);
  height: 64px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
}
.tag {
  width: var(--width);
}
.tag-data {
  background-color: #fff;
  margin-bottom: 1.2rem;
  border-radius: 7px;
  box-shadow: 0px 5px 5px 1px #ccc;
  font-size: 1rem;
  cursor: pointer;
}
.text-top {
  margin: 1.1rem 0rem 0rem 1rem;
  padding-right: 0;
  font-size: 16px;
  font-family: HiraginoProW3;
}
.text-right {
  margin: 1.1rem 1rem 0rem 0rem;
  text-align: end !important;
  padding-left: 0px;
  color: #aaa;
  font-size: 12px;
  font-family: NotoSansJPLight;
}
.text-bottom {
  margin: 0.3rem 1rem 1.1rem 1rem;
  color: #aaa;
  font-size: 12px;
  font-family: NotoSansJPLight;
}
div.text-center p {
  font-family: NotoSansJPLight;
  font-size: 16px;
  color: #101010;
}
.now {
  color: #d66634;
}
.myBtn {
  text-align: center;
}
div.text-center {
  width: var(--width);
  margin-top: 2rem;
}
</style>
