<template>
  <main class="HealthTrainingRegister">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="HEALTH_TRAINING_REGISTER_TITLE" />
    <div class="padding"></div>
    <div class="container mt-5">
      <form class="form-container" @submit.prevent="createHealthTraining()">
        <div class="form-group">
          <input-date-ios-scroll
            :title="DATE"
            :hasError="
              $v.healthTraining.date.$invalid && $v.healthTraining.date.$dirty
            "
            :date="convertDate"
            @updateDate="updateDate($event)"
          />
          <p
            class="error-message"
            v-if="
              $v.healthTraining.date.$invalid &&
                $v.healthTraining.date.$dirty &&
                !$v.healthTraining.date.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group">
          <select-default
            :label="TYPE"
            labelFor="input-hospital"
            :options="HEALTH_TRAINING_OPTIONS_TYPE"
            :value="healthTraining.type"
            :hasError="
              $v.healthTraining.type.$invalid && $v.healthTraining.type.$dirty
            "
            @updateProp="updateType($event)"
            :placeholder1="SELECT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.healthTraining.type.$invalid &&
                $v.healthTraining.type.$dirty &&
                !$v.healthTraining.type.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group">
          <textarea-input-default
            :label="CONTENT"
            labelFor="input-content"
            type="textarea"
            :value="healthTraining.content"
            :hasError="
              $v.healthTraining.content.$invalid &&
                $v.healthTraining.content.$dirty
            "
            @updateProp="updateContent($event)"
            placeholder=""
          />
          <p
            class="error-message"
            v-if="
              $v.healthTraining.content.$invalid &&
                $v.healthTraining.content.$dirty &&
                !$v.healthTraining.content.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="text-center">
          <submit-button :innerText="REGISTRATION"></submit-button>
        </div>
      </form>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  TextareaInputDefault,
  SelectDefault,
  SubmitButton,
  InputDateIosScroll,
  Modal
} from '@/components';
import { HEALTH_TRAINING_OPTIONS_TYPE } from '@/constants/healthTraining';
import { required } from 'vuelidate/lib/validators';
import { dateFormat } from '@/utils/utilsFunctions';
import {
  ERROR_REQUIRED,
  REGISTRATION,
  REGISTRATION_HEALTH_TRAINING_ERR_MESSAGE,
  HEALTH_TRAINING_REGISTER_TITLE,
  DATE,
  TYPE,
  CONTENT,
  SELECT_PLACEHOLDER
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    TextareaInputDefault,
    SelectDefault,
    SubmitButton,
    InputDateIosScroll,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      healthTraining: {
        date: '',
        type: '',
        content: '',
        user: '',
        userID: ''
      },
      HEALTH_TRAINING_OPTIONS_TYPE,
      ERROR_REQUIRED,
      REGISTRATION,
      REGISTRATION_HEALTH_TRAINING_ERR_MESSAGE,
      HEALTH_TRAINING_REGISTER_TITLE,
      DATE,
      TYPE,
      CONTENT,
      SELECT_PLACEHOLDER
    };
  },
  validations: {
    healthTraining: {
      date: {
        required
      },
      type: {
        required
      },
      content: {
        required
      }
    }
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem('user'));
    this.healthTraining.user = user;
    this.healthTraining.userID = user.userID;
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    redirectToListHealthTraining() {
      this.$router.push({ name: 'HealthTraining' });
    },
    updateType(value) {
      this.healthTraining.type = value;
    },
    updateContent(value) {
      this.healthTraining.content = value;
    },
    updateDate(value) {
      // timestamp
      this.healthTraining.date = new Date(value).getTime();
    },
    async createHealthTraining() {
      this.$v.$touch();

      if (!this.$v.$error) {
        try {
          await this.$store.dispatch(
            'createHealthTraining',
            this.healthTraining
          );
        } catch (error) {
          this.errorMessage = REGISTRATION_HEALTH_TRAINING_ERR_MESSAGE;
          this.isModalOpen = true;
          return;
        }

        this.$router.push({ name: 'HealthTraining' });
      }
    }
  },
  computed: {
    convertDate() {
      return dateFormat.convertTimestampToDate(this.healthTraining.date);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.padding {
  padding-top: 55px;
}
.container {
  width: var(--width);
}
div.text-margin {
  margin-bottom: 1.5rem;
}
div.col-6:nth-child(1) {
  padding-right: 0;
}
div.col-6:nth-child(2) {
  padding-left: 5px;
}
.col-6 button {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
</style>
