<template>
  <th>
    <div class="single-date-picker__calendar-week-header">
      {{ day }}
    </div>
  </th>
</template>

<script>
export default {
  props: {
    day: {
      type: String,
      default: () => ''
    }
  }
};
</script>

<style scoped>
.single-date-picker__calendar-week-header {
  margin: 0.38rem 0px;
  font-size: 15px;
  color: #000;
  font-family: HiraginoSansW3;
  font-weight: 100;
}
</style>
