<template>
  <table class="single-date-picker__calendar-month">
    <thead>
      <CalendarWeekHeader
        v-for="(day, index) in daysInWeek"
        :key="index"
        :day="day"
      />
    </thead>
    <tbody>
      <CalendarWeek
        v-for="(week, index) in datesPerWeek"
        :key="index"
        :week="week"
        :is-today="isToday"
        :is-selected="isSelected"
        :arrData="selectedDateData"
        @selectDate="selectDate"
      />
    </tbody>
  </table>
</template>

<script>
import CalendarWeekHeader from './CalendarWeekHeader';
import CalendarWeek from './CalendarWeek';

export default {
  components: {
    CalendarWeekHeader,
    CalendarWeek
  },
  props: {
    datesPerWeek: {
      type: Array,
      default: () => []
    },
    isToday: {
      type: Number,
      default: 0
    },
    isSelected: {
      type: Number,
      default: 0
    },
    weekStartDay: {
      type: Number,
      default: 0
    },
    arrData: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      daysInWeek: ['日', '月', '火', '水', '木', '金', '土']
    };
  },
  created() {
    this.rotateDaysInWeek(this.daysInWeek, this.weekStartDay);
  },
  computed: {
    selectedDateData() {
      const arr = this.arrData.slice(0);
      return arr.map(value => {
        return {
          id: value.id,
          dayValue: new Date(value.dateValue).getDate()
        };
      });
    }
  },
  methods: {
    selectDate(date) {
      this.$emit('selectDate', date);
    },
    rotateDaysInWeek(daysInWeek, shifts) {
      while (shifts--) {
        const temp = daysInWeek.shift();
        daysInWeek.push(temp);
      }
    }
  }
};
</script>

<style scoped>
.single-date-picker__calendar-month {
  width: 100%;
  padding: 10px;
}
thead {
  background-color: #eef2d0;
}
</style>
