<template>
  <div class="single-date-picker__calendar-month-header">
    <div class="single-date-picker__arrow left" @click="toggleMonth(-1)">
      <img class="icon" alt="previous-icon" src="@/assets/icons/previous.png" />
    </div>
    <div class="single-date-picker__year">{{ year }}年{{ getMonth }}月</div>
    <div class="single-date-picker__arrow right" @click="toggleMonth(1)">
      <img class="icon" alt="next-icon" src="@/assets/icons/next.png" />
    </div>
  </div>
</template>

<script>
const MONTHS = [
  'january',
  'february',
  'march',
  'april',
  'may',
  'june',
  'july',
  'august',
  'september',
  'october',
  'november',
  'december'
];
export default {
  props: {
    year: {
      type: Number,
      default: () => 1970
    },
    month: {
      type: Number,
      default: () => 0
    }
  },
  computed: {
    fullMonth() {
      return MONTHS[this.month];
    },
    getMonth() {
      return this.month + 1;
    }
  },
  methods: {
    toggleMonth(direction) {
      this.$emit('toggleMonth', direction);
    }
  }
};
</script>

<style scoped>
.single-date-picker__calendar-month-header {
  padding: 15px;
  background-color: #cad47a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.single-date-picker__year {
  font-size: 17px;
  font-family: HiraginoProW3;
}
.single-date-picker__arrow {
  cursor: pointer;
}
.icon {
  width: 8px;
  height: 16.5px;
  display: inline-block;
}
</style>
