<template>
  <td>
    <div
      v-show="date"
      class="single-date-picker__date"
      :class="{
        'single-date-picker__today': isToday,
        'single-date-picker__selected': isSelected,
        selected: checkDate
      }"
      @click="selectDate"
    >
      <router-link
        tag="span"
        :to="{
          name: 'MedicalExamDetail',
          query: { id: getExaminationSchedule }
        }"
        v-if="checkDate"
        >{{ date }}</router-link
      >
      <span v-else>{{ date }}</span>
    </div>
  </td>
</template>

<script>
export default {
  props: {
    date: {
      type: Number,
      default: () => 1
    },
    isToday: {
      type: Boolean,
      default: true
    },
    isSelected: {
      type: Boolean,
      default: false
    },
    arrData: {
      type: Array,
      default: () => []
    },
    selectedDate: {
      type: Boolean
    }
  },
  methods: {
    selectDate() {
      this.$emit('selectDate', this.date);
    }
  },
  computed: {
    checkDate() {
      for (const item of this.arrData) {
        if (item.dayValue == this.date) {
          return true;
        }
      }
      return false;
    },
    getExaminationSchedule() {
      const arr = this.arrData.slice(0);
      return arr.find(value => {
        return value.dayValue === this.date;
      }).id;
    }
  }
};
</script>

<style scoped>
.single-date-picker__date {
  font-size: 17px;
  height: 30px;
  width: 30px;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;

  &.single-date-picker__selected {
    border-radius: 50%;
    border: 2px solid pink;
  }
}
td {
  text-align: -webkit-center;
  padding: 0.38rem 0;
}
.single-date-picker__today {
  border-radius: 50%;
  background-color: #ddb1c0;
}

.selected {
  background-color: #cad47a !important;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
</style>
