<template>
  <div class="container my-container">
    <img
      v-if="!!photo && !!photo.s3"
      v-bind:src="photo.s3.Location"
      alt="A photo for covering this page"
    />
  </div>
</template>

<script>
export default {
  name: 'CoverPhoto',
  props: {
    photo: Object
  }
};
</script>

<style scoped>
.container {
  height: 180px;
  width: 100%;
  background-color: rgba(199, 214, 108, 0.8);
  padding: 0;
  margin: 0;
  position: absolute;
}
.my-container {
  max-width: 100% !important;
}
img {
  width: 100%;
  max-width: 100%;
  height: 180px;
  opacity: 0.2;
}
</style>
