<template>
  <div class="ProfilePhoto">
    <img
      v-if="!!photo && !!photo.s3"
      v-bind:src="photo.s3.Location"
      alt="A photo for profile"
    />
  </div>
</template>

<script>
export default {
  name: 'ProfilePhoto',
  props: {
    photo: Object
  }
};
</script>

<style scoped>
.ProfilePhoto {
  height: 100px;
  width: 100px;
}

.ProfilePhoto > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
</style>
