<template>
  <div>
    <img v-if="photo" v-bind:src="photo.s3.Location" />
  </div>
</template>

<script>
export default {
  name: 'RoundPhoto',
  props: {
    photo: Object
  }
};
</script>

<style scoped>
.image-round {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
</style>
