<template>
  <div>
    <img v-if="photo" v-bind:src="photo.s3.Location" />
  </div>
</template>

<script>
export default {
  name: 'RoundPhoto',
  props: {
    photo: Object
  }
};
</script>

<style scoped>
img {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
}
</style>
