<template>
  <div v-if="!!photo">
    <img class="image-round" v-if="!!photo" v-bind:src="photo.s3.Location" />
  </div>
</template>

<script>
export default {
  name: 'RoundPhotoExtraSmall',
  props: {
    photo: Object
  }
};
</script>

<style scoped>
.image-round {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.image-round .img {
  position: absolute;
  top: -100%;
  bottom: -100%;
  margin: auto;
}
</style>
