<template>
  <div class="ConfirmToDelete">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="DELETE_TITLE" />
    <main>
      <section class="confirm">{{ CONFIRM_HOSPITAL_DELETION }}</section>
      <section class="buttons">
        <my-button
          :innerText="'戻る'"
          :width="'45%'"
          :callback="goBackToHospital"
        />
        <my-button
          :innerText="DELETE_TITLE"
          :width="'45%'"
          class="button-delete"
          :callback="invokeDeleteHospital"
        />
      </section>
    </main>
  </div>
</template>

<script>
import { MyHeader, MyButton, Modal } from '@/components';
import { mapGetters } from 'vuex';
import {
  DELETE_TITLE,
  CONFIRM_HOSPITAL_DELETION,
  DELETE_HOSPITAL_ERR_MESSAGE
} from '@/constants/lang';
import { DEACTIVE } from '@/constants';

export default {
  name: 'ConfirmToDelete',
  components: {
    MyHeader,
    MyButton,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      DELETE_TITLE,
      CONFIRM_HOSPITAL_DELETION,
      DELETE_HOSPITAL_ERR_MESSAGE
    };
  },
  computed: {
    ...mapGetters({
      getHospitalByID: 'getHospitalByID'
    }),
    hospital() {
      const id = this.$route.query.id;
      return this.getHospitalByID(id);
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    async invokeDeleteHospital() {
      this.hospital.activity = DEACTIVE;

      try {
        await this.$store.dispatch('updateHospital', {
          hospitalID: this.hospital.hospitalID,
          hospital: this.hospital
        });
      } catch (error) {
        this.errorMessage = DELETE_HOSPITAL_ERR_MESSAGE;
        this.isModalOpen = true;
        return;
      }

      this.$router.push({
        name: 'PrimaryCareHospital'
      });
    },
    goBackToHospital() {
      this.$router.push({
        name: 'PrimaryCareHospitalDetail',
        query: { id: this.hospital.hospitalID }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ConfirmToDelete {
  background-color: #ffffff;
  width: inherit;
  height: inherit;
}

main {
  width: 100%;
  padding-top: 55px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.confirm {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-delete {
  background-color: #aa4443;
}
</style>
