<template>
  <main class="PrimaryCareHospitalRegister">
    <modal
      v-bind:isModalOpen="isModalOpen"
      v-bind:message="errorMessage"
      :closeModal="closeModal"
    />
    <my-header :title="PRIMARY_CARE_HOSPITAL_DEPARTMENT_REGISTER_TITLE" />
    <div class="padding"></div>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-6 text-left">
          <p>{{ DEPARTMENT }}</p>
        </div>
        <div class="col-6 text-right">
          <p>{{ DOCTOR }}</p>
        </div>
      </div>
      <form v-on:submit.prevent="createNewHospital()">
        <div v-for="(item, index) in doctors" :key="index">
          <div
            v-if="index % 2 === 0"
            class="row"
            style="background-color:#EEF2D0"
          >
            <div class="form-group col-6">
              <select-default
                :label-for="'select' + index"
                :options="list"
                :value="doctors[index].department"
                :hasError="
                  $v.doctors.$each[index].department.$invalid &&
                    $v.doctors.$each[index].department.$dirty
                "
                @updateProp="updateMedicalDepartment(index, $event)"
                :placeholder1="SELECT_PLACEHOLDER"
                class="form-custom"
              />
              <p
                class="error-message"
                v-if="
                  $v.doctors.$each[index].department.$invalid &&
                    $v.doctors.$each[index].department.$dirty &&
                    !$v.doctors.$each[index].department.required
                "
              >
                {{ ERROR_REQUIRED }}
              </p>
            </div>
            <div class="form-group col-6">
              <text-input-default
                :label-for="'text-input' + index"
                :MAX_TEXT_LENGTH="MAX_TEXT_LENGTH"
                :required="false"
                @updateProp="updateDoctor(index, $event)"
                :placeholder="INPUT_TEXT_PLACEHOLDER"
              />
            </div>
          </div>
          <div v-else class="row">
            <div class="form-group col-6">
              <select-default
                :label-for="'select' + index"
                :options="list"
                :value="doctors[index].department"
                :hasError="
                  $v.doctors.$each[index].department.$invalid &&
                    $v.doctors.$each[index].department.$dirty
                "
                @updateProp="updateMedicalDepartment(index, $event)"
                :placeholder1="SELECT_PLACEHOLDER"
                class="form-custom"
              />
              <p
                class="error-message"
                v-if="
                  $v.doctors.$each[index].department.$invalid &&
                    $v.doctors.$each[index].department.$dirty &&
                    !$v.doctors.$each[index].department.required
                "
              >
                {{ ERROR_REQUIRED }}
              </p>
            </div>
            <div class="form-group col-6">
              <text-input-default
                :label-for="'text-input' + index"
                :MAX_TEXT_LENGTH="MAX_TEXT_LENGTH"
                :required="false"
                @updateProp="updateDoctor(index, $event)"
                :placeholder="INPUT_TEXT_PLACEHOLDER"
              />
            </div>
          </div>
        </div>
        <span class="text-add mt-3 mb-3" @click="addCol()">
          <img width="14px" height="14px" src="@/assets/icons/plus-icon.png" />
          <p>{{ ADD_ROW }}</p>
        </span>
        <div class="text-center pt-2 pb-4">
          <submit-button :innerText="REGISTRATION" />
        </div>
      </form>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  TextInputDefault,
  SelectDefault,
  SubmitButton,
  Modal
} from '@/components';
import { EMERGENCY_WARD_LIST } from '@/constants/healthTraining';
import { MAX_TEXT_LENGTH } from '@/constants/commonConst';
import { required } from 'vuelidate/lib/validators';
import {
  SELECT_PLACEHOLDER,
  INPUT_TEXT_PLACEHOLDER,
  ERROR_REQUIRED,
  REGISTRATION,
  REGISTRATION_HOSPITAL_ERR_MESSAGE,
  PRIMARY_CARE_HOSPITAL_DEPARTMENT_REGISTER_TITLE,
  DEPARTMENT,
  DOCTOR,
  ADD_ROW
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    TextInputDefault,
    SelectDefault,
    SubmitButton,
    Modal
  },
  data() {
    return {
      isModalOpen: false,
      errorMessage: '',
      list: EMERGENCY_WARD_LIST,
      doctors: [{ department: '', doctor: '' }],
      SELECT_PLACEHOLDER,
      INPUT_TEXT_PLACEHOLDER,
      ERROR_REQUIRED,
      MAX_TEXT_LENGTH,
      REGISTRATION,
      REGISTRATION_HOSPITAL_ERR_MESSAGE,
      PRIMARY_CARE_HOSPITAL_DEPARTMENT_REGISTER_TITLE,
      DEPARTMENT,
      DOCTOR,
      ADD_ROW
    };
  },
  validations: {
    doctors: {
      $each: {
        department: { required },
        doctor: {}
      }
    }
  },
  computed: {
    hospital() {
      return this.$route.params.hospital;
    }
  },
  methods: {
    closeModal() {
      this.isModalOpen = false;
    },
    addCol() {
      this.doctors.push({ department: '', doctor: '' });
    },
    formatString(str) {
      // loai bo khoang trang khoi chuoi
      str = str.replace(/\s+/g, ' ').trim();
      return str;
    },
    updateDoctor(index, value) {
      this.doctors[index].doctor = this.formatString(value);
    },
    updateMedicalDepartment(index, value) {
      this.doctors[index].department = value;
    },
    async createNewHospital() {
      this.$v.$touch();

      if (!this.$v.$error) {
        const newHospital = { ...this.hospital };
        newHospital.doctor = this.doctors;
        let createHospitalResult = null;
        try {
          createHospitalResult = await this.$store.dispatch(
            'createHospital',
            newHospital
          );
        } catch (error) {
          this.errorMessage = REGISTRATION_HOSPITAL_ERR_MESSAGE;
          this.isModalOpen = true;
          return;
        }
        this.$router.push({
          name: 'PrimaryCareHospital',
          params: { hospital: createHospitalResult }
        });
      }
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.padding {
  padding-top: 60px;
}
p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: HiraginoProW3;
}
.form-custom {
  position: absolute;
  bottom: 0;
  width: auto;
}
.text-right p {
  margin-right: 1rem;
}
.text-left p {
  margin-left: 1rem;
}
.text-add {
  display: block;
  text-align: center;
  color: var(--main-theme-color);
  font-family: HiraginoProW6;
  vertical-align: middle;
  cursor: pointer;
}
span.text-add img {
  display: inline-block;
  margin-right: 0.4rem;
}
.text-add p {
  display: inline-block;
}
.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
</style>
