<template>
  <main class="PrimarycareHospitalDetail">
    <my-header :title="PRIMARY_CARE_HOSPITAL_DETAIL_TITLE" />
    <div class="padding"></div>
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-6 pl-3">
          <span class="text-title">{{ hospital.hospitalName }}</span>
        </div>
        <div class="col-6 text-right" style="margin:auto 0;">
          <a :href="'tel:' + hospital.phoneNumber">
            <span class="text-right">
              <img
                class="phone-icon"
                alt="phone-icon"
                src="@/assets/icons/phone.png"
              />
              {{ CALL }}
            </span></a
          >
        </div>
      </div>
    </div>
    <muted-box
      :text="POSTAL_CODE"
      :description="hospital.postalCode"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="PREFECTURES"
      :description="hospital.prefectures"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="ADDRESS"
      :description="hospital.address"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="CLOSED_DAYS"
      :description="''"
      :title="getCloseDay"
      :type="DESCRIPTION_MUTED_BOX"
    />
    <muted-box
      :text="PHONE_NUMBER"
      :description="hospital.phoneNumber"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="EMERGENCY_WARD"
      :description="getEmergencyWard"
      :type="DEFAULT_MUTED_BOX"
    />
    <muted-box
      :text="DEPARTMENT"
      :description="''"
      :title="getClinicDescripton"
      :type="DESCRIPTION_MUTED_BOX"
    />
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-6 pl-3" @click="editPrimaryHospital()">
          <submit-button :innerText="EDIT_TITLE"></submit-button>
        </div>
        <div class="col-6" @click="deletePrimaryHospital()">
          <delete-button :innerText="DELETE_TITLE"></delete-button>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { MyHeader, MutedBox, SubmitButton, DeleteButton } from '@/components';
import {
  WEEKLIST,
  YES,
  NO,
  SUNDAY,
  DEFAULT_MUTED_BOX,
  DESCRIPTION_MUTED_BOX
} from '@/constants/commonConst';
import { EMERGENCY_WARD_LIST } from '@/constants/healthTraining';
import { mapGetters } from 'vuex';
import {
  DELETE_TITLE,
  EDIT_TITLE,
  PRIMARY_CARE_HOSPITAL_DETAIL_TITLE,
  POSTAL_CODE,
  PREFECTURES,
  ADDRESS,
  CLOSED_DAYS,
  PHONE_NUMBER,
  EMERGENCY_WARD,
  DEPARTMENT,
  CALL
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    MutedBox,
    SubmitButton,
    DeleteButton
  },
  data() {
    return {
      hospital: {},
      wardList: [
        { value: YES, text: 'あり' },
        { value: NO, text: 'なし' }
      ],
      DELETE_TITLE,
      EDIT_TITLE,
      PRIMARY_CARE_HOSPITAL_DETAIL_TITLE,
      POSTAL_CODE,
      PREFECTURES,
      ADDRESS,
      CLOSED_DAYS,
      PHONE_NUMBER,
      EMERGENCY_WARD,
      DEPARTMENT,
      CALL,
      SUNDAY,
      DEFAULT_MUTED_BOX,
      DESCRIPTION_MUTED_BOX
    };
  },
  mounted() {
    const id = this.$route.query.id;
    this.hospital = this.getHospitalByID(id);
  },
  computed: {
    ...mapGetters({
      getHospitalByID: 'getHospitalByID'
    }),
    getCloseDay() {
      let str = '';
      if (this.hospital.doctorNoConsultationDay) {
        const sortedListCloseday = this.hospital.doctorNoConsultationDay
          .slice(0)
          .sort((a, b) => {
            if (a === SUNDAY || b === SUNDAY) return b - a;
            else return a - b;
          });
        for (const item of sortedListCloseday) {
          const closeDay = WEEKLIST.find(weeklist => weeklist.value === item);
          if (closeDay) {
            str += `${closeDay.text}<br>`;
          }
        }
      }
      return str;
    },
    getEmergencyWard() {
      if (this.hospital.emergencyWard === YES) return this.wardList[0].text;
      else return this.wardList[1].text;
    },
    getClinicDescripton() {
      let str = '';
      for (const item of this.hospital.doctor) {
        const emergencyWard = EMERGENCY_WARD_LIST.find(
          em => em.value === item.department
        );
        if (emergencyWard) {
          const doctor = item.doctor && `(${item.doctor})`;
          str += `${emergencyWard.text} ${doctor}<br>`;
        }
      }
      return str;
    }
  },
  methods: {
    editPrimaryHospital() {
      this.$router.push({
        name: 'PrimaryCareHospitalEdit',
        query: {
          id: this.hospital.hospitalID
        }
      });
    },
    deletePrimaryHospital() {
      this.$router.push({
        name: 'DeleteHospital',
        query: {
          id: this.hospital.hospitalID
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: var(--width);
}
.padding {
  padding-top: 55px;
}

.text-title {
  font-family: HiraginoProW3;
  font-size: 24px;
  padding: 0.3rem;
}
.phone-icon {
  width: 17px;
  height: 17.5px;
  display: inline-block;
  margin-right: 5px;
}
.text-right {
  color: var(--main-theme-color);
  font-family: HiraginoProW6;
  font-size: 13px;
}
</style>
