<template>
  <main class="PrimaryCareHospitalList">
    <div v-if="getSortedHospitalList.length !== 0">
      <div
        class="container mb-3"
        v-for="(item, index) in getSortedHospitalList"
        :key="index"
      >
        <span class="text-padding">
          <div class="row">
            <div class="col-7" @click="redirectToDetail(item)">
              <p class="left txt">{{ item.hospitalName }}</p>
            </div>
            <div class="col-5 text-right">
              <a :href="'tel:' + item.phoneNumber">
                <span class="txt d-inline-block">
                  <img
                    width="auto"
                    height="17px"
                    alt="phone-icon"
                    src="@/assets/icons/phone.png"
                  />
                  <p class="right">{{ CALL }}</p>
                </span></a
              >
            </div>
          </div>
        </span>
        <hr />
        <div
          v-for="(doctor, i) in item.doctor"
          :key="i"
          @click="redirectToDetail(item)"
        >
          <span class="text-padding">
            <div class="row">
              <div class="col-12">
                <p class="txt bottom">
                  {{ getDoctorInfo(doctor) }}
                </p>
              </div>
            </div>
          </span>
          <hr />
        </div>
      </div>
    </div>
    <div class="text-center" v-else>
      <p>{{ UNREGISTERED_HOSPITAL_MESSAGE }}</p>
    </div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';
import { EMERGENCY_WARD_LIST } from '@/constants/healthTraining';
import { ACTIVE } from '@/constants/commonConst';
import { UNREGISTERED_HOSPITAL_MESSAGE, CALL } from '@/constants/lang';

export default {
  name: '',
  components: {},
  data() {
    return { UNREGISTERED_HOSPITAL_MESSAGE, CALL, ACTIVE };
  },
  computed: {
    ...mapGetters({ hospitalList: 'getHospitalList' }),
    getSortedHospitalList() {
      if (this.hospitalList) {
        return this.hospitalList
          .slice(0)
          .sort((a, b) => b.createdAt - a.createdAt);
      } else {
        return [];
      }
    }
  },
  methods: {
    redirectToDetail(hospital) {
      this.$router.push({
        name: 'PrimaryCareHospitalDetail',
        query: { id: hospital.hospitalID }
      });
    },
    getDoctorInfo(data) {
      const found = EMERGENCY_WARD_LIST.slice(0).find(
        item => item.value === data.department
      );
      if (found) {
        const text = found.text.concat(data.doctor && ` (${data.doctor}) `);
        return text;
      }
      return '';
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p,
hr {
  margin: 0;
}
a {
  text-decoration: none;
}
hr {
  margin: 0 10px;
}
.container {
  margin: 0 15px;
  padding: 0;
  background-color: #fff;
  width: var(--width);
  border-radius: 7px;
  box-shadow: 0px 5px 5px 1px #ccc;
  cursor: pointer;
}
span.text-padding {
  padding: 15px 10px 15px 10px;
  display: block;
}
span img {
  padding-right: 8px;
}
.txt {
  font-family: HiraginoProW6;
  color: var(--main-theme-color);
  font-size: 16px;
  padding: 0px 7px;
}
p.right,
p.bottom {
  font-size: 13px;
  display: inline-block;
}
.txt.bottom {
  font-family: NotoSansJPRegular;
  color: #101010;
}
div.text-center p {
  font-family: NotoSansJPRegular;
  font-size: 16px;
  color: #101010;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
}
</style>
