<template>
  <main class="PrimaryCareHospitalRegister">
    <my-header :title="PRIMARY_CARE_HOSPITAL_HOSPITAL_REGISTER_TITLE" />
    <div class="padding"></div>
    <div class="container mt-5">
      <form @submit.stop.prevent="goToRegisterDoctor()">
        <div class="form-group">
          <text-input-default
            :label="HOSPITAL_NAME"
            :label-for="'NameOfHospital'"
            :hasError="
              $v.newHospital.hospitalName.$invalid &&
                $v.newHospital.hospitalName.$dirty
            "
            :maxlength="MAX_TEXT_LENGTH"
            :value="newHospital.hospitalName"
            :required="false"
            @updateProp="newHospital.hospitalName = formatString($event)"
            :placeholder="INPUT_TEXT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.newHospital.hospitalName.$invalid &&
                $v.newHospital.hospitalName.$dirty &&
                !$v.newHospital.hospitalName.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group row">
          <div class="col-6">
            <text-input-default
              :label="POSTAL_CODE"
              :label-for="'PostalCodeAddress'"
              :value="newHospital.postalCode"
              :required="false"
              @updateProp="newHospital.postalCode = $event"
              :placeholder="INPUT_TEXT_PLACEHOLDER"
            />
          </div>

          <div class="col-6">
            <button
              id="postalCodeButton"
              style="width: 80%;"
              type="button"
              @click="getLocaleByPostalCode"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                v-if="loadingStatus"
              ></span>
              {{ AUTO_ENTER_ADDRESS }}
            </button>
          </div>
          <p
            class="error-message"
            style="padding-left:15px"
            v-if="postalCodeErrMess"
          >
            {{ NOT_FOUND_POSTALCODE }}
          </p>
        </div>
        <div class="form-group">
          <select-default
            :label="PREFECTURES"
            :value="newHospital.prefectures"
            :hasError="
              $v.newHospital.prefectures.$invalid &&
                $v.newHospital.prefectures.$dirty
            "
            @updateProp="changePrefectures($event)"
            :labelFor="'prefectures'"
            :options="provinceList"
            :placeholder1="SELECT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.newHospital.prefectures.$invalid &&
                $v.newHospital.prefectures.$dirty &&
                !$v.newHospital.prefectures.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group">
          <text-input-default
            :label="ADDRESS"
            :label-for="'streetAddress'"
            :hasError="
              $v.newHospital.address.$invalid && $v.newHospital.address.$dirty
            "
            :required="false"
            :value="newHospital.address"
            :maxlength="MAX_TEXT_LENGTH"
            @updateProp="newHospital.address = formatString($event)"
            :placeholder="INPUT_TEXT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.newHospital.address.$invalid &&
                $v.newHospital.address.$dirty &&
                !$v.newHospital.address.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group">
          <mutil-select
            :title="CLOSED_DAYS"
            :options="WEEKLIST"
            :value="newHospital.doctorNoConsultationDay"
            :hasError="
              $v.newHospital.doctorNoConsultationDay.$invalid &&
                $v.newHospital.doctorNoConsultationDay.$dirty
            "
            :placeholder="SELECT_PLACEHOLDER"
            :selectLabel="TAP_TO_SELECT_MESSAGE"
            :selectedLabel="SELECTED"
            :removeLabel="UNSELECTED"
            @updateProp="changeDoctorNoConsultationDay($event)"
          />
          <p
            class="error-message"
            v-if="
              $v.newHospital.doctorNoConsultationDay.$invalid &&
                $v.newHospital.doctorNoConsultationDay.$dirty &&
                !$v.newHospital.doctorNoConsultationDay.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="form-group">
          <text-input-default
            :label="PHONE_NUMBER"
            :label-for="'phone'"
            :value="newHospital.phoneNumber"
            :required="false"
            :hasError="
              $v.newHospital.phoneNumber.$invalid &&
                $v.newHospital.phoneNumber.$dirty
            "
            @updateProp="newHospital.phoneNumber = $event"
            :placeholder="INPUT_TEXT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.newHospital.phoneNumber.$invalid &&
                $v.newHospital.phoneNumber.$dirty &&
                !$v.newHospital.phoneNumber.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
          <p
            class="error-message"
            v-if="
              $v.newHospital.phoneNumber.$invalid &&
                $v.newHospital.phoneNumber.$dirty &&
                !$v.newHospital.phoneNumber.numeric
            "
          >
            {{ ERROR_PHONE_NUMBER }}
          </p>
        </div>
        <div class="form-group">
          <select-default
            :label="EMERGENCY_WARD"
            :labelFor="'emergencyWard'"
            :options="wardList"
            :hasError="
              $v.newHospital.emergencyWard.$invalid &&
                $v.newHospital.emergencyWard.$dirty
            "
            :value="newHospital.emergencyWard"
            @updateProp="changeEmergencyWard($event)"
            :placeholder1="SELECT_PLACEHOLDER"
          />
          <p
            class="error-message"
            v-if="
              $v.newHospital.emergencyWard.$invalid &&
                $v.newHospital.emergencyWard.$dirty &&
                !$v.newHospital.emergencyWard.required
            "
          >
            {{ ERROR_REQUIRED }}
          </p>
        </div>
        <div class="text-center pt-2 pb-4">
          <submit-button :innerText="REGISTRATION" />
        </div>
      </form>
    </div>
  </main>
</template>

<script>
import {
  MyHeader,
  TextInputDefault,
  SelectDefault,
  SubmitButton,
  MutilSelect
} from '@/components';
import { JAPAN_PROVINCE } from '@/constants/healthTraining';
import {
  WEEKLIST,
  YES,
  NO,
  MAX_TEXT_LENGTH,
  MULTIPLE_SELECT
} from '@/constants/commonConst';
import { required, numeric } from 'vuelidate/lib/validators';
import {
  INPUT_TEXT_PLACEHOLDER,
  ERROR_REQUIRED,
  ERROR_NUMBER_FORMAT,
  ERROR_PHONE_NUMBER,
  NOT_FOUND_POSTALCODE,
  REGISTRATION,
  PRIMARY_CARE_HOSPITAL_HOSPITAL_REGISTER_TITLE,
  HOSPITAL_NAME,
  POSTAL_CODE,
  AUTO_ENTER_ADDRESS,
  PREFECTURES,
  ADDRESS,
  CLOSED_DAYS,
  PHONE_NUMBER,
  EMERGENCY_WARD,
  SELECT_PLACEHOLDER,
  TAP_TO_SELECT_MESSAGE,
  SELECTED,
  UNSELECTED
} from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    TextInputDefault,
    SelectDefault,
    SubmitButton,
    MutilSelect
  },
  data() {
    return {
      wardList: [
        { value: YES, text: 'あり' },
        { value: NO, text: 'なし' }
      ],
      provinceList: JAPAN_PROVINCE,
      WEEKLIST,
      newHospital: {
        hospitalName: '',
        postalCode: '',
        prefectures: '',
        address: '',
        doctorNoConsultationDay: [],
        phoneNumber: '',
        emergencyWard: '',
        userID: '',
        user: '',
        doctor: [],
        activity: 0
      },
      INPUT_TEXT_PLACEHOLDER,
      MULTIPLE_SELECT,
      ERROR_REQUIRED,
      ERROR_NUMBER_FORMAT,
      ERROR_PHONE_NUMBER,
      MAX_TEXT_LENGTH,
      NOT_FOUND_POSTALCODE,
      loadingStatus: false,
      postalCodeErrMess: false,
      REGISTRATION,
      PRIMARY_CARE_HOSPITAL_HOSPITAL_REGISTER_TITLE,
      HOSPITAL_NAME,
      POSTAL_CODE,
      AUTO_ENTER_ADDRESS,
      PREFECTURES,
      ADDRESS,
      CLOSED_DAYS,
      PHONE_NUMBER,
      EMERGENCY_WARD,
      SELECT_PLACEHOLDER,
      TAP_TO_SELECT_MESSAGE,
      SELECTED,
      UNSELECTED
    };
  },
  validations: {
    newHospital: {
      hospitalName: {
        required
      },
      prefectures: {
        required
      },
      address: {
        required
      },
      doctorNoConsultationDay: {
        required
      },
      phoneNumber: {
        required,
        numeric
      },
      emergencyWard: {
        required
      }
    }
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem('user'));
    this.newHospital.userID = user.userID;
    this.newHospital.user = user;
  },
  computed: {},
  watch: {},
  methods: {
    getLocaleByPostalCode() {
      let URL = '';
      const proxyUrl = 'https://cors-anywhere.herokuapp.com/';
      URL = `${proxyUrl}https://zipcloud.ibsnet.co.jp/api/search?zipcode=${this.newHospital.postalCode}`;
      this.loadingStatus = true;

      fetch(URL)
        .then(resp => resp.json())
        .then(data => {
          const obj = data.results;
          if (!obj) {
            this.newHospital.prefectures = '';
            this.newHospital.address = '';
            this.postalCodeErrMess = true;
            this.loadingStatus = false;
          } else {
            const jpProvince = this.provinceList.slice(0);
            const found = jpProvince.find(
              element => element.text === obj[0]['address1']
            );
            if (found) {
              this.newHospital.prefectures = found.value;
              this.newHospital.address = obj[0]['address3'];
              this.postalCodeErrMess = false;
              this.loadingStatus = false;
            }
          }
        });
    },
    formatString(str) {
      // loai bo khoang trang khoi chuoi
      str = str.replace(/\s+/g, ' ').trim();
      return str;
    },
    goToRegisterDoctor() {
      this.$v.$touch();
      if (!this.$v.$error) {
        this.$router.push({
          name: 'PrimaryCareMedicalRegister',
          params: { hospital: this.newHospital }
        });
      }
    },
    changeEmergencyWard(event) {
      this.newHospital.emergencyWard = event;
    },
    changeDoctorNoConsultationDay(event) {
      this.newHospital.doctorNoConsultationDay = event.map(item => item.value);
    },
    changePrefectures(event) {
      this.newHospital.prefectures = event;
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p {
  margin: 0;
  padding: 0;
}
.padding {
  padding-top: 40px;
}
.container {
  width: var(--width);
}
div.text-margin {
  margin-bottom: 1.5rem;
}
div.col-6:nth-child(1) {
  padding-right: 0;
}
div.col-6:nth-child(2) {
  padding-left: 5px;
}
.col-6 button {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.error-message {
  margin-top: 3px;
  font-family: HiraginoProW3;
  font-weight: 500;
  color: #fc3e3e;
}
button#postalCodeButton {
  height: 50px;
  border: none;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: var(--main-theme-color);
  color: white;
  font-family: HiraginoProW6;
  font-size: 14px;
}
</style>
