<template>
  <div class="PrimaryCareHospital">
    <my-header :title="PRIMARY_CARE_HOSPITAL_TITLE" />
    <div class="padding"></div>
    <primary-care-hospital-list class="mt-5 mb-5"></primary-care-hospital-list>
    <div class="text-center pb-4" @click="redirectToRegister()">
      <submit-button :innerText="SIGN_UP_TITLE" :width="'92%'" />
    </div>
  </div>
</template>

<script>
import { MyHeader, SubmitButton } from '@/components';
import PrimaryCareHospitalList from './PrimaryCareHospitalList';
import { SIGN_UP_TITLE, PRIMARY_CARE_HOSPITAL_TITLE } from '@/constants/lang';

export default {
  name: '',
  components: {
    MyHeader,
    'primary-care-hospital-list': PrimaryCareHospitalList,
    SubmitButton
  },
  data() {
    return { SIGN_UP_TITLE, PRIMARY_CARE_HOSPITAL_TITLE };
  },
  created() {
    window.scrollTo(0, 0);
  },
  methods: {
    redirectToRegister() {
      this.$router.push({ name: 'PrimaryCareHospitalRegister' });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.padding {
  padding-top: 55px;
}
.PrimaryCareHospital {
  height: inherit;
  overflow: auto;
  background-color: var(--background-color);
}
</style>
