<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {}
};
</script>

<style>
html,
body,
#app {
  width: 100%;
  height: 100%;
  --main-theme-color: #c7d66c;
  --background-color: #e4e4df;
  --width: (347/375) * 100% !important;
}

input[type='text'] {
  font-size: 16px;
}

input[type='text'],
input[type='button'],
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
}

@font-face {
  src: url('./assets/font/hiragino-kaku-gothic-pro-w3.otf');
  font-family: HiraginoProW3;
}
@font-face {
  src: url('./assets/font/hiragino-kaku-gothic-pro-w6.otf');
  font-family: HiraginoProW6;
}
@font-face {
  src: url('./assets/font/BrandonGrotesque.ttf');
  font-family: BrandonGrotesque;
}
@font-face {
  src: url('./assets/font/Hiragino-Sans-GB-W3.otf');
  font-family: HiraginoSansW3;
}
@font-face {
  src: url('./assets/font/NotoSansJP-Light.otf');
  font-family: NotoSansJPLight;
}
@font-face {
  src: url('./assets/font/NotoSansJP-Regular.otf');
  font-family: NotoSansJPRegular;
}
@font-face {
  src: url('./assets/font/NotoSansJP-Medium.otf');
  font-family: NotoSansJPMedium;
}
@font-face {
  src: url('./assets/font/NotoSansJP-Bold.otf');
  font-family: NotoSansJPBold;
}
</style>
