<template>
  <main class="HealthNotebookCategory">
    <header-health-notebook :title="'健康手帳'" />
    <section
      v-for="(value, key, index) in healthNotebookCategory"
      v-bind:key="key"
      :class="{ 'first-section': index === 0 }"
      @click="redirect(key)"
    >
      <span>{{ value }}</span>
      <span>
        <svg height="56" width="100">
          <polygon points="70,20 70,40 80,29" />
        </svg>
      </span>
    </section>
  </main>
</template>

<script>
import { HeaderHealthNotebook } from '@/components';
const categories = Object.freeze({
  medicalExaminationCalendar: '検診カレンダー',
  primaryCareHospital: 'かかりつけの病院',
  medicalExaminationRecord: '特定健診の記録',
  healthTraining: '健康教育',
  recordOfEachExam: '各検診の記録',
  specificInsuranceGuidance: '特定保険指導'
});

export default {
  name: 'HealthNotebookCategory',
  components: {
    HeaderHealthNotebook
  },
  data() {
    return {};
  },
  async mounted() {
    const userID = JSON.parse(localStorage.getItem('user')).userID;
    await this.$store.dispatch('getAllData', userID);
  },
  methods: {
    redirect(key) {
      switch (key) {
        case 'medicalExaminationCalendar': {
          this.$router.push({ name: 'ExaminationCalendar' });
          break;
        }
        case 'primaryCareHospital': {
          this.$router.push({ name: 'PrimaryCareHospital' });
          break;
        }
        case 'medicalExaminationRecord': {
          this.$router.push({ name: 'MedicalExaminationRecord' });
          break;
        }
        case 'healthTraining': {
          this.$router.push({ name: 'HealthTraining' });
          break;
        }
        case 'recordOfEachExam': {
          this.$router.push({ name: 'RecordOfEachExam' });
          break;
        }
        case 'specificInsuranceGuidance': {
          this.$router.push({ name: 'SpecificInsuranceGuidance' });
          break;
        }
      }
    }
  },
  computed: {
    healthNotebookCategory() {
      return categories;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.HealthNotebookCategory {
  width: inherit;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

section {
  padding: 0 5px 0 15px;
  width: inherit;
  height: 64px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.first-section {
  margin-top: 56px;
}
svg {
  fill: #c7d66c;
}
</style>
